@if (hasVersionMismatch) {
<div class="govuk-grid-column-full">
  <opal-lib-moj-alert type="warning" ariaLabel="Some information on this page may be out of date">
    <opal-lib-moj-alert-icon icon type="warning"></opal-lib-moj-alert-icon>
    <opal-lib-moj-alert-content content>
      <opal-lib-moj-alert-content-text
        >Some information on this page may be out of date.
        <a tabindex="0" (click)="handleRefreshPage()" (keyup.enter)="handleRefreshPage()"
          >Refresh</a
        ></opal-lib-moj-alert-content-text
      >
    </opal-lib-moj-alert-content>
  </opal-lib-moj-alert>
</div>
} @if (successMessage) {
<div class="govuk-grid-column-full">
  <opal-lib-moj-alert
    type="success"
    [ariaLabel]="successMessage"
    [showDismiss]="true"
    (clearSuccessMessage)="handleClearSuccessMessage()"
  >
    <opal-lib-moj-alert-icon icon type="success"></opal-lib-moj-alert-icon>
    <opal-lib-moj-alert-content content>
      <opal-lib-moj-alert-content-text>{{ successMessage }}</opal-lib-moj-alert-content-text>
    </opal-lib-moj-alert-content>
  </opal-lib-moj-alert>
</div>
}
