<opal-lib-govuk-summary-card-list cardTitle="Employer details" summaryCardListId="employer-details">
  @if (!isReadOnly) {
    <ng-container actions>
      <li app-fines-mac-review-account-change-link (emitChange)="changeEmployerDetails()"></li>
    </ng-container>
  }
  <ng-container content>
    <opal-lib-govuk-summary-list summaryListId="employerDetails">
      <div
        opal-lib-govuk-summary-list-row
        class="govuk-summary-list__row govuk-summary-list__row--no-actions"
        summaryListId="employerDetails"
        summaryListRowId="employerName"
      >
        <ng-container name>Employer name</ng-container>
        <ng-container value>
          @if (employerDetails.fm_employer_details_employer_company_name) {
            {{ employerDetails.fm_employer_details_employer_company_name }}
          } @else {
            <app-fines-mac-review-account-not-provided></app-fines-mac-review-account-not-provided>
          }
        </ng-container>
      </div>
      <div
        opal-lib-govuk-summary-list-row
        class="govuk-summary-list__row govuk-summary-list__row--no-actions"
        summaryListId="employerDetails"
        summaryListRowId="employeeReference"
      >
        <ng-container name>Employee reference</ng-container>
        <ng-container value>
          @if (employerDetails.fm_employer_details_employer_reference) {
            {{ employerDetails.fm_employer_details_employer_reference }}
          } @else {
            <app-fines-mac-review-account-not-provided></app-fines-mac-review-account-not-provided>
          }
        </ng-container>
      </div>
      <div
        opal-lib-govuk-summary-list-row
        class="govuk-summary-list__row govuk-summary-list__row--no-actions"
        summaryListId="employerDetails"
        summaryListRowId="employerEmailAddress"
      >
        <ng-container name>Employer email address</ng-container>
        <ng-container value>
          @if (employerDetails.fm_employer_details_employer_email_address) {
            {{ employerDetails.fm_employer_details_employer_email_address }}
          } @else {
            <app-fines-mac-review-account-not-provided></app-fines-mac-review-account-not-provided>
          }
        </ng-container>
      </div>
      <div
        opal-lib-govuk-summary-list-row
        class="govuk-summary-list__row govuk-summary-list__row--no-actions"
        summaryListId="employerDetails"
        summaryListRowId="employerTelephoneNumber"
      >
        <ng-container name>Employer telephone number</ng-container>
        <ng-container value>
          @if (employerDetails.fm_employer_details_employer_telephone_number) {
            {{ employerDetails.fm_employer_details_employer_telephone_number }}
          } @else {
            <app-fines-mac-review-account-not-provided></app-fines-mac-review-account-not-provided>
          }
        </ng-container>
      </div>
      <div
        opal-lib-govuk-summary-list-row
        class="govuk-summary-list__row govuk-summary-list__row--no-actions"
        summaryListId="employerDetails"
        summaryListRowId="employerAddress"
      >
        <ng-container name>Employer address</ng-container>
        <ng-container value>
          @if (employerAddress && employerAddress.length > 0) {
            @for (address of employerAddress; track address) {
              {{ address }}
              <br />
            }
          } @else {
            <app-fines-mac-review-account-not-provided></app-fines-mac-review-account-not-provided>
          }
        </ng-container>
      </div>
    </opal-lib-govuk-summary-list>
  </ng-container>
</opal-lib-govuk-summary-card-list>
