<opal-lib-govuk-summary-card-list
  [cardTitle]="name"
  [contentHidden]="isDetailsHidden"
  summaryCardListId="minor-creditor-information"
>
  @if (showActions) {
    <ng-container actions>
      <li
        opal-lib-govuk-summary-card-action
        [actionText]="isDetailsHidden ? 'Show details' : 'Hide details'"
        actionRoute="showHideDetails"
        (clickEvent)="summaryListActionClick($event)"
      ></li>
      <li
        opal-lib-govuk-summary-card-action
        class="govuk-!-padding-left-2"
        actionText="Change"
        actionRoute="change"
        (clickEvent)="summaryListActionClick($event)"
      ></li>
      <li
        opal-lib-govuk-summary-card-action
        actionText="Remove"
        actionRoute="remove"
        (clickEvent)="summaryListActionClick($event)"
      ></li>
    </ng-container>
  }
  <ng-container content>
    <opal-lib-govuk-summary-list summaryListId="minorCreditor">
      <div
        opal-lib-govuk-summary-list-row
        class="govuk-summary-list__row govuk-summary-list__row--no-actions"
        summaryListId="minorCreditorAddress"
        summaryListRowId="minorCreditor"
      >
        <ng-container name>Address</ng-container>
        <ng-container value> <p class="govuk-!-margin-top-0" [innerHTML]="address"></p> </ng-container>
      </div>

      <div
        opal-lib-govuk-summary-list-row
        class="govuk-summary-list__row govuk-summary-list__row--no-actions"
        summaryListId="minorCreditorPaymentMethod"
        summaryListRowId="minorCreditor"
      >
        <ng-container name>Payment method</ng-container>
        <ng-container value> {{ paymentMethod }}</ng-container>
      </div>
      @if (sortCode || accountNumber || paymentReference || accountName) {
        <div
          opal-lib-govuk-summary-list-row
          class="govuk-summary-list__row govuk-summary-list__row--no-actions"
          summaryListId="minorCreditorAccountName"
          summaryListRowId="minorCreditor"
        >
          <ng-container name>Account name</ng-container>
          <ng-container value> {{ accountName }}</ng-container>
        </div>
        <div
          opal-lib-govuk-summary-list-row
          class="govuk-summary-list__row govuk-summary-list__row--no-actions"
          summaryListId="minorCreditorSortCode"
          summaryListRowId="minorCreditor"
        >
          <ng-container name>Sort code</ng-container>
          <ng-container value> {{ sortCode }}</ng-container>
        </div>
        <div
          opal-lib-govuk-summary-list-row
          class="govuk-summary-list__row govuk-summary-list__row--no-actions"
          summaryListId="minorCreditorAccountNumber"
          summaryListRowId="minorCreditor"
        >
          <ng-container name>Account number</ng-container>
          <ng-container value> {{ accountNumber }}</ng-container>
        </div>
        <div
          opal-lib-govuk-summary-list-row
          class="govuk-summary-list__row govuk-summary-list__row--no-actions"
          summaryListId="minorCreditorPaymentReference"
          summaryListRowId="minorCreditor"
        >
          <ng-container name>Payment reference</ng-container>
          <ng-container value> {{ paymentReference }}</ng-container>
        </div>
      }
    </opal-lib-govuk-summary-list>
  </ng-container>
</opal-lib-govuk-summary-card-list>
