<nav class="moj-pagination moj-pagination-alignment" [attr.aria-label]="ariaLabel">
  <ul app-moj-pagination-list>
    <li app-moj-pagination-item class="moj-pagination__item moj-pagination__item--prev">
      @if (currentPage > 1) {
        <app-moj-pagination-link
          [changePage]="changePage"
          [page]="currentPage - 1"
          [currentPage]="currentPage"
          [totalPages]="totalPages()"
          >Previous<span class="govuk-visually-hidden"> page </span></app-moj-pagination-link
        >
      }
    </li>
    @for (page of pages(); track page) {
      <li
        app-moj-pagination-item
        [class.moj-pagination__item--active]="page === currentPage"
        [class.moj-pagination__item--dot]="page === '...'"
      >
        @if (page !== currentPage && page !== '...') {
          <app-moj-pagination-link
            [changePage]="changePage"
            [page]="+page"
            [currentPage]="currentPage"
            [totalPages]="totalPages()"
          >
            {{ page }}
          </app-moj-pagination-link>
        } @else if (page === '...') {
          <strong>...</strong>
        } @else {
          {{ page }}
        }
      </li>
    }

    <li app-moj-pagination-item class="moj-pagination__item moj-pagination__item--next">
      @if (currentPage < totalPages()) {
        <app-moj-pagination-link
          [changePage]="changePage"
          [page]="currentPage + 1"
          [currentPage]="currentPage"
          [totalPages]="totalPages()"
          >Next<span class="govuk-visually-hidden"> page</span></app-moj-pagination-link
        >
      }
    </li>
  </ul>
  <p class="moj-pagination__results">
    Showing <b>{{ startItem() - 1 }}</b> to <b>{{ endItem() }}</b> of <b>{{ totalItems() }}</b> results
  </p>
</nav>
