<div class="govuk-grid-column-two-thirds">
  <app-govuk-back-link (clickEvent)="navigateBack()"></app-govuk-back-link>
  @if (finesService.finesDraftAmend()) {
    <h1 class="govuk-heading-l">
      @if (finesService.finesMacState.accountDetails.formData.fm_create_account_defendant_type === 'company') {
        {{ finesService.finesMacState.companyDetails.formData.fm_company_details_company_name }}
      } @else {
        {{
          finesService.finesMacState.personalDetails.formData.fm_personal_details_title +
            ' ' +
            finesService.finesMacState.personalDetails.formData.fm_personal_details_forenames +
            ' ' +
            utilsService.upperCaseAllLetters(
              finesService.finesMacState.personalDetails.formData.fm_personal_details_surname!
            )
        }}
      }
    </h1>
    <app-govuk-tag tagClasses="govuk-tag govuk-tag--red" tagId="status">{{ accountDetailsStatus }}</app-govuk-tag>
    <h3 class="govuk-heading-m govuk-!-margin-top-4">Review history</h3>
    <app-moj-timeline>
      @for (timelineItem of finesService.finesDraftState.timeline_data; track timelineItem.status_date) {
        <app-moj-timeline-item>
          <span title>{{ timelineItem.status }}</span>
          <span user>{{ timelineItem.username }}</span>
          <span date>{{
            dateService.getFromFormatToFormat(timelineItem.status_date, 'yyyy-MM-dd', 'dd MMMM yyyy')
          }}</span>
          @if (timelineItem.reason_text) {
            <span description>{{ timelineItem.reason_text }}</span>
          }
        </app-moj-timeline-item>
      }
    </app-moj-timeline>
  } @else {
    <h1 class="govuk-heading-l">Account details</h1>
  }
  <app-govuk-summary-list summaryListId="accountDetails">
    <div
      app-govuk-summary-list-row
      class="govuk-summary-list__row govuk-summary-list__row--no-actions"
      summaryListId="accountDetails"
      summaryListRowId="businessUnit"
    >
      <ng-container name>Business unit</ng-container>
      <ng-container value>
        <p class="govuk-body">
          {{ finesService.finesMacState.businessUnit.business_unit_name }}
        </p>
      </ng-container>
    </div>
    <div
      app-govuk-summary-list-row
      class="govuk-summary-list__row govuk-summary-list__row--no-actions"
      summaryListId="accountDetails"
      summaryListRowId="accountType"
    >
      <ng-container name>Account type</ng-container>
      <ng-container value>
        <p class="govuk-body">{{ accountType }}</p>
      </ng-container>
    </div>
    <div
      app-govuk-summary-list-row
      class="govuk-summary-list__row govuk-summary-list__row--no-actions"
      summaryListId="accountDetails"
      summaryListRowId="defendantType"
    >
      <ng-container name>Defendant type</ng-container>
      <ng-container value>
        <p class="govuk-body">{{ defendantType }}</p>
      </ng-container>
    </div>
    @if (finesService.finesMacState.businessUnit.welsh_language) {
      <div
        app-govuk-summary-list-row
        class="govuk-summary-list__row"
        summaryListId="accountDetails"
        summaryListRowId="languagePreferences"
        [actionEnabled]="true"
        (actionClick)="handleRoute(fineMacRoutes.children.languagePreferences)"
      >
        <ng-container name>Document language</ng-container>
        <ng-container value>
          <p class="govuk-body">{{ documentLanguage }}</p>
        </ng-container>
        <ng-container action>Change</ng-container>
      </div>
      <div
        app-govuk-summary-list-row
        class="govuk-summary-list__row"
        summaryListId="accountDetails"
        summaryListRowId="languagePreferences"
        [actionEnabled]="true"
        (actionClick)="handleRoute(fineMacRoutes.children.languagePreferences)"
      >
        <ng-container name>Hearing language</ng-container>
        <ng-container value>
          <p class="govuk-body">{{ courtHearingLanguage }}</p>
        </ng-container>
        <ng-container action>Change</ng-container>
      </div>
    }
  </app-govuk-summary-list>
  <h2 class="govuk-heading-m">Court details</h2>
  <ng-container *ngTemplateOutlet="courtDetails"></ng-container>
  @switch (defendantType) {
    @case (defendantTypes['adultOrYouthOnly']) {
      <h2 class="govuk-heading-m">Defendant details</h2>
      <app-govuk-task-list taskListId="defendantDetails" taskListClasses="govuk-!-margin-left-0 ">
        <ng-container *ngTemplateOutlet="personalDetails"></ng-container>
        <ng-container *ngTemplateOutlet="contactDetails"></ng-container>
        <ng-container *ngTemplateOutlet="employerDetails"></ng-container>
      </app-govuk-task-list>
    }
    @case (defendantTypes['parentOrGuardianToPay']) {
      <h2 class="govuk-heading-m">Parent or guardian details</h2>
      <app-govuk-task-list taskListId="parentOrGuardianDetails" taskListClasses="govuk-!-margin-left-0 ">
        <ng-container *ngTemplateOutlet="parentGuardianDetails"></ng-container>
        <ng-container *ngTemplateOutlet="contactDetails"></ng-container>
        <ng-container *ngTemplateOutlet="employerDetails"></ng-container>
      </app-govuk-task-list>
      <h2 class="govuk-heading-m">Defendant details</h2>
      <app-govuk-task-list taskListId="defendantDetails" taskListClasses="govuk-!-margin-left-0 ">
        <ng-container *ngTemplateOutlet="personalDetails"></ng-container>
      </app-govuk-task-list>
    }
    @case (defendantTypes['company']) {
      <h2 class="govuk-heading-m">Defendant details</h2>
      <app-govuk-task-list taskListId="defendantDetails" taskListClasses="govuk-!-margin-left-0 ">
        <ng-container *ngTemplateOutlet="companyDetails"></ng-container>
        <ng-container *ngTemplateOutlet="contactDetails"></ng-container>
      </app-govuk-task-list>
    }
  }
  <h2 class="govuk-heading-m">Offence and imposition details</h2>
  <app-govuk-task-list taskListId="offenceAndImpositionDetails" taskListClasses="govuk-!-margin-left-0 ">
    <ng-container *ngTemplateOutlet="offenceDetails"></ng-container>
    <ng-container *ngTemplateOutlet="paymentTerms"></ng-container>
  </app-govuk-task-list>
  <h2 class="govuk-heading-m">Account comments and notes</h2>
  <app-govuk-task-list taskListId="accountCommentsAndNotes" taskListClasses="govuk-!-margin-left-0 ">
    <ng-container *ngTemplateOutlet="accountCommentsAndNotes"></ng-container>
  </app-govuk-task-list>
  @if (mandatorySectionsCompleted) {
    <h2 class="govuk-heading-m">Check and submit</h2>
    <app-govuk-button
      buttonId="checkAccountButton"
      buttonClasses="govuk-!-margin-bottom-0"
      (buttonClickEvent)="handleRoute(fineMacRoutes.children.reviewAccount)"
      >Check account</app-govuk-button
    >
  } @else {
    <h2 class="govuk-heading-m">Check and submit</h2>
    <p class="govuk-body">You cannot proceed until all required sections have been completed.</p>
  }
  @if (!finesService.finesDraftAmend()) {
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
    <a
      class="govuk-link govuk-error-colour"
      (click)="handleRoute(fineMacRoutes.children.deleteAccountConfirmation, false, $event)"
      (keyup.enter)="handleRoute(fineMacRoutes.children.deleteAccountConfirmation, false, $event)"
      tabindex="0"
      >Delete account</a
    >
  }
</div>

<ng-template #statusTag let-status>
  <app-govuk-tag
    [tagClasses]="
      status === finesMacStatus.PROVIDED
        ? 'govuk-tag'
        : status === finesMacStatus.INCOMPLETE
          ? 'govuk-tag--red'
          : 'govuk-tag--grey'
    "
    [tagId]="status"
  >
    {{ status }}</app-govuk-tag
  >
</ng-template>

<ng-template #contactDetails>
  <app-govuk-task-list-item
    taskListItemId="contactDetailsItem"
    taskListStatusId="contactDetailsStatus"
    taskListItemClasses="govuk-task-list_item--with-link border-top_none"
  >
    <ng-container name>
      <a
        class="govuk-link govuk-task-list_link govuk-link--no-visited-state"
        (click)="handleRoute(fineMacRoutes.children.contactDetails, false, $event)"
        (keyup.enter)="handleRoute(fineMacRoutes.children.contactDetails, false, $event)"
        tabindex="0"
        aria-describedby="contactDetailsStatus"
      >
        Contact details
      </a>
    </ng-container>
    <ng-container status>
      <ng-container
        *ngTemplateOutlet="statusTag; context: { $implicit: finesService.finesMacState.contactDetails.status }"
      ></ng-container>
    </ng-container>
  </app-govuk-task-list-item>
</ng-template>

<ng-template #employerDetails>
  <app-govuk-task-list-item
    taskListItemId="employerDetailsItem"
    taskListStatusId="employerDetailsStatus"
    taskListItemClasses="govuk-task-list_item--with-link border-top_none"
  >
    <ng-container name>
      <a
        class="govuk-link govuk-task-list_link govuk-link--no-visited-state"
        (click)="handleRoute(fineMacRoutes.children.employerDetails, false, $event)"
        (keyup.enter)="handleRoute(fineMacRoutes.children.employerDetails, false, $event)"
        tabindex="0"
        aria-describedby="employerDetailsStatus"
      >
        Employer details
      </a>
    </ng-container>
    <ng-container status>
      <ng-container
        *ngTemplateOutlet="statusTag; context: { $implicit: finesService.finesMacState.employerDetails.status }"
      ></ng-container>
    </ng-container>
  </app-govuk-task-list-item>
</ng-template>

<ng-template #companyDetails>
  <app-govuk-task-list-item
    taskListItemId="companyDetailsItem"
    taskListStatusId="companyDetailsStatus"
    taskListItemClasses="govuk-task-list_item--with-link"
  >
    <ng-container name>
      <a
        class="govuk-link govuk-task-list_link govuk-link--no-visited-state"
        (click)="handleRoute(fineMacRoutes.children.companyDetails, false, $event)"
        (keyup.enter)="handleRoute(fineMacRoutes.children.companyDetails, false, $event)"
        tabindex="0"
        aria-describedby="companyDetailsStatus"
      >
        Company details
      </a>
    </ng-container>
    <ng-container status>
      <ng-container
        *ngTemplateOutlet="statusTag; context: { $implicit: finesService.finesMacState.companyDetails.status }"
      ></ng-container>
    </ng-container>
  </app-govuk-task-list-item>
</ng-template>

<ng-template #personalDetails>
  <app-govuk-task-list-item
    taskListItemId="personalDetailsItem"
    taskListStatusId="personalDetailsStatus"
    taskListItemClasses="govuk-task-list_item--with-link"
  >
    <ng-container name>
      <a
        class="govuk-link govuk-task-list_link govuk-link--no-visited-state"
        (click)="handleRoute(fineMacRoutes.children.personalDetails, false, $event)"
        (keyup.enter)="handleRoute(fineMacRoutes.children.personalDetails, false, $event)"
        tabindex="0"
        aria-describedby="personalDetailsStatus"
      >
        Personal details
      </a>
    </ng-container>
    <ng-container status>
      <ng-container
        *ngTemplateOutlet="statusTag; context: { $implicit: finesService.finesMacState.personalDetails.status }"
      ></ng-container>
    </ng-container>
  </app-govuk-task-list-item>
</ng-template>

<ng-template #courtDetails>
  <app-govuk-task-list taskListId="courtDetails" taskListClasses="govuk-!-margin-left-0 ">
    <app-govuk-task-list-item
      taskListItemId="courtDetailsItem"
      taskListStatusId="courtDetailsStatus"
      taskListItemClasses="govuk-task-list_item--with-link"
    >
      <ng-container name>
        <a
          class="govuk-link govuk-task-list_link govuk-link--no-visited-state"
          (click)="handleRoute(fineMacRoutes.children.courtDetails, false, $event)"
          (keyup.enter)="handleRoute(fineMacRoutes.children.courtDetails, false, $event)"
          tabindex="0"
          aria-describedby="courtDetailsStatus"
        >
          Court details
        </a>
      </ng-container>
      <ng-container status>
        <ng-container
          *ngTemplateOutlet="statusTag; context: { $implicit: finesService.finesMacState.courtDetails.status }"
        ></ng-container>
      </ng-container>
    </app-govuk-task-list-item>
  </app-govuk-task-list>
</ng-template>

<ng-template #parentGuardianDetails>
  <app-govuk-task-list-item
    taskListItemId="parentOrGuardianDetailsItem"
    taskListStatusId="parentOrGuardianDetailsStatus"
    taskListItemClasses="govuk-task-list_item--with-link"
  >
    <ng-container name>
      <a
        class="govuk-link govuk-task-list_link govuk-link--no-visited-state"
        (click)="handleRoute(fineMacRoutes.children.parentGuardianDetails, false, $event)"
        (keyup.enter)="handleRoute(fineMacRoutes.children.parentGuardianDetails, false, $event)"
        tabindex="0"
        aria-describedby="parentOrGuardianDetailsStatus"
      >
        Parent or guardian details
      </a>
    </ng-container>
    <ng-container status>
      <ng-container
        *ngTemplateOutlet="statusTag; context: { $implicit: finesService.finesMacState.parentGuardianDetails.status }"
      ></ng-container>
    </ng-container>
  </app-govuk-task-list-item>
</ng-template>

<ng-template #offenceDetails>
  <app-govuk-task-list-item
    taskListItemId="offenceDetailsItem"
    taskListStatusId="offenceDetailsStatus"
    taskListItemClasses="govuk-task-list_item--with-link"
  >
    <ng-container name>
      <a
        class="govuk-link govuk-task-list_link govuk-link--no-visited-state"
        (click)="handleRoute(fineMacRoutes.children.offenceDetails, false, $event)"
        (keyup.enter)="handleRoute(fineMacRoutes.children.offenceDetails, false, $event)"
        tabindex="0"
        aria-describedby="offenceDetailsStatus"
      >
        Offence details
      </a>
    </ng-container>
    <ng-container status>
      @let status =
        finesService.finesMacState.offenceDetails.length === 0
          ? 'Not provided'
          : finesService.finesMacState.offenceDetails[0].status;
      <ng-container
        *ngTemplateOutlet="
          statusTag;
          context: {
            $implicit: status,
          }
        "
      ></ng-container>
    </ng-container>
  </app-govuk-task-list-item>
</ng-template>

<ng-template #paymentTerms>
  <app-govuk-task-list-item
    taskListItemId="paymentTermsItem"
    taskListStatusId="paymentTermsStatus"
    taskListItemClasses="govuk-task-list_item--with-link border-top_none"
  >
    <ng-container name>
      <ng-container *ngTemplateOutlet="paymentTermsLink"></ng-container>
    </ng-container>
    <ng-container status>
      <ng-container *ngTemplateOutlet="paymentTermsStatus"></ng-container>
    </ng-container>
  </app-govuk-task-list-item>
</ng-template>

<ng-template #paymentTermsLink>
  @if (canAccessPaymentTerms()) {
    <a
      class="govuk-link govuk-task-list_link govuk-link--no-visited-state"
      (click)="handleRoute(fineMacRoutes.children.paymentTerms, false, $event)"
      (keyup.enter)="handleRoute(fineMacRoutes.children.paymentTerms, false, $event)"
      tabindex="0"
      aria-describedby="paymentTermsStatus"
    >
      Payment terms
    </a>
  } @else {
    Payment terms
  }
</ng-template>

<ng-template #paymentTermsStatus>
  @if (canAccessPaymentTerms()) {
    <ng-container
      *ngTemplateOutlet="statusTag; context: { $implicit: finesService.finesMacState.paymentTerms.status }"
    ></ng-container>
  } @else {
    Cannot start yet
  }
</ng-template>

<ng-template #accountCommentsAndNotes>
  <app-govuk-task-list-item
    taskListItemId="accountCommentsAndNotesItem"
    taskListStatusId="accountCommentsAndNotesStatus"
    taskListItemClasses="govuk-task-list_item--with-link"
  >
    <ng-container name>
      <a
        class="govuk-link govuk-task-list_link govuk-link--no-visited-state"
        (click)="handleRoute(fineMacRoutes.children.accountCommentsNotes, false, $event)"
        (keyup.enter)="handleRoute(fineMacRoutes.children.accountCommentsNotes, false, $event)"
        tabindex="0"
        aria-describedby="accountCommentsAndNotesStatus"
      >
        Account comments and notes
      </a>
    </ng-container>
    <ng-container status>
      <ng-container
        *ngTemplateOutlet="statusTag; context: { $implicit: finesService.finesMacState.accountCommentsNotes.status }"
      ></ng-container>
    </ng-container>
  </app-govuk-task-list-item>
</ng-template>
