<h1 class="govuk-heading-l">Company details</h1>
<app-govuk-error-summary [errors]="formErrorSummaryMessage" (errorClick)="scrollTo($event)"></app-govuk-error-summary>
<form (submit)="handleFormSubmit($event)" [formGroup]="form">
  <app-govuk-text-input
    labelText="Company name"
    inputId="CompanyName"
    inputName="CompanyName"
    labelClasses="govuk-label--s"
    [control]="form.controls['CompanyName']"
    [errors]="formControlErrorMessages['CompanyName']"
  ></app-govuk-text-input>
  <app-govuk-checkboxes fieldSetId="addAliasCheckbox" checkboxClasses="" legendText="">
    <div
      app-govuk-checkboxes-item
      labelText="Add company aliases"
      inputId="AddAlias"
      inputName="AddAlias"
      [control]="form.get('AddAlias')"
    ></div>
  </app-govuk-checkboxes>
  @if (form.get('AddAlias')?.value === true) {
    <div app-govuk-checkboxes-conditional conditionalId="AddAlias" formArrayName="Aliases">
      @for (aliasControl of aliasControls; let rowIndex = $index; track rowIndex) {
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Alias {{ rowIndex + 1 }}</legend>
          <app-govuk-text-input
            labelText="Company name"
            [inputId]="aliasControls[rowIndex]['AliasOrganisationName'].inputId"
            [inputName]="aliasControls[rowIndex]['AliasOrganisationName'].inputName"
            [control]="form.get(['Aliases', rowIndex, aliasControls[rowIndex]['AliasOrganisationName'].controlName])"
            [errors]="formControlErrorMessages[aliasControls[rowIndex]['AliasOrganisationName'].controlName]"
          ></app-govuk-text-input>
        </fieldset>
      }

      @if (aliasControls.length > 1) {
        <div class="govuk-!-margin-bottom-3">
          <a
            class="govuk-link govuk-link--no-visited-state"
            (click)="removeAlias(aliasControls.length - 1, 'Aliases')"
            (keyup.enter)="removeAlias(aliasControls.length - 1, 'Aliases')"
            tabindex="0"
          >
            Remove
          </a>
        </div>
      }
      @if (aliasControls.length < 5) {
        <app-govuk-button
          buttonId="addAlias"
          buttonClasses="govuk-button--secondary govuk-!-margin-bottom-0"
          type="button"
          (buttonClickEvent)="addAlias(aliasControls.length, 'Aliases')"
          >Add another alias</app-govuk-button
        >
      }
    </div>
  }
  <app-fines-mac-address-block
    [divider]="true"
    legendText="Address"
    [form]="form"
    [formControlErrorMessages]="formControlErrorMessages"
    [addressFieldIds]="customAddressFieldIds"
  ></app-fines-mac-address-block>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <app-govuk-button buttonId="submitForm" type="submit"> Return to account details </app-govuk-button>
      @if (defendantType && finesMacNestedRoutes[defendantType].companyDetails) {
        <app-govuk-button
          buttonId="submitForm"
          type="submit"
          buttonClasses="nested-flow govuk-button--secondary govuk-!-margin-left-3"
        >
          {{ finesMacNestedRoutes[defendantType].companyDetails?.buttonText }}
        </app-govuk-button>
      }
      <app-govuk-cancel-link
        (linkClickEvent)="handleRoute(finesMacRoutes.finesMacAccountDetails)"
      ></app-govuk-cancel-link>
    </div>
  </div>
</form>
