<div class="govuk-summary-card" [id]="id">
  @if (cardTitle && cardTitle.length > 0) {
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">{{ cardTitle }}</h2>
      <ul class="govuk-summary-card__actions" role="list">
        <ng-content select="[actions]"></ng-content>
      </ul>
    </div>
  }

  @if (!contentHidden) {
    <div class="govuk-summary-card__content govuk-white-background">
      <ng-content select="[content]"></ng-content>
    </div>
  }
</div>
