<div
  class="moj-datepicker"
  data-module="moj-date-picker"
  [attr.data-min-date]="minDate"
  [attr.data-max-date]="maxDate"
  [attr.data-excluded-dates]="disabledDatesConcatenated"
  [attr.data-excluded-days]="disabledDays"
>
  <div class="govuk-form-group" [class.govuk-form-group--error]="!!errors">
    <label class="govuk-label {{ labelClasses }}" [for]="inputId"> {{ labelText }} </label>

    @if (hintText) {
      <div id="date-hint" class="govuk-hint">{{ hintText }}</div>
    }

    @if (errors) {
      <p id="{{ inputId }}-date-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error: </span> {{ errors }}
      </p>
    }

    <input
      class="govuk-input moj-js-datepicker-input {{ inputClasses }}"
      [id]="inputId"
      [name]="inputName"
      type="text"
      aria-describedby="date-hint"
      autocomplete="off"
      [formControl]="getControl"
      (change)="setDateValue($any($event).target.value)"
    />
  </div>
</div>
