<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">API Test Page</h2>
      <p class="govuk-body">Click the button below to make an API request.</p>
      <p class="govuk-body">
        <app-govuk-button
          id="fetch-api-data"
          buttonStyle="default"
          (buttonClickEvent)="handleFetchApiButtonClick($event)"
        >
          Fetch API Data</app-govuk-button
        >
      </p>

      @if (data$ | async; as data) {
      <p class="govuk-body">
        {{ data.title }}
      </p>
      }
    </div>
  </div>
</main>
