<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">API Test Page</h2>
      <p class="govuk-body">Click the button below to test sign out</p>
      <p class="govuk-body">
        <app-govuk-button [id]="'sign-out'" buttonStyle="warning" (buttonClickEvent)="handleLogoutApiButtonClick()">
          Sign out</app-govuk-button
        >
      </p>
      <p class="govuk-body">Click the button below to fetch a defendants account details</p>
      <p class="govuk-body">
        <app-govuk-button id="fetch-api-data" buttonStyle="default" (buttonClickEvent)="handleFetchApiButtonClick()">
          Fetch</app-govuk-button
        >
      </p>

      @if (data$ | async; as data) {
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible" />
        <h3 class="govuk-heading-s">API Response</h3>
        <span class="govuk-body">
          <pre>{{ data | json }}</pre>
        </span>
      }
    </div>

    <button [routerLink]="['../account-enquiry/search']">ACCOUNT ENQUIRY</button>
  </div>
</main>
