<app-govuk-heading-with-caption captionText="Create account" headingText="Business unit and defendant type">
</app-govuk-heading-with-caption>
<app-govuk-error-summary [errors]="formErrorSummaryMessage" (errorClick)="scrollTo($event)"></app-govuk-error-summary>
<form (submit)="handleFormSubmit()">
  @if (autoCompleteItems.length === 1) {
    <p>The account will be created in {{ form.get('businessUnit')?.value }}</p>
  } @else {
    <app-alphagov-accessible-autocomplete
      [control]="form.controls['businessUnit']"
      labelText="Business unit"
      labelClasses="govuk-fieldset__legend--m"
      inputId="businessUnit"
      inputName="businessUnit"
      label="Search for a user"
      hintText="Enter area where the account is to be created (such as Sussex or London)"
      [autoCompleteItems]="autoCompleteItems"
      [errors]="formControlErrorMessages['businessUnit']"
    ></app-alphagov-accessible-autocomplete>
  }

  <app-govuk-radio
    fieldSetId="defendantType"
    legendText="Defendant type"
    legendClasses="govuk-fieldset__legend--m"
    legendHint="If sole trader, choose 'Adult or youth only'"
    [errors]="formControlErrorMessages['defendantType']"
  >
    @for (defendantType of defendantTypes; track defendantType) {
      <div
        app-govuk-radios-item
        [labelText]="defendantType.value"
        [inputId]="defendantType.key"
        inputName="defendantType"
        [inputValue]="defendantType.key"
        [control]="form.get('defendantType')"
      ></div>
    }
  </app-govuk-radio>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <app-govuk-button buttonId="submitForm" type="submit">Continue</app-govuk-button>
      <app-govuk-cancel-link (linkClickEvent)="handleRoute(routingPaths.dashboard)"></app-govuk-cancel-link>
    </div>
  </div>
</form>
