<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" [id]="fieldSetId" [attr.aria-describedby]="fieldSetId">
    <legend class="govuk-fieldset__legend {{ legendClasses }}" [attr.describedby]="fieldSetId">
      {{ legendText }}
    </legend>
    @if (legendHint) {
      <div [id]="fieldSetId ? fieldSetId + 'Hint' : ''" class="govuk-hint">
        {{ legendHint }}
      </div>
    }

    <div class="govuk-checkboxes {{ checkboxClasses }}" data-module="govuk-checkboxes">
      <ng-content></ng-content>
    </div>
  </fieldset>
</div>
