<opal-lib-govuk-error-summary
  [errors]="formErrorSummaryMessage"
  (errorClick)="scrollTo($event)"
></opal-lib-govuk-error-summary>

<opal-lib-govuk-heading-with-caption
  captionText="{{ accountNumber }} - {{ partyName }}"
  headingText="Minor creditor details"
  headingClasses="govuk-heading-l govuk-!-margin-bottom-30"
>
</opal-lib-govuk-heading-with-caption>

<form (submit)="handleFormSubmit($event)" [formGroup]="form" class="govuk-form">
  <opal-lib-govuk-radio
    fieldSetId="facc_minor_creditor_creditor_type"
    legendText="Select creditor type"
    legendClasses="govuk-fieldset__legend--m"
    [errors]="formControlErrorMessages[controls.creditorType]"
  >
    <div
      opal-lib-govuk-radios-item
      [labelText]="creditorTypes.individual"
      inputId="facc_minor_creditor_creditor_type_individual"
      [inputName]="controls.creditorType"
      inputValue="individual"
      [control]="form.get(controls.creditorType)"
      [ariaControls]="individualConditionalId"
    ></div>
    <span class="govuk-visually-hidden">Options for individual minor creditor</span>
    <opal-lib-govuk-radios-conditional [conditionalId]="individualConditionalId">
      <div class="govuk-form-group">
        <opal-lib-govuk-select
          labelText="Title"
          labelClasses="govuk-label--s"
          [selectId]="controls.title"
          [selectName]="controls.title"
          [options]="titleOptions"
          [control]="form.get(controls.title)!"
          [errors]="formControlErrorMessages[controls.title]"
        ></opal-lib-govuk-select>
      </div>

      <div class="govuk-form-group">
        <opal-lib-govuk-text-input
          labelText="First names"
          labelClasses="govuk-label--s"
          [inputId]="controls.forenames"
          [inputName]="controls.forenames"
          inputClasses="govuk-input--width-20"
          labelClasses="govuk-label--s"
          [control]="form.get(controls.forenames)"
          [errors]="formControlErrorMessages[controls.forenames]"
          hintText="Include their middle names"
        ></opal-lib-govuk-text-input>
      </div>

      <div class="govuk-form-group">
        <opal-lib-govuk-text-input
          labelText="Last name"
          labelClasses="govuk-label--s"
          [inputId]="controls.surname"
          [inputName]="controls.surname"
          inputClasses="govuk-input--width-20"
          [control]="form.get(controls.surname)"
          [errors]="formControlErrorMessages[controls.surname]"
          [opalLibCapitaliseAllCharacters]="form.get(controls.surname)!"
        ></opal-lib-govuk-text-input>
      </div>
    </opal-lib-govuk-radios-conditional>

    <div
      opal-lib-govuk-radios-item
      [labelText]="creditorTypes.company"
      inputId="facc_minor_creditor_creditor_type_company"
      [inputName]="controls.creditorType"
      inputValue="company"
      [control]="form.get(controls.creditorType)"
      [ariaControls]="companyConditionalId"
    ></div>
    <span class="govuk-visually-hidden">Options for company minor creditor</span>
    <opal-lib-govuk-radios-conditional [conditionalId]="companyConditionalId">
      <div class="govuk-form-group">
        <opal-lib-govuk-text-input
          labelText="Company name"
          labelClasses="govuk-label--s"
          [inputId]="controls.companyName"
          [inputName]="controls.companyName"
          inputClasses="govuk-input--width-20"
          [control]="form.get(controls.companyName)"
          [errors]="formControlErrorMessages[controls.companyName]"
        ></opal-lib-govuk-text-input>
      </div>
    </opal-lib-govuk-radios-conditional>
  </opal-lib-govuk-radio>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-0" />

  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-heading-m govuk-!-margin-0">Minor creditor address</h2>
    </legend>
    <opal-lib-govuk-text-input
      labelText="Address line 1"
      labelClasses="govuk-label--s"
      [inputId]="controls.addressLine1"
      [inputName]="controls.addressLine1"
      inputClasses="govuk-input--width-30"
      [control]="form.get(controls.addressLine1)"
      [errors]="formControlErrorMessages[controls.addressLine1]"
    ></opal-lib-govuk-text-input>
    <opal-lib-govuk-text-input
      labelText="Address line 2"
      labelClasses="govuk-label--s"
      [inputId]="controls.addressLine2"
      [inputName]="controls.addressLine2"
      inputClasses="govuk-input--width-30"
      [control]="form.get(controls.addressLine2)"
      [errors]="formControlErrorMessages[controls.addressLine2]"
    ></opal-lib-govuk-text-input>
    <opal-lib-govuk-text-input
      labelText="Address line 3"
      labelClasses="govuk-label--s"
      [inputId]="controls.addressLine3"
      [inputName]="controls.addressLine3"
      inputClasses="govuk-input--width-30"
      [control]="form.get(controls.addressLine3)"
      [errors]="formControlErrorMessages[controls.addressLine3]"
    ></opal-lib-govuk-text-input>
    <opal-lib-govuk-text-input
      labelText="Address line 4"
      labelClasses="govuk-label--s"
      [inputId]="controls.addressLine4"
      [inputName]="controls.addressLine4"
      inputClasses="govuk-input--width-30"
      [control]="form.get(controls.addressLine4)"
      [errors]="formControlErrorMessages[controls.addressLine4]"
    ></opal-lib-govuk-text-input>
    <opal-lib-govuk-text-input
      labelText="Address line 5"
      labelClasses="govuk-label--s"
      [inputId]="controls.addressLine5"
      [inputName]="controls.addressLine5"
      inputClasses="govuk-input--width-30"
      [control]="form.get(controls.addressLine5)"
      [errors]="formControlErrorMessages[controls.addressLine5]"
    ></opal-lib-govuk-text-input>
    <opal-lib-govuk-text-input
      labelText="Postcode"
      labelClasses="govuk-label--s"
      [inputId]="controls.postCode"
      [inputName]="controls.postCode"
      inputClasses="govuk-input--width-10"
      [control]="form.get(controls.postCode)"
      [errors]="formControlErrorMessages[controls.postCode]"
      [opalLibCapitaliseAllCharacters]="form.get(controls.postCode)!"
    ></opal-lib-govuk-text-input>
  </fieldset>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-0" />

  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-heading-m govuk-!-margin-0">Payment details</h2>
    </legend>

    <opal-lib-govuk-checkboxes fieldSetId="facc_minor_creditor_bacs_details" checkboxClasses="" legendText="">
      <div
        opal-lib-govuk-checkboxes-item
        labelText="I have BACS payment details"
        [inputId]="controls.payByBacs"
        [inputName]="controls.payByBacs"
        [control]="form.get(controls.payByBacs)"
      ></div>
    </opal-lib-govuk-checkboxes>

    @if (form.get(controls.payByBacs)?.value === true) {
      <span id="pay-by-bacs-conditional-label" class="govuk-visually-hidden"> Options for BACS payment details </span>

      <div opal-lib-govuk-checkboxes-conditional [conditionalId]="controls.payByBacs">
        <opal-lib-govuk-text-input
          labelText="Name on account"
          labelClasses="govuk-label--s"
          [inputId]="controls.bankAccountName"
          [inputName]="controls.bankAccountName"
          inputClasses="govuk-input--width-20"
          [control]="form.get(controls.bankAccountName)"
          [errors]="formControlErrorMessages[controls.bankAccountName]"
        ></opal-lib-govuk-text-input>
        <opal-lib-govuk-text-input
          labelText="Sort code"
          labelClasses="govuk-label--s"
          hintText="Must be 6 digits long"
          [inputId]="controls.bankSortCode"
          [inputName]="controls.bankSortCode"
          inputClasses="govuk-input--width-5"
          [control]="form.get(controls.bankSortCode)"
          [errors]="formControlErrorMessages[controls.bankSortCode]"
        ></opal-lib-govuk-text-input>
        <opal-lib-govuk-text-input
          labelText="Account number"
          labelClasses="govuk-label--s"
          hintText="Must be between 6 and 8 digits long"
          [inputId]="controls.bankAccountNumber"
          [inputName]="controls.bankAccountNumber"
          inputClasses="govuk-input--width-10"
          [control]="form.get(controls.bankAccountNumber)"
          [errors]="formControlErrorMessages[controls.bankAccountNumber]"
        ></opal-lib-govuk-text-input>
        <opal-lib-govuk-text-input
          labelText="Payment reference"
          labelClasses="govuk-label--s"
          [inputId]="controls.bankAccountReference"
          [inputName]="controls.bankAccountReference"
          inputClasses="govuk-input--width-20"
          [control]="form.get(controls.bankAccountReference)"
          [errors]="formControlErrorMessages[controls.bankAccountReference]"
        ></opal-lib-govuk-text-input>
      </div>
    }
  </fieldset>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-0" />
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <opal-lib-govuk-button buttonId="submitForm" type="submit">Save changes</opal-lib-govuk-button>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-bottom-2">
    <div class="govuk-grid-column-full">
      <opal-lib-govuk-cancel-link (linkClickEvent)="handleCancel()"></opal-lib-govuk-cancel-link>
    </div>
  </div>
</form>
