<div class="govuk-grid-column-full">
  <h1 class="govuk-heading-l">Are you sure you want to remove this minor creditor?</h1>
  <app-fines-mac-offence-details-minor-creditor-information
    [minorCreditor]="minorCreditor.formData"
    [isDetailsHidden]="false"
  ></app-fines-mac-offence-details-minor-creditor-information>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <opal-lib-govuk-button
        buttonId="confirmDeletion"
        buttonClasses="govuk-button--warning"
        (buttonClickEvent)="confirmMinorCreditorRemoval()"
      >
        Yes - remove minor creditor
      </opal-lib-govuk-button>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <opal-lib-govuk-cancel-link
        (linkClickEvent)="handleRoute(fineMacOffenceDetailsRoutingPaths.children.addOffence)"
        cancelLinkText="No - cancel"
      ></opal-lib-govuk-cancel-link>
    </div>
  </div>
</div>
