<div class="govuk-form-group" [class.govuk-form-group--error]="errors !== null">
  <label class="govuk-label {{ labelClasses }}" [for]="inputId"> {{ labelText }} </label>

  @if (errors) {
    <p id="{{ this.inputId }}-error-message" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> {{ errors }}
    </p>
  }

  @if (hintText) {
    <div id="{{ inputId }}-hint" class="govuk-hint">
      {{ hintText }}
    </div>
  }

  <input
    class="govuk-input {{ inputClasses }}"
    [id]="inputId"
    [name]="inputName"
    type="text"
    [formControl]="getControl"
  />
</div>
