<h1 class="govuk-heading-l">Payment terms</h1>
<opal-lib-govuk-error-summary
  [errors]="formErrorSummaryMessage"
  (errorClick)="scrollTo($event)"
></opal-lib-govuk-error-summary>
<form (submit)="handleFormSubmit($event)" [formGroup]="form">
  @if (accessCollectionOrder) {
    <opal-lib-govuk-radio
      fieldSetId="fm_payment_terms_collection_order_made"
      legendText="Has a collection order been made?"
      legendClasses="govuk-fieldset__legend--s"
      [errors]="formControlErrorMessages['fm_payment_terms_collection_order_made']"
    >
      <div
        opal-lib-govuk-radios-item
        labelText="Yes"
        inputId="fm_payment_terms_collection_order_made_true"
        inputName="fm_payment_terms_collection_order_made"
        [inputValue]="true"
        [control]="form.get('fm_payment_terms_collection_order_made')"
      ></div>
      @if (form.get('fm_payment_terms_collection_order_made')!.value !== null) {
        @if (form.get('fm_payment_terms_collection_order_made')!.value === true) {
          <span id="payment-terms-collection-order-made-conditional-label" class="govuk-visually-hidden">
            Options for Collection Order Made
          </span>
          <div opal-lib-govuk-radios-conditional conditionalId="'fm_payment_terms_collection_order_made'">
            <div class="govuk-form-group">
              <opal-lib-moj-date-picker
                labelText="Date of collection order"
                labelClasses="govuk-label--s"
                inputId="fm_payment_terms_collection_order_date"
                inputName="fm_payment_terms_collection_order_date"
                inputClasses="govuk-input--width-10"
                hintText="For example, 31/01/2023"
                [maxDate]="today"
                [control]="form.get('fm_payment_terms_collection_order_date')!"
                [errors]="formControlErrorMessages['fm_payment_terms_collection_order_date']"
                (dateChange)="setInputValue($event, 'fm_payment_terms_collection_order_date')"
              ></opal-lib-moj-date-picker>
            </div>
          </div>
        }
      }

      <div
        opal-lib-govuk-radios-item
        labelText="No"
        inputId="fm_payment_terms_collection_order_made_false"
        inputName="fm_payment_terms_collection_order_made"
        [inputValue]="false"
        [control]="form.get('fm_payment_terms_collection_order_made')"
      ></div>
      @if (form.get('fm_payment_terms_collection_order_made')!.value !== null) {
        @if (form.get('fm_payment_terms_collection_order_made')!.value === false) {
          @if (permissions[permissionsMap['collection-order']] !== false) {
            <span id="payment-terms-collection-order-made-today-conditional-label" class="govuk-visually-hidden">
              Options for Collection Order Made Today
            </span>
            <div opal-lib-govuk-radios-conditional conditionalId="'fm_payment_terms_collection_order_made'">
              <div class="govuk-form-group">
                <opal-lib-govuk-checkboxes-item
                  inputId="fm_payment_terms_collection_order_made_today"
                  inputName="fm_payment_terms_collection_order_made_today"
                  labelText="Make collection order today"
                  [control]="form.get('fm_payment_terms_collection_order_made_today')"
                ></opal-lib-govuk-checkboxes-item>
              </div>
            </div>
          }
        }
      }
    </opal-lib-govuk-radio>
  }
  <opal-lib-govuk-radio
    fieldSetId="fm_payment_terms_payment_terms"
    legendText="Select payment terms"
    legendClasses="govuk-fieldset__legend--s"
    [errors]="formControlErrorMessages['fm_payment_terms_payment_terms']"
  >
    @for (paymentTerm of paymentTerms; track paymentTerm.key) {
      <div
        opal-lib-govuk-radios-item
        [labelText]="paymentTerm.value"
        [inputId]="paymentTerm.key"
        [inputName]="'fm_payment_terms_payment_terms'"
        [inputValue]="paymentTerm.key"
        [control]="form.get('fm_payment_terms_payment_terms')"
      ></div>

      @switch (paymentTerm.key) {
        @case ('payInFull') {
          @if (form.get('fm_payment_terms_payment_terms')!.value === paymentTerm.key) {
            <span id="payment-term-pay-in-full-conditional-label" class="govuk-visually-hidden">
              Options for Pay In Full
            </span>
            <div opal-lib-govuk-radios-conditional conditionalId="fm_payment_terms_payment_terms">
              <div class="govuk-form-group">
                <opal-lib-moj-date-picker
                  labelText="Enter pay by date"
                  labelClasses="govuk-label--s"
                  inputId="fm_payment_terms_pay_by_date"
                  inputName="fm_payment_terms_pay_by_date"
                  inputClasses="govuk-input--width-10"
                  hintText="For example, 31/01/2023"
                  [control]="form.get('fm_payment_terms_pay_by_date')!"
                  [errors]="formControlErrorMessages['fm_payment_terms_pay_by_date']"
                  (dateChange)="setInputValue($event, 'fm_payment_terms_pay_by_date')"
                ></opal-lib-moj-date-picker>
                @if (dateInPast) {
                  <ng-container
                    *ngTemplateOutlet="dateInPastTemplate; context: { $implicit: 'Pay by date' }"
                  ></ng-container>
                }
                @if (dateInFuture) {
                  <ng-container
                    *ngTemplateOutlet="dateInFutureTemplate; context: { $implicit: 'Pay by date' }"
                  ></ng-container>
                }
              </div>
            </div>
          }
        }
        @case ('instalmentsOnly') {
          @if (form.get('fm_payment_terms_payment_terms')!.value === paymentTerm.key) {
            <span id="payment-term-instalments-only-conditional-label" class="govuk-visually-hidden">
              Options for Instalments Only
            </span>
            <div opal-lib-govuk-radios-conditional conditionalId="fm_payment_terms_payment_terms">
              <ng-container *ngTemplateOutlet="instalmentsFrequencyStartDate"></ng-container>
            </div>
          }
        }
        @case ('lumpSumPlusInstalments') {
          @if (form.get('fm_payment_terms_payment_terms')!.value === paymentTerm.key) {
            <span id="payment-term-lump-sum-plus-instalments-conditional-label" class="govuk-visually-hidden">
              Options for Lump Sum Plus Instalments
            </span>
            <div opal-lib-govuk-radios-conditional conditionalId="fm_payment_terms_payment_terms">
              <div class="govuk-form-group">
                <opal-lib-govuk-text-input-prefix-suffix
                  labelText="Lump sum"
                  labelClasses="govuk-label--s"
                  inputId="fm_payment_terms_lump_sum_amount"
                  inputName="fm_payment_terms_lump_sum_amount"
                  inputClasses="govuk-input--width-5"
                  prefixText="£"
                  [control]="form.get('fm_payment_terms_lump_sum_amount')"
                  [errors]="formControlErrorMessages['fm_payment_terms_lump_sum_amount']"
                  [forceTwoDecimalPoints]="true"
                >
                </opal-lib-govuk-text-input-prefix-suffix>
              </div>
              <ng-container *ngTemplateOutlet="instalmentsFrequencyStartDate"></ng-container>
            </div>
          }
        }
      }
    }
  </opal-lib-govuk-radio>
  @if (defendantType !== defendantTypesKeys.company) {
    <div
      opal-lib-govuk-checkboxes-item
      labelText="Request payment card"
      inputId="fm_payment_terms_payment_card_request"
      inputName="fm_payment_terms_payment_card_request"
      [control]="form.get('fm_payment_terms_payment_card_request')"
    ></div>
  }
  @if (accessDefaultDates) {
    <opal-lib-govuk-checkboxes
      fieldSetId="daysInDefaultCheckbox"
      legendText="Days in default"
      legendClasses="govuk-fieldset__legend--s"
    >
      <div
        opal-lib-govuk-checkboxes-item
        labelText="There are days in default"
        inputId="fm_payment_terms_has_days_in_default"
        inputName="fm_payment_terms_has_days_in_default"
        [control]="form.get('fm_payment_terms_has_days_in_default')"
      ></div>

      @if (form.get('fm_payment_terms_has_days_in_default')?.value) {
        <span id="has-days-in-default-conditional-label" class="govuk-visually-hidden">
          Options for Has days in default
        </span>
        <div opal-lib-govuk-checkboxes-conditional conditionalId="fm_payment_terms_has_days_in_default">
          <div class="govuk-form-group">
            <opal-lib-moj-date-picker
              labelText="Date days in default were imposed"
              labelClasses="govuk-label--s"
              inputId="fm_payment_terms_suspended_committal_date"
              inputName="fm_payment_terms_suspended_committal_date"
              inputClasses="govuk-input--width-10"
              hintText="This should be whichever date is most recent - the sentencing date or the date of the suspended committal order."
              [maxDate]="yesterday"
              [control]="form.get('fm_payment_terms_suspended_committal_date')!"
              [errors]="formControlErrorMessages['fm_payment_terms_suspended_committal_date']"
              (dateChange)="setInputValue($event, 'fm_payment_terms_suspended_committal_date')"
            ></opal-lib-moj-date-picker>
          </div>
          <div class="govuk-form-group">
            <opal-lib-govuk-text-input-prefix-suffix
              labelText="Enter days in default"
              labelClasses="govuk-label--s"
              inputId="fm_payment_terms_default_days_in_jail"
              inputName="fm_payment_terms_default_days_in_jail"
              inputClasses="govuk-input--width-5"
              suffixText="days"
              [control]="form.get('fm_payment_terms_default_days_in_jail')"
              [errors]="formControlErrorMessages['fm_payment_terms_default_days_in_jail']"
            ></opal-lib-govuk-text-input-prefix-suffix>
          </div>
          <div class="govuk-form-group">
            <app-fines-mac-default-days
              [date]="form.get('fm_payment_terms_suspended_committal_date')?.value"
            ></app-fines-mac-default-days>
          </div>
        </div>
      }
    </opal-lib-govuk-checkboxes>
  }
  <opal-lib-govuk-checkboxes
    fieldSetId="enforcementActions"
    legendText="Enforcement action"
    legendClasses="govuk-fieldset__legend--s"
  >
    @if (defendantType === defendantTypesKeys.company) {
      <div
        opal-lib-govuk-checkboxes-item
        labelText="Hold enforcement on account (NOENF)"
        inputId="fm_payment_terms_hold_enforcement_on_account"
        inputName="fm_payment_terms_hold_enforcement_on_account"
        [control]="form.get('fm_payment_terms_hold_enforcement_on_account')"
      ></div>
      @if (form.get('fm_payment_terms_hold_enforcement_on_account')?.value) {
        <div>
          <span id="hold-enforcement-on-account-conditional-label" class="govuk-visually-hidden">
            Options for Hold enforcement on account (NOENF)
          </span>
          <div opal-lib-govuk-checkboxes-conditional conditionalId="fm_payment_terms_hold_enforcement_on_account">
            <opal-lib-govuk-text-area
              labelText="Reason account is on NOENF"
              labelClasses="govuk-label--s"
              inputId="fm_payment_terms_reason_account_is_on_noenf"
              inputName="fm_payment_terms_reason_account_is_on_noenf"
              inputClasses="govuk-!-width-two-thirds"
              [control]="form.get('fm_payment_terms_reason_account_is_on_noenf')"
              [errors]="formControlErrorMessages['fm_payment_terms_reason_account_is_on_noenf']"
              [rows]="1"
              [maxCharacterLimit]="28"
              [characterCountEnabled]="true"
            ></opal-lib-govuk-text-area>
          </div>
        </div>
      }
    } @else {
      <div
        opal-lib-govuk-checkboxes-item
        labelText="Add enforcement action"
        inputId="fm_payment_terms_add_enforcement_action"
        inputName="fm_payment_terms_add_enforcement_action"
        [control]="form.get('fm_payment_terms_add_enforcement_action')"
      ></div>
      @if (form.get('fm_payment_terms_add_enforcement_action')!.value !== null) {
        @if (form.get('fm_payment_terms_add_enforcement_action')?.value === true) {
          <span id="add-enforcement-actions-conditional-label" class="govuk-visually-hidden">
            Options for Add enforcement action
          </span>
          <div opal-lib-govuk-checkboxes-conditional conditionalId="fm_payment_terms_add_enforcement_action">
            <opal-lib-govuk-radio
              fieldSetId="fm_payment_terms_enforcement_action"
              legendClasses="govuk-fieldset__legend--s"
              [errors]="formControlErrorMessages['fm_payment_terms_enforcement_action']"
            >
              @for (enforcementAction of enforcementActions; track enforcementAction.key) {
                <div
                  opal-lib-govuk-radios-item
                  [labelText]="enforcementAction.value"
                  [inputId]="enforcementAction.key"
                  [inputName]="'fm_payment_terms_enforcement_action'"
                  [inputValue]="enforcementAction.key"
                  [control]="form.get('fm_payment_terms_enforcement_action')"
                ></div>
                @if (enforcementAction.key === 'PRIS') {
                  @if (form.get('fm_payment_terms_enforcement_action')!.value === enforcementAction.key) {
                    <span id="payment-term-enforcement-type-prison-conditional-label" class="govuk-visually-hidden">
                      Options for Defendant is in custody
                    </span>
                    <div opal-lib-govuk-radios-conditional conditionalId="fm_payment_terms_enforcement_action">
                      <div class="govuk-form-group">
                        <opal-lib-moj-date-picker
                          labelText="Earliest release date (EDR)"
                          labelClasses="govuk-label--s"
                          inputId="fm_payment_terms_earliest_release_date"
                          inputName="fm_payment_terms_earliest_release_date"
                          inputClasses="govuk-input--width-10"
                          [minDate]="today"
                          [control]="form.get('fm_payment_terms_earliest_release_date')!"
                          [errors]="formControlErrorMessages['fm_payment_terms_earliest_release_date']"
                          (dateChange)="setInputValue($event, 'fm_payment_terms_earliest_release_date')"
                        ></opal-lib-moj-date-picker>
                      </div>
                      <div class="govuk-form-group">
                        <opal-lib-govuk-text-area
                          labelText="Prison and prison number"
                          labelClasses="govuk-label--s"
                          hintText="Held as enforcement comment"
                          inputId="fm_payment_terms_prison_and_prison_number"
                          inputName="fm_payment_terms_prison_and_prison_number"
                          inputClasses="govuk-!-width-two-thirds"
                          [control]="form.get('fm_payment_terms_prison_and_prison_number')"
                          [errors]="formControlErrorMessages['fm_payment_terms_prison_and_prison_number']"
                          [rows]="1"
                          [maxCharacterLimit]="28"
                          [characterCountEnabled]="true"
                        ></opal-lib-govuk-text-area>
                      </div>
                    </div>
                  }
                } @else {
                  @if (form.get('fm_payment_terms_enforcement_action')!.value === enforcementAction.key) {
                    <span id="payment-term-enforcement-type-noenf-conditional-label" class="govuk-visually-hidden">
                      Options for Hold enforcement on account
                    </span>
                    <div opal-lib-govuk-radios-conditional conditionalId="fm_payment_terms_enforcement_action">
                      <opal-lib-govuk-text-area
                        labelText="Reason account is on NOENF"
                        labelClasses="govuk-label--s"
                        inputId="fm_payment_terms_reason_account_is_on_noenf"
                        inputName="fm_payment_terms_reason_account_is_on_noenf"
                        inputClasses="govuk-!-width-two-thirds"
                        [control]="form.get('fm_payment_terms_reason_account_is_on_noenf')"
                        [errors]="formControlErrorMessages['fm_payment_terms_reason_account_is_on_noenf']"
                        [rows]="1"
                        [maxCharacterLimit]="28"
                        [characterCountEnabled]="true"
                      ></opal-lib-govuk-text-area>
                    </div>
                  }
                }
              }
            </opal-lib-govuk-radio>
          </div>
        }
      }
    }
  </opal-lib-govuk-checkboxes>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <opal-lib-govuk-button buttonId="submitForm" type="submit">Return to account details</opal-lib-govuk-button>
      <opal-lib-govuk-button
        buttonId="submitForm"
        type="submit"
        buttonClasses="nested-flow govuk-button--secondary govuk-!-margin-left-3"
      >
        Add account comments and notes
      </opal-lib-govuk-button>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <opal-lib-govuk-cancel-link
        (linkClickEvent)="handleRoute(fineMacRoutingPaths.children.accountDetails)"
      ></opal-lib-govuk-cancel-link>
    </div>
  </div>
</form>

<ng-template #instalmentsFrequencyStartDate>
  <div class="govuk-form-group">
    <opal-lib-govuk-text-input-prefix-suffix
      labelText="Instalment"
      labelClasses="govuk-label--s"
      inputId="fm_payment_terms_instalment_amount"
      inputName="fm_payment_terms_instalment_amount"
      inputClasses="govuk-input--width-5"
      prefixText="£"
      [control]="form.get('fm_payment_terms_instalment_amount')"
      [errors]="formControlErrorMessages['fm_payment_terms_instalment_amount']"
      [forceTwoDecimalPoints]="true"
    >
    </opal-lib-govuk-text-input-prefix-suffix>
  </div>
  <div class="govuk-form-group">
    <opal-lib-govuk-radio
      fieldSetId="fm_payment_terms_instalment_period"
      legendText="Frequency"
      legendClasses="govuk-fieldset__legend--s"
      [errors]="formControlErrorMessages['fm_payment_terms_instalment_period']"
    >
      @for (frequency of frequencyOptions; track frequency.key) {
        <div
          opal-lib-govuk-radios-item
          [labelText]="frequency.value"
          [inputId]="frequency.key"
          inputName="fm_payment_terms_instalment_period"
          [inputValue]="frequency.key"
          [control]="form.get('fm_payment_terms_instalment_period')"
        ></div>
      }
    </opal-lib-govuk-radio>
  </div>
  <div class="govuk-form-group">
    <opal-lib-moj-date-picker
      labelText="Start date"
      labelClasses="govuk-label--s"
      inputId="fm_payment_terms_start_date"
      inputName="fm_payment_terms_start_date"
      inputClasses="govuk-input--width-10"
      hintText="For example, 31/01/2023"
      [control]="form.get('fm_payment_terms_start_date')!"
      [errors]="formControlErrorMessages['fm_payment_terms_start_date']"
      (dateChange)="setInputValue($event, 'fm_payment_terms_start_date')"
    ></opal-lib-moj-date-picker>
    @if (dateInPast) {
      <ng-container *ngTemplateOutlet="dateInPastTemplate; context: { $implicit: 'Start date' }"></ng-container>
    }
    @if (dateInFuture) {
      <ng-container *ngTemplateOutlet="dateInFutureTemplate; context: { $implicit: 'Start date' }"></ng-container>
    }
  </div>
</ng-template>
<ng-template #dateInPastTemplate let-fieldName>
  <opal-lib-moj-ticket-panel sectionClasses="moj-ticket-panel__content--orange" [alert]="true">
    <strong>{{ fieldName }} is in the past</strong>
    <p>You can continue with date in the past or change</p>
  </opal-lib-moj-ticket-panel>
</ng-template>
<ng-template #dateInFutureTemplate let-fieldName>
  <opal-lib-moj-ticket-panel sectionClasses="moj-ticket-panel__content--orange" [alert]="true">
    <strong>{{ fieldName }} is more than 3 years in the future</strong>
    <p>You can continue with date in the past or change</p>
  </opal-lib-moj-ticket-panel>
</ng-template>
