<h1 class="govuk-heading-l">Payment terms</h1>
<app-govuk-error-summary [errors]="formErrorSummaryMessage" (errorClick)="scrollTo($event)"></app-govuk-error-summary>
<form (submit)="handleFormSubmit($event)" [formGroup]="form">
  <app-govuk-radio
    fieldSetId="paymentTerms"
    legendText="Select payment terms"
    legendClasses="govuk-fieldset__legend--s"
  >
    @for (paymentTerm of paymentTerms; track paymentTerm.key) {
      <div
        app-govuk-radios-item
        [labelText]="paymentTerm.value"
        [inputId]="paymentTerm.key"
        inputName="paymentTerms"
        [inputValue]="paymentTerm.key"
        [control]="form.controls['paymentTerms']"
      ></div>

      @switch (paymentTerm.key) {
        @case ('payInFull') {
          @if (form.get('paymentTerms')!.value === paymentTerm.key) {
            <div app-govuk-radios-conditional conditionalId="paymentTerms">
              <div class="govuk-form-group">
                <app-scotgov-date-picker
                  labelText="Enter pay by date"
                  labelClasses="govuk-label--s"
                  inputId="payByDate"
                  inputName="payByDate"
                  inputClasses="govuk-input--width-10"
                  hintText="For example, 31/01/2023"
                  [control]="form.controls['payByDate']"
                  [errors]="formControlErrorMessages['payByDate']"
                  (dateChange)="setInputValue($event, 'payByDate')"
                ></app-scotgov-date-picker>
              </div>
            </div>
          }
        }
        @case ('instalmentsOnly') {
          @if (form.get('paymentTerms')!.value === paymentTerm.key) {
            <div app-govuk-radios-conditional conditionalId="paymentTerms">
              <ng-container *ngTemplateOutlet="instalmentsFrequencyStartDate"></ng-container>
            </div>
          }
        }
        @case ('lumpSumPlusInstalments') {
          @if (form.get('paymentTerms')!.value === paymentTerm.key) {
            <div app-govuk-radios-conditional conditionalId="paymentTerms">
              <div class="govuk-form-group">
                <app-govuk-text-input-prefix-suffix
                  labelText="Lump sum"
                  labelClasses="govuk-label--s"
                  inputId="lumpSum"
                  inputName="lumpSum"
                  inputClasses="govuk-input--width-5"
                  prefixText="£"
                  [control]="form.controls['lumpSum']"
                  [errors]="formControlErrorMessages['lumpSum']"
                >
                </app-govuk-text-input-prefix-suffix>
              </div>
              <ng-container *ngTemplateOutlet="instalmentsFrequencyStartDate"></ng-container>
            </div>
          }
        }
      }
    }
  </app-govuk-radio>
  <div
    app-govuk-checkboxes-item
    labelText="Request payment card"
    inputId="requestPaymentCard"
    inputName="requestPaymentCard"
    [control]="form.controls['requestPaymentCard']"
  ></div>
  @if (defendantType === 'adultOrYouthOnly' && isAdult) {
    <fieldset class="govuk-fieldset">
      <app-govuk-checkboxes
        fieldSetId="daysInDefaultCheckbox"
        legendText="Days in default"
        legendClasses="govuk-fieldset__legend--s"
      >
        <div
          app-govuk-checkboxes-item
          labelText="There are days in default"
          inputId="hasDaysInDefault"
          inputName="hasDaysInDefault"
          [control]="form.controls['hasDaysInDefault']"
        ></div>

        @if (form.get('hasDaysInDefault')?.value) {
          <div app-govuk-checkboxes-conditional conditionalId="hasDaysInDefault">
            <div class="govuk-grid-row">
              <app-scotgov-date-picker
                labelText="Date days in default were imposed"
                labelClasses="govuk-label--s"
                inputId="daysInDefaultDate"
                inputName="daysInDefaultDate"
                inputClasses="govuk-input--width-10"
                hintText="This should be whichever date is most recent - the sentencing date or the date of the suspended committal order."
                [maxDate]="yesterday"
                [control]="form.controls['daysInDefaultDate']"
                [errors]="formControlErrorMessages['daysInDefaultDate']"
                (dateChange)="setInputValue($event, 'daysInDefaultDate')"
              ></app-scotgov-date-picker>
              <app-govuk-text-input-prefix-suffix
                labelText="Enter days in default"
                labelClasses="govuk-label--s"
                inputId="daysInDefault"
                inputName="daysInDefault"
                inputClasses="govuk-input--width-5"
                suffixText="days"
                [control]="form.controls['daysInDefault']"
                [errors]="formControlErrorMessages['daysInDefault']"
              ></app-govuk-text-input-prefix-suffix>
              <div class="govuk-!-margin-top-5">
                <app-fines-mac-default-days
                  [date]="form.controls['daysInDefaultDate'].value"
                ></app-fines-mac-default-days>
              </div>
            </div>
          </div>
        }
      </app-govuk-checkboxes>
    </fieldset>
  }
  <app-govuk-checkboxes
    fieldSetId="enforcementActions"
    legendText="Enforcement action"
    legendClasses="govuk-fieldset__legend--s"
  >
    <div
      app-govuk-checkboxes-item
      labelText="Add enforcement action"
      inputId="addEnforcementAction"
      inputName="addEnforcementAction"
      [control]="form.controls['addEnforcementAction']"
    ></div>
  </app-govuk-checkboxes>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <app-govuk-button buttonId="submitForm" type="submit">Return to account details</app-govuk-button>
      <app-govuk-button
        buttonId="submitForm"
        type="submit"
        buttonClasses="nested-flow govuk-button--secondary govuk-!-margin-left-3"
      >
        Add account comments and notes
      </app-govuk-button>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <app-govuk-cancel-link
        (linkClickEvent)="handleRoute(fineMacRoutingPaths.children.accountDetails)"
      ></app-govuk-cancel-link>
    </div>
  </div>
</form>

<ng-template #instalmentsFrequencyStartDate>
  <div class="govuk-form-group">
    <app-govuk-text-input-prefix-suffix
      labelText="Instalment"
      labelClasses="govuk-label--s"
      inputId="instalment"
      inputName="instalment"
      inputClasses="govuk-input--width-5"
      prefixText="£"
      [control]="form.controls['instalment']"
      [errors]="formControlErrorMessages['instalment']"
    >
    </app-govuk-text-input-prefix-suffix>
  </div>
  <div class="govuk-form-group">
    <app-govuk-radio
      fieldSetId="frequency"
      legendText="Frequency"
      legendClasses="govuk-fieldset__legend--s"
      [errors]="formControlErrorMessages['frequency']"
    >
      @for (frequency of frequencyOptions; track frequency.key) {
        <div
          app-govuk-radios-item
          [labelText]="frequency.value"
          [inputId]="frequency.key"
          inputName="frequency"
          [inputValue]="frequency.key"
          [control]="form.controls['frequency']"
        ></div>
      }
    </app-govuk-radio>
  </div>
  <div class="govuk-form-group">
    <app-scotgov-date-picker
      labelText="Start date"
      labelClasses="govuk-label--s"
      inputId="startDate"
      inputName="startDate"
      inputClasses="govuk-input--width-10"
      hintText="For example, 31/01/2023"
      [maxDate]="yesterday"
      [control]="form.controls['startDate']"
      [errors]="formControlErrorMessages['startDate']"
      (dateChange)="setInputValue($event, 'startDate')"
    ></app-scotgov-date-picker>
  </div>
</ng-template>
