<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <opal-lib-govuk-heading-with-caption
      [captionText]="`${accountNumber} - ${partyName}`"
      [headingText]="pageTitle"
      headingClasses="govuk-heading-l govuk-!-margin-bottom-30"
    >
    </opal-lib-govuk-heading-with-caption>

    <p>
      {{ enforcementOverride?.enforcement_override_result_name }} ({{
        enforcementOverride?.enforcement_override_result_id
      }})
    </p>

    <div class="govuk-button-group govuk-!-padding-top-2">
      <button
        id="removeEnforcementOverride"
        type="button"
        class="govuk-button govuk-button--primary govuk-!-margin-right-4"
        (click)="handleFinesEnfOverrideRemove()"
      >
        Yes - remove
      </button>
      <opal-lib-govuk-cancel-link
        (linkClickEvent)="navigateToDefendantDetailsPage()"
        cancelLinkText="No - cancel"
      ></opal-lib-govuk-cancel-link>
    </div>
  </div>
</div>
