<h1 class="govuk-heading-l">Court details</h1>
<app-govuk-error-summary [errors]="formErrorSummaryMessage" (errorClick)="scrollTo($event)"></app-govuk-error-summary>
<form (submit)="handleFormSubmit($event)">
  <app-alphagov-accessible-autocomplete
    [control]="form.controls['fm_court_details_originator_id']"
    labelText="Sending area or Local Justice Area (LJA)"
    labelClasses="govuk-fieldset__legend--s"
    inputId="fm_court_details_originator_id"
    inputName="fm_court_details_originator_id"
    label=""
    hintText="Search using the code or name of the area that sent the transfer"
    [autoCompleteItems]="sendingCourtAutoCompleteItems"
    [errors]="formControlErrorMessages['fm_court_details_originator_id']"
  ></app-alphagov-accessible-autocomplete>
  <opal-lib-govuk-text-input
    labelText="Prosecutor Case Reference (PCR)"
    inputId="fm_court_details_prosecutor_case_reference"
    inputName="fm_court_details_prosecutor_case_reference"
    inputClasses="govuk-input--width-10"
    labelClasses="govuk-label--s"
    hintText="Enter the prosecutor's reference number or original account number"
    [control]="form.controls['fm_court_details_prosecutor_case_reference']"
    [errors]="formControlErrorMessages['fm_court_details_prosecutor_case_reference']"
  ></opal-lib-govuk-text-input>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <app-alphagov-accessible-autocomplete
    [control]="form.controls['fm_court_details_imposing_court_id']"
    labelText="Enforcement court"
    labelClasses="govuk-fieldset__legend--s"
    inputId="fm_court_details_imposing_court_id"
    inputName="fm_court_details_imposing_court_id"
    label=""
    hintText="Search using enforcement court or code"
    [autoCompleteItems]="enforcingCourtAutoCompleteItems"
    [errors]="formControlErrorMessages['fm_court_details_imposing_court_id']"
  ></app-alphagov-accessible-autocomplete>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <opal-lib-govuk-button buttonId="submitForm" type="submit">Return to account details</opal-lib-govuk-button>
      @if (defendantType && finesMacNestedRoutes[defendantType].courtDetails) {
        <opal-lib-govuk-button
          buttonId="submitForm"
          type="submit"
          buttonClasses="nested-flow govuk-button--secondary govuk-!-margin-left-3"
        >
          {{ finesMacNestedRoutes[defendantType].courtDetails?.buttonText }}
        </opal-lib-govuk-button>
      }
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <app-govuk-cancel-link
        (linkClickEvent)="handleRoute(fineMacRoutingPaths.children.accountDetails)"
      ></app-govuk-cancel-link>
    </div>
  </div>
</form>
