<h1 class="govuk-heading-l">Account comments and notes</h1>
<opal-lib-govuk-error-summary
  [errors]="formErrorSummaryMessage"
  (errorClick)="scrollTo($event)"
></opal-lib-govuk-error-summary>
<form (submit)="handleFormSubmit($event)">
  <app-signal-govuk-text-area
    labelText="Add comment"
    labelClasses="govuk-label--s"
    hintText="For example, a warning, which will appear on the account summary"
    inputId="fm_account_comments_notes_comments"
    inputName="fm_account_comments_notes_comments"
    [control]="commentsControl"
    [characterCountEnabled]="true"
    [maxCharacterLimit]="30"
    [rows]="1"
    [errors]="formControlErrorMessages['fm_account_comments_notes_comments']"
  ></app-signal-govuk-text-area>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <app-signal-govuk-text-area
    labelText="Add account notes"
    labelClasses="govuk-label--s"
    hintText="You can view notes in account history after the account is published"
    inputId="fm_account_comments_notes_notes"
    inputName="fm_account_comments_notes_notes"
    [control]="notesControl"
    [characterCountEnabled]="true"
    [maxCharacterLimit]="1000"
    [errors]="formControlErrorMessages['fm_account_comments_notes_notes']"
  ></app-signal-govuk-text-area>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <opal-lib-govuk-button buttonId="submitForm" type="submit">Return to account details</opal-lib-govuk-button>
      @if (mandatorySectionsCompleted && defendantType && finesMacNestedRoutes[defendantType].accountCommentsNotes) {
        <opal-lib-govuk-button
          buttonId="submitForm"
          type="submit"
          buttonClasses="nested-flow govuk-button--secondary govuk-!-margin-left-3"
        >
          {{ finesMacNestedRoutes[defendantType].accountCommentsNotes?.buttonText }}
        </opal-lib-govuk-button>
      }
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <opal-lib-govuk-cancel-link
        (linkClickEvent)="handleRoute(finesMacRoutingPaths.children.accountDetails)"
      ></opal-lib-govuk-cancel-link>
    </div>
  </div>
</form>
