<h1 class="govuk-heading-l">Account comments and notes</h1>
<form (submit)="handleFormSubmit($event)">
  <app-govuk-text-area
    labelText="Add comment"
    labelClasses="govuk-label--s"
    hintText="For example, a warning, which will appear on the account summary"
    inputId="fm_account_comments_notes_comments"
    inputName="fm_account_comments_notes_comments"
    [control]="form.controls['fm_account_comments_notes_comments']"
    [characterCountEnabled]="true"
    [maxCharacterLimit]="30"
    [rows]="1"
  ></app-govuk-text-area>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <app-govuk-text-area
    labelText="Add account notes"
    labelClasses="govuk-label--s"
    hintText="You can view notes in account history after the account is published"
    inputId="fm_account_comments_notes_notes"
    inputName="fm_account_comments_notes_notes"
    [control]="form.controls['fm_account_comments_notes_notes']"
    [characterCountEnabled]="true"
    [maxCharacterLimit]="1000"
  ></app-govuk-text-area>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <lib-govuk-button buttonId="submitForm" type="submit">Return to account details</lib-govuk-button>
      @if (mandatorySectionsCompleted && defendantType && finesMacNestedRoutes[defendantType].accountCommentsNotes) {
        <lib-govuk-button
          buttonId="submitForm"
          type="submit"
          buttonClasses="nested-flow govuk-button--secondary govuk-!-margin-left-3"
        >
          {{ finesMacNestedRoutes[defendantType].accountCommentsNotes?.buttonText }}
        </lib-govuk-button>
      }
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <app-govuk-cancel-link
        (linkClickEvent)="handleRoute(fineMacRoutingPaths.children.accountDetails)"
      ></app-govuk-cancel-link>
    </div>
  </div>
</form>
