<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Account Enquiry Matches</h1>
  </div>
</div>
@if (data$ | async; as data) {
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table mat-table [dataSource]="data$ | async" class="">
        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="accountNo">
          <th mat-header-cell *matHeaderCellDef>Account No.</th>
          <td mat-cell *matCellDef="let element">{{ element.accountNo }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="dateOfBirth">
          <th mat-header-cell *matHeaderCellDef>Date of Birth</th>
          <td mat-cell *matCellDef="let element">{{ element.dateOfBirth }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="addressLine1">
          <th mat-header-cell *matHeaderCellDef>Address Line 1</th>
          <td mat-cell *matCellDef="let element">{{ element.addressLine1 }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="balance">
          <th mat-header-cell *matHeaderCellDef>Balance</th>
          <td mat-cell *matCellDef="let element">{{ element.balance | currency: 'GBP' }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="court">
          <th mat-header-cell *matHeaderCellDef>Court</th>
          <td mat-cell *matCellDef="let element">{{ element.court }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
} @else {
  <mat-spinner></mat-spinner>
}
<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-two-thirds">
    <app-govuk-button
      buttonClasses="govuk-button--secondary govuk-!-margin-right-3"
      buttonId="back"
      (buttonClickEvent)="handleBack()"
    >
      Back</app-govuk-button
    >
  </div>
</div>

<!-- <button [routerLink]="['../search']">SEARCH</button><button [routerLink]="['../details']">DETAILS</button> -->
