<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Account Enquiry Matches</h1>
    <p class="govuk-body">If you typed the web address, check it is correct.</p>
    <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>
    <p class="govuk-body">
      If the web address is correct or you selected a link or button,
      <a href="#" class="govuk-link">contact the Tax Credits Helpline</a> if you need to speak to someone about your tax
      credits.
    </p>
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">
        Dates and amounts
      </caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Amount</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">First 6 weeks</th>
          <td class="govuk-table__cell">£109.80 per week</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Next 33 weeks</th>
          <td class="govuk-table__cell">£109.80 per week</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Total estimated pay</th>
          <td class="govuk-table__cell">£4,282.20</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-govuk-button
  buttonClasses="govuk-button--secondary govuk-!-margin-right-3"
  buttonId="back"
  (buttonClickEvent)="handleBack()"
>
  Back</app-govuk-button
>

<!-- <button [routerLink]="['../search']">SEARCH</button><button [routerLink]="['../details']">DETAILS</button> -->
