<opal-lib-govuk-heading-with-caption
  [captionText]="accountStore.account_number()! + ' - ' + accountStore.party_name()!"
  [headingText]="headingText"
></opal-lib-govuk-heading-with-caption>

<opal-lib-govuk-error-summary
  [errors]="formErrorSummaryMessage"
  (errorClick)="scrollTo($event)"
></opal-lib-govuk-error-summary>
@if (form) {
  <form (submit)="handleFormSubmit($event)" [formGroup]="form">
    <!-- Party details -->
    <app-fines-acc-party-add-amend-convert-party-details
      [form]="form"
      [formControlErrorMessages]="formControlErrorMessages"
      [isCompanyPartyType]="isCompanyPartyType"
      [isIndividualPartyType]="isIndividualPartyType"
      [titleOptions]="titleOptions"
    ></app-fines-acc-party-add-amend-convert-party-details>

    <!-- aliases -->
    <opal-lib-govuk-checkboxes fieldSetId="addAliasCheckbox" checkboxClasses="" legendText="">
      <div
        opal-lib-govuk-checkboxes-item
        labelText="Add aliases"
        inputId="facc_party_add_amend_convert_add_alias"
        inputName="facc_party_add_amend_convert_add_alias"
        [control]="form.get('facc_party_add_amend_convert_add_alias')"
      ></div>
    </opal-lib-govuk-checkboxes>

    @if (form.get('facc_party_add_amend_convert_add_alias')?.value === true) {
      @if (isIndividualPartyType) {
        <div
          opal-lib-govuk-checkboxes-conditional
          conditionalId="facc_party_add_amend_convert_add_alias"
          formArrayName="facc_party_add_amend_convert_individual_aliases"
        >
          @for (aliasControl of aliasControls; let rowIndex = $index; track rowIndex) {
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Alias {{ rowIndex + 1 }}</legend>
              <opal-lib-govuk-text-input
                labelText="First names"
                [inputId]="aliasControl['facc_party_add_amend_convert_alias_forenames'].inputId"
                [inputName]="aliasControl['facc_party_add_amend_convert_alias_forenames'].inputName"
                inputClasses="govuk-input--width-20"
                [control]="
                  form.get([
                    'facc_party_add_amend_convert_individual_aliases',
                    rowIndex,
                    aliasControl['facc_party_add_amend_convert_alias_forenames'].controlName,
                  ])
                "
                [errors]="
                  formControlErrorMessages[aliasControl['facc_party_add_amend_convert_alias_forenames'].controlName]
                "
              ></opal-lib-govuk-text-input>
              <opal-lib-govuk-text-input
                labelText="Last name"
                [inputId]="aliasControl['facc_party_add_amend_convert_alias_surname'].inputId"
                [inputName]="aliasControl['facc_party_add_amend_convert_alias_surname'].inputName"
                inputClasses="govuk-input--width-20"
                [control]="
                  form.get([
                    'facc_party_add_amend_convert_individual_aliases',
                    rowIndex,
                    aliasControl['facc_party_add_amend_convert_alias_surname'].controlName,
                  ])
                "
                [errors]="
                  formControlErrorMessages[aliasControl['facc_party_add_amend_convert_alias_surname'].controlName]
                "
                [opalLibCapitaliseAllCharacters]="
                  form.get([
                    'facc_party_add_amend_convert_individual_aliases',
                    rowIndex,
                    aliasControl['facc_party_add_amend_convert_alias_surname'].controlName,
                  ])!
                "
              ></opal-lib-govuk-text-input>
            </fieldset>
          }
          @if (aliasControls.length > 1) {
            <div class="govuk-!-margin-bottom-3">
              <a
                class="govuk-link govuk-link--no-visited-state"
                (click)="removeAlias(aliasControls.length - 1, 'facc_party_add_amend_convert_individual_aliases')"
                (keyup.enter)="removeAlias(aliasControls.length - 1, 'facc_party_add_amend_convert_individual_aliases')"
                tabindex="0"
              >
                Remove
              </a>
            </div>
          }
          @if (aliasControls.length < 5) {
            <opal-lib-govuk-button
              buttonId="addAlias"
              buttonClasses="govuk-button--secondary govuk-!-margin-bottom-0"
              type="button"
              (buttonClickEvent)="addAlias(aliasControls.length, 'facc_party_add_amend_convert_individual_aliases')"
              >Add another alias</opal-lib-govuk-button
            >
          }
        </div>
      }
      @if (isCompanyPartyType) {
        <div
          opal-lib-govuk-checkboxes-conditional
          conditionalId="facc_party_add_amend_convert_add_alias"
          formArrayName="facc_party_add_amend_convert_organisation_aliases"
        >
          @for (aliasControl of aliasControls; let rowIndex = $index; track rowIndex) {
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Alias {{ rowIndex + 1 }}</legend>
              <opal-lib-govuk-text-input
                labelText="Company name"
                [inputId]="aliasControl['facc_party_add_amend_convert_alias_organisation_name'].inputId"
                [inputName]="aliasControl['facc_party_add_amend_convert_alias_organisation_name'].inputName"
                inputClasses="govuk-input--width-20"
                [control]="
                  form.get([
                    'facc_party_add_amend_convert_organisation_aliases',
                    rowIndex,
                    aliasControl['facc_party_add_amend_convert_alias_organisation_name'].controlName,
                  ])
                "
                [errors]="
                  formControlErrorMessages[
                    aliasControl['facc_party_add_amend_convert_alias_organisation_name'].controlName
                  ]
                "
                [opalLibCapitaliseAllCharacters]="
                  form.get([
                    'facc_party_add_amend_convert_organisation_aliases',
                    rowIndex,
                    aliasControl['facc_party_add_amend_convert_alias_organisation_name'].controlName,
                  ])!
                "
              ></opal-lib-govuk-text-input>
            </fieldset>
          }
          @if (aliasControls.length > 1) {
            <div class="govuk-!-margin-bottom-3">
              <a
                class="govuk-link govuk-link--no-visited-state"
                (click)="removeAlias(aliasControls.length - 1, 'facc_party_add_amend_convert_organisation_aliases')"
                (keyup.enter)="
                  removeAlias(aliasControls.length - 1, 'facc_party_add_amend_convert_organisation_aliases')
                "
                tabindex="0"
              >
                Remove
              </a>
            </div>
          }
          @if (aliasControls.length < 5) {
            <opal-lib-govuk-button
              buttonId="addAlias"
              buttonClasses="govuk-button--secondary govuk-!-margin-bottom-0"
              type="button"
              (buttonClickEvent)="addAlias(aliasControls.length, 'facc_party_add_amend_convert_organisation_aliases')"
              >Add another alias</opal-lib-govuk-button
            >
          }
        </div>
      }
    }

    @if (isIndividualPartyType) {
      <app-fines-acc-party-add-amend-convert-dob-ni
        [form]="form"
        [formControlErrorMessages]="formControlErrorMessages"
        [age]="age"
        [ageLabel]="ageLabel"
        [yesterday]="yesterday"
      ></app-fines-acc-party-add-amend-convert-dob-ni>
    }

    @if (isCompanyPartyType) {
      <hr class="{{ FINES_ACC_PARTY_ADD_AMEND_CONTENT_STYLES.hr }}" />
    }

    <app-fines-acc-party-add-amend-convert-address
      [form]="form"
      [formControlErrorMessages]="formControlErrorMessages"
    ></app-fines-acc-party-add-amend-convert-address>

    <!-- Contact details - Only show for debtor or company party types -->
    @if (checkCompanyOrDebtor) {
      <hr class="{{ FINES_ACC_PARTY_ADD_AMEND_CONTENT_STYLES.hr }}" />
      <app-fines-acc-party-add-amend-convert-cd
        [form]="form"
        [formControlErrorMessages]="formControlErrorMessages"
      ></app-fines-acc-party-add-amend-convert-cd>
    }

    <!-- Language preferences - Only show for debtor or company party types -->
    @if (showLanguagePreferences() && checkCompanyOrDebtor) {
      <hr class="{{ FINES_ACC_PARTY_ADD_AMEND_CONTENT_STYLES.hr }}" />
      <app-fines-acc-party-add-amend-convert-lp
        [form]="form"
        [formControlErrorMessages]="formControlErrorMessages"
        [languageOptions]="languageOptions"
      ></app-fines-acc-party-add-amend-convert-lp>
    }

    <!-- Vehicle details - Only show for debtor or company party types -->
    @if (checkCompanyOrDebtor) {
      <hr class="{{ FINES_ACC_PARTY_ADD_AMEND_CONTENT_STYLES.hr }}" />
      <app-fines-acc-party-add-amend-convert-vd
        [form]="form"
        [formControlErrorMessages]="formControlErrorMessages"
      ></app-fines-acc-party-add-amend-convert-vd>
    }

    <!-- Employer Details - Only for individual party type and debtor -->
    @if (isIndividualPartyType && isDebtor) {
      <hr class="{{ FINES_ACC_PARTY_ADD_AMEND_CONTENT_STYLES.hr }}" />

      <app-fines-acc-party-add-amend-convert-ed
        [form]="form"
        [formControlErrorMessages]="formControlErrorMessages"
      ></app-fines-acc-party-add-amend-convert-ed>
    }

    <hr class="{{ FINES_ACC_PARTY_ADD_AMEND_CONTENT_STYLES.hr }}" />

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <opal-lib-govuk-button buttonId="submitForm" type="submit">Save changes</opal-lib-govuk-button>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <opal-lib-govuk-cancel-link
          (linkClickEvent)="handleRoute(finesAccRoutingPaths.children.details)"
        ></opal-lib-govuk-cancel-link>
      </div>
    </div>
  </form>
}
