<opal-lib-govuk-heading-with-caption
  captionText="{{ accountStore.getAccountState().account_number }} - {{ accountStore.getAccountState().party_name }}"
  headingText="{{ heading }}"
  headingClasses="govuk-heading-l govuk-!-margin-bottom-6"
/>

@switch (deniedType) {
  @case (deniedTypes.permission) {
    <p class="govuk-body govuk-!-margin-bottom-6">{{ messages.permission }}</p>
  }
  @case (deniedTypes.noNextActions) {
    <p class="govuk-body govuk-!-margin-bottom-0">{{ messages.noNextPermittedActionsPrefix }}</p>
    <p class="govuk-body govuk-!-margin-bottom-5 govuk-!-margin-top-5">
      <strong>{{ lastEnforcementAction }}</strong>
    </p>
  }
  @case (deniedTypes.enforcementHold) {
    <p class="govuk-body govuk-!-margin-bottom-5 govuk-!-margin-top-5">{{ messages.enforcementHold }}</p>
  }
  @case (deniedTypes.accountStatus) {
    <p class="govuk-body govuk-!-margin-bottom-0">{{ messages.accountStatusPrefix }}</p>
    <p class="govuk-body govuk-!-margin-bottom-5 govuk-!-margin-top-5">
      <strong>{{ accountStatus }}</strong>
    </p>
  }
  @case (deniedTypes.employmentData) {
    <p class="govuk-body govuk-!-margin-bottom-5">
      <strong>{{ actionTitle }}</strong>
    </p>
    <p class="govuk-body govuk-!-margin-bottom-6">{{ messages.employmentData }}</p>
  }
}

<opal-lib-govuk-cancel-link
  cancelLinkText="Go back"
  (linkClickEvent)="navigateBackToAccountSummary()"
></opal-lib-govuk-cancel-link>
