@if (referenceData$ | async) {
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Are you sure you want to remove this offence and all its impositions?</h1>
    <app-fines-mac-offence-details-review-offence
      [offence]="offence"
      [impositionRefData]="impositionRefData"
      [majorCreditorRefData]="majorCreditorRefData"
    ></app-fines-mac-offence-details-review-offence>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <lib-govuk-button
          buttonId="confirmDeletion"
          buttonClasses="govuk-button--warning"
          (buttonClickEvent)="confirmOffenceRemoval()"
        >
          Yes - remove offence and all impositions
        </lib-govuk-button>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <app-govuk-cancel-link
          (linkClickEvent)="handleRoute(fineMacOffenceDetailsRoutingPaths.children.reviewOffences)"
          cancelLinkText="No - cancel"
        ></app-govuk-cancel-link>
      </div>
    </div>
  </div>
}
