<div class="govuk-grid-column-full">
  <app-govuk-back-link (clickEvent)="navigateBack()"></app-govuk-back-link>
  @if (!isReadOnly) {
    <h1 class="govuk-heading-l">Check account details</h1>
  } @else {
    <h1 class="govuk-heading-l">
      @if (finesService.finesMacState.accountDetails.formData.fm_create_account_defendant_type === 'company') {
        {{ finesService.finesMacState.companyDetails.formData.fm_company_details_company_name }}
      } @else {
        {{
          finesService.finesMacState.personalDetails.formData.fm_personal_details_title +
            ' ' +
            finesService.finesMacState.personalDetails.formData.fm_personal_details_forenames +
            ' ' +
            utilsService.upperCaseAllLetters(
              finesService.finesMacState.personalDetails.formData.fm_personal_details_surname!
            )
        }}
      }
    </h1>
    <app-govuk-tag tagClasses="govuk-tag" tagId="status">{{ status }}</app-govuk-tag>
    <h3 class="govuk-heading-m govuk-!-margin-top-4">Review history</h3>
    <app-moj-timeline>
      @for (timelineItem of finesService.finesDraftState.timeline_data; track timelineItem.status_date) {
        <app-moj-timeline-item>
          <span title>{{ timelineItem.status }}</span>
          <span user>{{ timelineItem.username }}</span>
          <span date>{{
            dateService.getFromFormatToFormat(timelineItem.status_date, 'yyyy-MM-dd', 'dd MMMM yyyy')
          }}</span>
          @if (timelineItem.reason_text) {
            <span description>{{ timelineItem.reason_text }}</span>
          }
        </app-moj-timeline-item>
      }
    </app-moj-timeline>
  }

  <app-fines-mac-review-account-account-details
    [accountDetails]="finesService.finesMacState.accountDetails.formData"
    [businessUnit]="finesService.finesMacState.businessUnit"
    [languagePreferences]="finesService.finesMacState.languagePreferences.formData"
  >
  </app-fines-mac-review-account-account-details>

  @if (groupLjaAndCourtData$ | async; as data) {
    <app-fines-mac-review-account-court-details
      [courtDetails]="finesService.finesMacState.courtDetails.formData"
      [enforcementCourtsData]="data.enforcementCourtsData.refData"
      [localJusticeAreasData]="data.localJusticeAreasData.refData"
      [isReadOnly]="isReadOnly"
      (emitChangeCourtDetails)="navigateBack()"
    ></app-fines-mac-review-account-court-details>
  }

  @if (finesService.finesMacState.accountDetails.formData.fm_create_account_defendant_type === 'adultOrYouthOnly') {
    <ng-container *ngTemplateOutlet="personalDetails"></ng-container>
  } @else if (
    finesService.finesMacState.accountDetails.formData.fm_create_account_defendant_type === 'parentOrGuardianToPay'
  ) {
    <ng-container *ngTemplateOutlet="parentGuardianDetails"></ng-container>
  } @else {
    <app-fines-mac-review-account-company-details
      [companyDetails]="finesService.finesMacState.companyDetails.formData"
      [isReadOnly]="isReadOnly"
      (emitChangeCompanyDetails)="navigateBack()"
    >
    </app-fines-mac-review-account-company-details>
  }

  <app-fines-mac-review-account-contact-details
    [contactDetails]="finesService.finesMacState.contactDetails.formData"
    [isReadOnly]="isReadOnly"
    (emitChangeContactDetails)="navigateBack()"
  ></app-fines-mac-review-account-contact-details>

  @if (
    finesService.finesMacState.accountDetails.formData.fm_create_account_defendant_type === 'parentOrGuardianToPay'
  ) {
    <ng-container *ngTemplateOutlet="personalDetails"></ng-container>
  }

  @if (finesService.finesMacState.accountDetails.formData.fm_create_account_defendant_type !== 'company') {
    <app-fines-mac-review-account-employer-details
      [employerDetails]="finesService.finesMacState.employerDetails.formData"
      [isReadOnly]="isReadOnly"
      (emitChangeEmployerDetails)="navigateBack()"
    ></app-fines-mac-review-account-employer-details>
  }

  <app-fines-mac-review-account-offence-details
    (emitChangeOffenceDetails)="navigateBack()"
    [isReadOnly]="isReadOnly"
  ></app-fines-mac-review-account-offence-details>

  <app-fines-mac-review-account-payment-terms
    [paymentTermsState]="finesService.finesMacState.paymentTerms.formData"
    [businessUnit]="finesService.finesMacState.businessUnit"
    [defendantType]="finesService.finesMacState.accountDetails.formData.fm_create_account_defendant_type!"
    [isReadOnly]="isReadOnly"
    (emitChangePaymentTerms)="navigateBack()"
  ></app-fines-mac-review-account-payment-terms>

  <app-fines-mac-review-account-account-comments-and-notes
    [accountCommentsAndNotes]="finesService.finesMacState.accountCommentsNotes.formData"
    [isReadOnly]="isReadOnly"
    (emitChangeAccountCommentsAndNotesDetails)="navigateBack()"
  ></app-fines-mac-review-account-account-comments-and-notes>

  @if (!isReadOnly) {
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <app-govuk-button buttonId="submitAccountButton">Submit for review</app-govuk-button>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <a
          class="govuk-link govuk-error-colour"
          (click)="handleRoute(fineMacRoutes.children.deleteAccountConfirmation, false, $event)"
          (keyup.enter)="handleRoute(fineMacRoutes.children.deleteAccountConfirmation, false, $event)"
          tabindex="0"
          >Delete account</a
        >
      </div>
    </div>
  }
</div>

<ng-template #parentGuardianDetails>
  <app-fines-mac-review-account-parent-guardian-details
    [parentGuardianDetails]="finesService.finesMacState.parentGuardianDetails.formData"
    [isReadOnly]="isReadOnly"
    (emitChangeParentGuardianDetails)="navigateBack()"
  ></app-fines-mac-review-account-parent-guardian-details>
</ng-template>

<ng-template #personalDetails>
  <app-fines-mac-review-account-personal-details
    [personalDetails]="finesService.finesMacState.personalDetails.formData"
    [showVehicleDetails]="
      finesService.finesMacState.accountDetails.formData.fm_create_account_defendant_type === 'adultOrYouthOnly'
    "
    [isReadOnly]="isReadOnly"
    (emitChangePersonalDetails)="navigateBack()"
  ></app-fines-mac-review-account-personal-details>
</ng-template>
