<div class="govuk-grid-column-full">
  <opal-lib-govuk-back-link (clickEvent)="navigateBack()"></opal-lib-govuk-back-link>
  @if (!isReadOnly) {
    <h1 class="govuk-heading-l">Check account details</h1>
  } @else {
    <app-fines-mac-review-account-history
      [accountStatus]="reviewAccountStatus"
      [defendantName]="
        finesMacStore.getDefendantType() === 'company'
          ? finesMacStore.getCompanyDetailsName()
          : finesMacStore.getPersonalDetailsName()
      "
      [timelineData]="finesDraftStore.timeline_data().reverse()"
      [isRejected]="reviewAccountStatus === 'Rejected'"
    ></app-fines-mac-review-account-history>
  }

  <app-fines-mac-review-account-account-details
    [accountDetails]="finesMacStore.accountDetails().formData"
    [businessUnit]="finesMacStore.businessUnit()"
    [languagePreferences]="finesMacStore.languagePreferences().formData"
  >
  </app-fines-mac-review-account-account-details>

  <app-fines-mac-review-account-court-details
    [courtDetails]="finesMacStore.courtDetails().formData"
    [enforcementCourtsData]="courts"
    [localJusticeAreasData]="localJusticeAreas"
    [isReadOnly]="isReadOnly"
    (emitChangeCourtDetails)="navigateBack()"
  ></app-fines-mac-review-account-court-details>

  @if (finesMacStore.accountDetails().formData.fm_create_account_defendant_type === 'adultOrYouthOnly') {
    <ng-container *ngTemplateOutlet="personalDetails"></ng-container>
  } @else if (finesMacStore.accountDetails().formData.fm_create_account_defendant_type === 'parentOrGuardianToPay') {
    <ng-container *ngTemplateOutlet="parentGuardianDetails"></ng-container>
  } @else {
    <app-fines-mac-review-account-company-details
      [companyDetails]="finesMacStore.companyDetails().formData"
      [isReadOnly]="isReadOnly"
      (emitChangeCompanyDetails)="navigateBack()"
      [isReadOnly]="isReadOnly"
    >
    </app-fines-mac-review-account-company-details>
  }

  <app-fines-mac-review-account-contact-details
    [contactDetails]="finesMacStore.contactDetails().formData"
    [isReadOnly]="isReadOnly"
    (emitChangeContactDetails)="navigateBack()"
    [isReadOnly]="isReadOnly"
  ></app-fines-mac-review-account-contact-details>

  @if (finesMacStore.accountDetails().formData.fm_create_account_defendant_type === 'parentOrGuardianToPay') {
    <ng-container *ngTemplateOutlet="personalDetails"></ng-container>
  }

  @if (finesMacStore.accountDetails().formData.fm_create_account_defendant_type !== 'company') {
    <app-fines-mac-review-account-employer-details
      [employerDetails]="finesMacStore.employerDetails().formData"
      [isReadOnly]="isReadOnly"
      (emitChangeEmployerDetails)="navigateBack()"
      [isReadOnly]="isReadOnly"
    ></app-fines-mac-review-account-employer-details>
  }

  <app-fines-mac-review-account-offence-details
    (emitChangeOffenceDetails)="navigateBack()"
    [isReadOnly]="isReadOnly"
    [results]="results"
    [majorCreditors]="majorCreditors"
  ></app-fines-mac-review-account-offence-details>

  <app-fines-mac-review-account-payment-terms
    [paymentTermsState]="finesMacStore.paymentTerms().formData"
    [businessUnit]="finesMacStore.businessUnit()"
    [defendantType]="finesMacStore.accountDetails().formData.fm_create_account_defendant_type!"
    [isReadOnly]="isReadOnly"
    (emitChangePaymentTerms)="navigateBack()"
    [isReadOnly]="isReadOnly"
  ></app-fines-mac-review-account-payment-terms>

  <app-fines-mac-review-account-account-comments-and-notes
    [accountCommentsAndNotes]="finesMacStore.accountCommentsNotes().formData"
    [isReadOnly]="isReadOnly"
    (emitChangeAccountCommentsAndNotesDetails)="navigateBack()"
    [isReadOnly]="isReadOnly"
  ></app-fines-mac-review-account-account-comments-and-notes>

  @if (!isReadOnly) {
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <opal-lib-govuk-button buttonId="submitAccountButton" (buttonClickEvent)="submitForReview()"
          >Submit for review</opal-lib-govuk-button
        >
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <a
          class="govuk-link govuk-error-colour"
          (click)="handleRoute(finesMacRoutes.children.deleteAccountConfirmation, false, $event)"
          (keyup.enter)="handleRoute(finesMacRoutes.children.deleteAccountConfirmation, false, $event)"
          tabindex="0"
          >Delete account</a
        >
      </div>
    </div>
  }

  @if (finesDraftStore.checker()) {
    <app-fines-mac-review-account-decision></app-fines-mac-review-account-decision>
  }
</div>

<ng-template #parentGuardianDetails>
  <app-fines-mac-review-account-parent-guardian-details
    [parentGuardianDetails]="finesMacStore.parentGuardianDetails().formData"
    [isReadOnly]="isReadOnly"
    (emitChangeParentGuardianDetails)="navigateBack()"
    [isReadOnly]="isReadOnly"
  ></app-fines-mac-review-account-parent-guardian-details>
</ng-template>

<ng-template #personalDetails>
  <app-fines-mac-review-account-personal-details
    [personalDetails]="finesMacStore.personalDetails().formData"
    [showVehicleDetails]="
      finesMacStore.accountDetails().formData.fm_create_account_defendant_type === 'adultOrYouthOnly'
    "
    [isReadOnly]="isReadOnly"
    (emitChangePersonalDetails)="navigateBack()"
  ></app-fines-mac-review-account-personal-details>
</ng-template>
