<opal-lib-govuk-heading-with-caption
  captionText="{{ accountStore.getAccountState().account_number }} - {{ accountStore.getAccountState().party_name }}"
  headingText="You cannot amend the payment terms of this account."
  headingClasses="govuk-heading-l govuk-!-margin-bottom-6"
/>

@switch (deniedType) {
  @case ('enforcement') {
    <p class="govuk-!-margin-bottom-6">
      This account has an enforcement action outstanding: {{ defendantAccountPaymentTermsData.last_enforcement }}.
    </p>
  }
  @case ('permission') {
    <p class="govuk-!-margin-bottom-6">
      You do not have the required permissions to make changes to this account as it is outside your business unit.
    </p>
  }
  @case ('balance') {
    <p class="govuk-!-margin-bottom-6">The account has a zero balance.</p>
  }
  @case ('account-status') {
    <p class="govuk-!-margin-bottom-6">This account has {{ accountStatusDescription }}.</p>
  }
}

<a
  href="#"
  (click)="navigateBackToAccountSummary($event)"
  (keydown.enter)="navigateBackToAccountSummary($event)"
  class="govuk-link govuk-!-margin-top-4"
>
  Go back</a
>
