<div class="govuk-grid-column-two-thirds">
  <opal-lib-govuk-heading-with-caption
    [captionText]="`${accountNumber} - ${partyName}`"
    headingText="Do you want to add a payment hold?"
    headingClasses="govuk-heading-l govuk-!-margin-bottom-30"
  >
  </opal-lib-govuk-heading-with-caption>

  <div class="govuk-button-group govuk-!-padding-top-2">
    <button
      id="addPaymentHold"
      type="button"
      class="govuk-button govuk-button--primary govuk-!-margin-right-4"
      (click)="handleAddPaymentHold()"
    >
      Yes - add hold
    </button>
    <opal-lib-govuk-cancel-link
      (linkClickEvent)="navigateBackToMinorCreditorDetailsPage()"
      cancelLinkText="No - cancel"
    ></opal-lib-govuk-cancel-link>
  </div>
</div>
