<h1 class="govuk-heading-l">Minor creditor details</h1>
<opal-lib-govuk-error-summary
  [errors]="formErrorSummaryMessage"
  (errorClick)="scrollTo($event)"
></opal-lib-govuk-error-summary>
<form (submit)="handleFormSubmit($event)" [formGroup]="form">
  <opal-lib-govuk-radio
    fieldSetId="fm_offence_details_minor_creditor_creditor_type"
    legendText="Select creditor type"
    legendClasses="govuk-fieldset__legend--s"
    [errors]="formControlErrorMessages['fm_offence_details_minor_creditor_creditor_type']"
  >
    @for (creditorType of creditorTypes; track creditorType.key) {
      <div
        opal-lib-govuk-radios-item
        [labelText]="creditorType.value"
        [inputId]="creditorType.key"
        inputName="fm_offence_details_minor_creditor_creditor_type"
        [inputValue]="creditorType.key"
        [control]="form.controls['fm_offence_details_minor_creditor_creditor_type']"
      ></div>

      @if (creditorType.key === 'individual') {
        @if (form.get('fm_offence_details_minor_creditor_creditor_type')!.value === creditorType.key) {
          <div opal-lib-govuk-radios-conditional conditionalId="fm_offence_details_minor_creditor_creditor_type">
            <div class="govuk-form-group">
              <opal-lib-govuk-select
                labelText="Title"
                selectId="fm_offence_details_minor_creditor_title"
                selectName="fm_offence_details_minor_creditor_title"
                selectClasses="govuk-!-width-one-third"
                [options]="titleOptions"
                [control]="form.controls['fm_offence_details_minor_creditor_title']"
                [errors]="formControlErrorMessages['fm_offence_details_minor_creditor_title']"
              ></opal-lib-govuk-select>
            </div>
            <div class="govuk-form-group">
              <opal-lib-govuk-text-input
                labelText="First names"
                inputId="fm_offence_details_minor_creditor_forenames"
                inputName="fm_offence_details_minor_creditor_forenames"
                inputClasses="govuk-!-width-two-thirds"
                hintText="Include their middle names"
                [control]="form.controls['fm_offence_details_minor_creditor_forenames']"
                [errors]="formControlErrorMessages['fm_offence_details_minor_creditor_forenames']"
              ></opal-lib-govuk-text-input>
            </div>
            <div class="govuk-form-group">
              <opal-lib-govuk-text-input
                labelText="Last name"
                inputId="fm_offence_details_minor_creditor_surname"
                inputName="fm_offence_details_minor_creditor_surname"
                inputClasses="govuk-!-width-two-thirds"
                [control]="form.controls['fm_offence_details_minor_creditor_surname']"
                [errors]="formControlErrorMessages['fm_offence_details_minor_creditor_surname']"
              ></opal-lib-govuk-text-input>
            </div>
          </div>
        }
      } @else if (creditorType.key === 'company') {
        @if (form.get('fm_offence_details_minor_creditor_creditor_type')!.value === creditorType.key) {
          <div opal-lib-govuk-radios-conditional conditionalId="fm_offence_details_minor_creditor_creditor_type">
            <div class="govuk-form-group">
              <opal-lib-govuk-text-input
                labelText="Company name"
                inputId="fm_offence_details_minor_creditor_company_name"
                inputName="fm_offence_details_minor_creditor_company_name"
                inputClasses="govuk-!-width-two-thirds"
                [control]="form.controls['fm_offence_details_minor_creditor_company_name']"
                [errors]="formControlErrorMessages['fm_offence_details_minor_creditor_company_name']"
              ></opal-lib-govuk-text-input>
            </div>
          </div>
        }
      }
    }
  </opal-lib-govuk-radio>
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Address</legend>
    <opal-lib-govuk-text-input
      labelText="Address line 1"
      inputId="fm_offence_details_minor_creditor_address_line_1"
      inputName="fm_offence_details_minor_creditor_address_line_1"
      inputClasses="govuk-!-width-three-quarters"
      [control]="form.controls['fm_offence_details_minor_creditor_address_line_1']"
      [errors]="formControlErrorMessages['fm_offence_details_minor_creditor_address_line_1']"
    ></opal-lib-govuk-text-input>
    <opal-lib-govuk-text-input
      labelText="Address line 2"
      inputId="fm_offence_details_minor_creditor_address_line_2"
      inputName="fm_offence_details_minor_creditor_address_line_2"
      inputClasses="govuk-!-width-two-thirds"
      [control]="form.controls['fm_offence_details_minor_creditor_address_line_2']"
      [errors]="formControlErrorMessages['fm_offence_details_minor_creditor_address_line_2']"
    ></opal-lib-govuk-text-input>
    <opal-lib-govuk-text-input
      labelText="Address line 3"
      inputId="fm_offence_details_minor_creditor_address_line_3"
      inputName="fm_offence_details_minor_creditor_address_line_3"
      inputClasses="govuk-!-width-one-third"
      [control]="form.controls['fm_offence_details_minor_creditor_address_line_3']"
      [errors]="formControlErrorMessages['fm_offence_details_minor_creditor_address_line_3']"
    ></opal-lib-govuk-text-input>
    <opal-lib-govuk-text-input
      labelText="Postcode"
      inputId="fm_offence_details_minor_creditor_post_code"
      inputName="fm_offence_details_minor_creditor_post_code"
      inputClasses="govuk-!-width-one-third"
      [control]="form.controls['fm_offence_details_minor_creditor_post_code']"
      [errors]="formControlErrorMessages['fm_offence_details_minor_creditor_post_code']"
    ></opal-lib-govuk-text-input>
  </fieldset>
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Payment details</legend>
    <opal-lib-govuk-checkboxes fieldSetId="has_payment_details" legendText="">
      <div
        opal-lib-govuk-checkboxes-item
        labelText="I have BACS payment details"
        inputId="fm_offence_details_minor_creditor_pay_by_bacs"
        inputName="fm_offence_details_minor_creditor_pay_by_bacs"
        [control]="form.get('fm_offence_details_minor_creditor_pay_by_bacs')"
      ></div>
    </opal-lib-govuk-checkboxes>
    @if (form.get('fm_offence_details_minor_creditor_pay_by_bacs')?.value === true) {
      <div opal-lib-govuk-checkboxes-conditional conditionalId="fm_offence_details_minor_creditor_pay_by_bacs">
        <opal-lib-govuk-text-input
          labelText="Name on the account"
          inputId="fm_offence_details_minor_creditor_bank_account_name"
          inputName="fm_offence_details_minor_creditor_bank_account_name"
          inputClasses="govuk-!-width-two-thirds"
          [control]="form.controls['fm_offence_details_minor_creditor_bank_account_name']"
          [errors]="formControlErrorMessages['fm_offence_details_minor_creditor_bank_account_name']"
        ></opal-lib-govuk-text-input>
        <opal-lib-govuk-text-input
          labelText="Sort code"
          inputId="fm_offence_details_minor_creditor_bank_sort_code"
          inputName="fm_offence_details_minor_creditor_bank_sort_code"
          inputClasses="govuk-!-width-one-third"
          [control]="form.controls['fm_offence_details_minor_creditor_bank_sort_code']"
          [errors]="formControlErrorMessages['fm_offence_details_minor_creditor_bank_sort_code']"
        ></opal-lib-govuk-text-input>
        <opal-lib-govuk-text-input
          labelText="Account number"
          inputId="fm_offence_details_minor_creditor_bank_account_number"
          inputName="fm_offence_details_minor_creditor_bank_account_number"
          inputClasses="govuk-!-width-one-third"
          [control]="form.controls['fm_offence_details_minor_creditor_bank_account_number']"
          [errors]="formControlErrorMessages['fm_offence_details_minor_creditor_bank_account_number']"
        ></opal-lib-govuk-text-input>
        <opal-lib-govuk-text-input
          labelText="Payment reference"
          inputId="fm_offence_details_minor_creditor_bank_account_ref"
          inputName="fm_offence_details_minor_creditor_bank_account_ref"
          inputClasses="govuk-!-width-two-thirds"
          [control]="form.controls['fm_offence_details_minor_creditor_bank_account_ref']"
          [errors]="formControlErrorMessages['fm_offence_details_minor_creditor_bank_account_ref']"
        ></opal-lib-govuk-text-input>
      </div>
    }
  </fieldset>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <opal-lib-govuk-button buttonId="submitForm" type="submit"> Save </opal-lib-govuk-button>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <opal-lib-govuk-cancel-link
        (linkClickEvent)="handleRoute(fineMacOffenceDetailsRoutingPaths.children.addOffence)"
      ></opal-lib-govuk-cancel-link>
    </div>
  </div>
</form>
