<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Employer details</legend>
  <opal-lib-govuk-text-input
    labelText="Employer name"
    inputId="facc_party_add_amend_convert_employer_company_name"
    inputName="facc_party_add_amend_convert_employer_company_name"
    labelClasses="govuk-label--s"
    [control]="form.get('facc_party_add_amend_convert_employer_company_name')"
    [errors]="formControlErrorMessages['facc_party_add_amend_convert_employer_company_name']"
  ></opal-lib-govuk-text-input>
  <opal-lib-govuk-text-input
    labelText="Employee reference"
    inputId="facc_party_add_amend_convert_employer_reference"
    inputName="facc_party_add_amend_convert_employer_reference"
    inputClasses="govuk-input--width-10"
    labelClasses="govuk-label--s"
    hintText="If employee reference not known, add National Insurance number"
    [control]="form.get('facc_party_add_amend_convert_employer_reference')"
    [errors]="formControlErrorMessages['facc_party_add_amend_convert_employer_reference']"
    [opalLibCapitaliseAllCharacters]="form.get('facc_party_add_amend_convert_employer_reference')!"
  ></opal-lib-govuk-text-input>
  <opal-lib-govuk-text-input
    labelText="Employer email address"
    inputId="facc_party_add_amend_convert_employer_email_address"
    inputName="facc_party_add_amend_convert_employer_email_address"
    labelClasses="govuk-label--s"
    [control]="form.get('facc_party_add_amend_convert_employer_email_address')"
    [errors]="formControlErrorMessages['facc_party_add_amend_convert_employer_email_address']"
  ></opal-lib-govuk-text-input>
  <opal-lib-govuk-text-input
    labelText="Employer telephone"
    inputId="facc_party_add_amend_convert_employer_telephone_number"
    inputName="facc_party_add_amend_convert_employer_telephone_number"
    inputClasses="govuk-input--width-20"
    labelClasses="govuk-label--s"
    [control]="form.get('facc_party_add_amend_convert_employer_telephone_number')"
    [errors]="formControlErrorMessages['facc_party_add_amend_convert_employer_telephone_number']"
  ></opal-lib-govuk-text-input>
</fieldset>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Employer address</legend>
  <opal-lib-govuk-text-input
    labelText="Address line 1"
    inputId="facc_party_add_amend_convert_employer_address_line_1"
    inputName="facc_party_add_amend_convert_employer_address_line_1"
    [control]="form.get('facc_party_add_amend_convert_employer_address_line_1')"
    [errors]="formControlErrorMessages['facc_party_add_amend_convert_employer_address_line_1']"
  ></opal-lib-govuk-text-input>
  <opal-lib-govuk-text-input
    labelText="Address line 2"
    inputId="facc_party_add_amend_convert_employer_address_line_2"
    inputName="facc_party_add_amend_convert_employer_address_line_2"
    [control]="form.get('facc_party_add_amend_convert_employer_address_line_2')"
    [errors]="formControlErrorMessages['facc_party_add_amend_convert_employer_address_line_2']"
  ></opal-lib-govuk-text-input>
  <opal-lib-govuk-text-input
    labelText="Address line 3"
    inputId="facc_party_add_amend_convert_employer_address_line_3"
    inputName="facc_party_add_amend_convert_employer_address_line_3"
    [control]="form.get('facc_party_add_amend_convert_employer_address_line_3')"
    [errors]="formControlErrorMessages['facc_party_add_amend_convert_employer_address_line_3']"
  ></opal-lib-govuk-text-input>
  <opal-lib-govuk-text-input
    labelText="Address line 4"
    inputId="facc_party_add_amend_convert_employer_address_line_4"
    inputName="facc_party_add_amend_convert_employer_address_line_4"
    [control]="form.get('facc_party_add_amend_convert_employer_address_line_4')"
    [errors]="formControlErrorMessages['facc_party_add_amend_convert_employer_address_line_4']"
  ></opal-lib-govuk-text-input>
  <opal-lib-govuk-text-input
    labelText="Address line 5"
    inputId="facc_party_add_amend_convert_employer_address_line_5"
    inputName="facc_party_add_amend_convert_employer_address_line_5"
    [control]="form.get('facc_party_add_amend_convert_employer_address_line_5')"
    [errors]="formControlErrorMessages['facc_party_add_amend_convert_employer_address_line_5']"
  ></opal-lib-govuk-text-input>
  <opal-lib-govuk-text-input
    labelText="Postcode"
    inputId="facc_party_add_amend_convert_employer_post_code"
    inputName="facc_party_add_amend_convert_employer_post_code"
    inputClasses="govuk-input--width-10"
    [control]="form.get('facc_party_add_amend_convert_employer_post_code')"
    [errors]="formControlErrorMessages['facc_party_add_amend_convert_employer_post_code']"
    [opalLibCapitaliseAllCharacters]="form.get('facc_party_add_amend_convert_employer_post_code')!"
  ></opal-lib-govuk-text-input>
</fieldset>
