<app-fines-acc-details-account-heading
  [accountData]="accountData"
  (addAccountNote)="navigateToAddAccountNotePage()"
></app-fines-acc-details-account-heading>

<app-fines-acc-details-account-info
  [accountData]="accountData"
  [businessUnit]="businessUnit"
></app-fines-acc-details-account-info>

<app-fines-acc-details-account-info-block
  [accountData]="accountData"
  [convertToMonetaryString]="utilsService.convertToMonetaryString"
></app-fines-acc-details-account-info-block>

<div class="govuk-grid-column-full">
  <opal-lib-moj-sub-navigation subNavId="account-details-tabs" (activeSubNavItemFragment)="handleTabSwitch($event)">
    <li
      opal-lib-moj-sub-navigation-item
      subNavItemId="at-a-glance-tab"
      [activeSubNavItemFragment]="activeTab"
      subNavItemFragment="at-a-glance"
      subNavItemText="At a glance"
    ></li>
  </opal-lib-moj-sub-navigation>
</div>

@switch (activeTab) {
  @case ('at-a-glance') {
    <app-fines-acc-defendant-details-at-a-glance-tab
      [tabData]="tabData$ | async"
    ></app-fines-acc-defendant-details-at-a-glance-tab>
  }
}
