@if (accountStore.hasVersionMismatch()) {
  <div class="govuk-grid-column-full">
    <opal-lib-moj-alert type="warning" ariaLabel="offenceCodeMessage">
      <opal-lib-moj-alert-icon icon type="warning"></opal-lib-moj-alert-icon>
      <opal-lib-moj-alert-content content>
        <opal-lib-moj-alert-content-text
          >Some information on this page may be out of date.
          <a tabindex="0" (click)="refreshPage()" (keyup.enter)="refreshPage()"
            >Refresh</a
          ></opal-lib-moj-alert-content-text
        >
      </opal-lib-moj-alert-content>
    </opal-lib-moj-alert>
  </div>
} @else if (accountStore.successMessage()) {
  <div class="govuk-grid-column-full">
    <opal-lib-moj-alert
      type="success"
      ariaLabel="offenceCodeMessage"
      [showDismiss]="true"
      (dismissed)="accountStore.clearSuccessMessage()"
    >
      <opal-lib-moj-alert-icon icon type="success"></opal-lib-moj-alert-icon>
      <opal-lib-moj-alert-content content>
        <opal-lib-moj-alert-content-text>{{ accountStore.successMessage() }}</opal-lib-moj-alert-content-text>
      </opal-lib-moj-alert-content>
    </opal-lib-moj-alert>
  </div>
}

<div class="govuk-grid-column-full">
  <opal-lib-custom-page-header>
    <ng-container pageHeaderHeading>
      <opal-lib-govuk-heading-with-caption
        [captionText]="accountData.account_number"
        headingText="{{ accountStore.party_name() }}"
      ></opal-lib-govuk-heading-with-caption>
    </ng-container>
    <ng-container pageHeaderButtons>
      @if (hasPermission('add-account-activity-notes')) {
        <button
          opalLibGovukButton
          buttonId="addAccountNote"
          buttonClasses="govuk-button--secondary"
          (click)="navigateToAddAccountNotePage()"
        >
          Add account note
        </button>
      }

      <opal-lib-moj-button-menu menuButtonTitle="More options:"></opal-lib-moj-button-menu>
    </ng-container>
  </opal-lib-custom-page-header>
</div>

@if (accountData.debtor_type === 'Parent/Guardian' || accountData.is_youth) {
  <div class="govuk-grid-column-full govuk-!-margin-bottom-3">
    @if (accountData.debtor_type === 'Parent/Guardian') {
      <opal-lib-govuk-tag [tagClasses]="'govuk-tag govuk-tag--turquoise'" tagId="status"
        >Parent or Guardian to pay</opal-lib-govuk-tag
      >
    } @else if (accountData.is_youth) {
      <opal-lib-govuk-tag [tagClasses]="'govuk-tag govuk-tag--orange'" tagId="status">Youth Account</opal-lib-govuk-tag>
    }
  </div>
}

<div class="govuk-grid-column-three-quarters">
  <opal-lib-custom-account-information>
    <opal-lib-custom-account-information-item itemClasses="govuk-grid-column-one-quarter">
      <h3 opal-lib-custom-account-information-item-label>Account type:</h3>
      <p opal-lib-custom-account-information-item-value>{{ accountData.account_type }}</p>
    </opal-lib-custom-account-information-item>
    <opal-lib-custom-account-information-item itemClasses="govuk-grid-column-one-quarter">
      <h3 opal-lib-custom-account-information-item-label>PCR or case number:</h3>
      <p opal-lib-custom-account-information-item-value>{{ accountData.prosecutor_case_reference | uppercase }}</p>
    </opal-lib-custom-account-information-item>
    <opal-lib-custom-account-information-item itemClasses="govuk-grid-column-one-quarter">
      <h3 opal-lib-custom-account-information-item-label>Business Unit:</h3>
      <p opal-lib-custom-account-information-item-value>
        {{ accountData.business_unit_summary.business_unit_name }} ({{
          accountData.business_unit_summary.business_unit_id
        }})
      </p>
    </opal-lib-custom-account-information-item>
  </opal-lib-custom-account-information>
</div>

<div class="govuk-grid-column-full">
  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3 govuk-!-margin-top-2" />

  <opal-lib-custom-summary-metric-bar>
    <opal-lib-custom-summary-metric-bar-item>
      <p opal-lib-custom-summary-metric-bar-item-label>Imposed:</p>
      <p opal-lib-custom-summary-metric-bar-item-value>
        {{ utilsService.convertToMonetaryString(accountData.payment_state_summary.imposed_amount) }}
      </p>
    </opal-lib-custom-summary-metric-bar-item>
    <opal-lib-custom-summary-metric-bar-item backgroundColour="govuk-lighter-blue-background-colour">
      <p opal-lib-custom-summary-metric-bar-item-label textColour="govuk-dark-blue-text-colour">Arrears:</p>
      <p opal-lib-custom-summary-metric-bar-item-value textColour="govuk-dark-blue-text-colour">
        {{ utilsService.convertToMonetaryString(accountData.payment_state_summary.arrears_amount) }}
      </p>
    </opal-lib-custom-summary-metric-bar-item>
    <opal-lib-custom-summary-metric-bar-item backgroundColour="govuk-lighter-blue-background-colour">
      <p opal-lib-custom-summary-metric-bar-item-label textColour="govuk-dark-blue-text-colour">Paid/Written off:</p>
      <p opal-lib-custom-summary-metric-bar-item-value textColour="govuk-dark-blue-text-colour">
        {{ utilsService.convertToMonetaryString(accountData.payment_state_summary.paid_amount) }}
      </p>
    </opal-lib-custom-summary-metric-bar-item>
    <opal-lib-custom-summary-metric-bar-item backgroundColour="govuk-blue-background-colour">
      <p opal-lib-custom-summary-metric-bar-item-label textColour="govuk-white-text-colour">Account Balance:</p>
      <p opal-lib-custom-summary-metric-bar-item-value textColour="govuk-white-text-colour">
        {{ utilsService.convertToMonetaryString(accountData.payment_state_summary.account_balance) }}
      </p>
    </opal-lib-custom-summary-metric-bar-item>
  </opal-lib-custom-summary-metric-bar>
</div>

<div class="govuk-grid-column-full govuk-!-padding-top-2">
  <opal-lib-moj-sub-navigation subNavId="account-details-tabs" (activeSubNavItemFragment)="handleTabSwitch($event)">
    <li
      opal-lib-moj-sub-navigation-item
      subNavItemId="at-a-glance-tab"
      [activeSubNavItemFragment]="activeTab"
      subNavItemFragment="at-a-glance"
      [subNavItemText]="tabs['at-a-glance']"
    ></li>
    <li
      opal-lib-moj-sub-navigation-item
      subNavItemId="defendant-tab"
      [activeSubNavItemFragment]="activeTab"
      subNavItemFragment="defendant"
      [subNavItemText]="tabs['defendant']"
    ></li>
    @if (accountData.debtor_type === 'Parent/Guardian') {
      <li
        opal-lib-moj-sub-navigation-item
        subNavItemId="parent-or-guardian-tab"
        [activeSubNavItemFragment]="activeTab"
        subNavItemFragment="parent-or-guardian"
        [subNavItemText]="tabs['parent-or-guardian']"
      ></li>
    }
    <li
      opal-lib-moj-sub-navigation-item
      subNavItemId="payment-terms-tab"
      [activeSubNavItemFragment]="activeTab"
      subNavItemFragment="payment-terms"
      [subNavItemText]="tabs['payment-terms']"
    ></li>
    <li
      opal-lib-moj-sub-navigation-item
      subNavItemId="enforcement-tab"
      [activeSubNavItemFragment]="activeTab"
      subNavItemFragment="enforcement"
      [subNavItemText]="tabs['enforcement']"
    ></li>
    <li
      opal-lib-moj-sub-navigation-item
      subNavItemId="impositions-tab"
      [activeSubNavItemFragment]="activeTab"
      subNavItemFragment="impositions"
      [subNavItemText]="tabs['impositions']"
    ></li>
    <li
      opal-lib-moj-sub-navigation-item
      subNavItemId="history-and-notes-tab"
      [activeSubNavItemFragment]="activeTab"
      subNavItemFragment="history-and-notes"
      [subNavItemText]="tabs['history-and-notes']"
    ></li>
  </opal-lib-moj-sub-navigation>
</div>

@switch (activeTab) {
  @case ('at-a-glance') {
    @if (tabAtAGlance$ | async; as tabData) {
      <app-fines-acc-defendant-details-at-a-glance-tab
        [tabData]="tabData"
        [hasAccountMaintenencePermission]="hasPermission('account-maintenance')"
        (addComments)="navigateToAddCommentsPage()"
        [style]="tabContentStyles"
      ></app-fines-acc-defendant-details-at-a-glance-tab>
    }
  }
  @case ('defendant') {
    @if (tabDefendant$ | async; as tabData) {
      <app-fines-acc-defendant-details-defendant-tab
        [tabData]="tabData"
        [hasAccountMaintenencePermission]="hasPermission('account-maintenance')"
        (addComments)="navigateToAddCommentsPage()"
        [style]="tabContentStyles"
        (changeDefendantDetails)="navigateToAmendPartyDetailsPage($event)"
        (convertAccount)="navigateToAmendPartyDetailsPage($event)"
      ></app-fines-acc-defendant-details-defendant-tab>
    }
  }
  @case ('parent-or-guardian') {
    @if (tabParentOrGuardian$ | async; as tabData) {
      <app-fines-acc-defendant-details-parent-or-guardian-tab
        [tabData]="tabData"
        [hasAccountMaintenencePermission]="hasPermission('account-maintenance')"
        (addComments)="navigateToAddCommentsPage()"
        [style]="tabContentStyles"
        (changeParentOrGuardianDetails)="navigateToAmendPartyDetailsPage($event)"
        (removeParentOrGuardianDetails)="navigateToAmendPartyDetailsPage($event)"
      ></app-fines-acc-defendant-details-parent-or-guardian-tab>
    }
  }
  @case ('payment-terms') {
    <div class="govuk-grid-column-full"></div>
  }
  @case ('enforcement') {
    <div class="govuk-grid-column-full"></div>
  }
  @case ('impositions') {
    <div class="govuk-grid-column-full"></div>
  }
  @case ('history-and-notes') {
    <div class="govuk-grid-column-full"></div>
  }
}
