<app-govuk-table [results]="true">
  <ng-container header>
    <th scope="col" class="govuk-table__header">Imposition</th>
    <th scope="col" class="govuk-table__header">Creditor</th>
    <th scope="col" class="govuk-table__header">Amount imposed</th>
    <th scope="col" class="govuk-table__header">Amount paid</th>
    <th scope="col" class="govuk-table__header">Balance remaining</th>
  </ng-container>
  @for (imposition of impositionTableData; track imposition.impositionDescription) {
    <ng-container body>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" id="imposition">{{ imposition.impositionDescription }}</td>
        <td class="govuk-table__cell" id="creditor">{{ imposition.creditor }}</td>
        <td class="govuk-table__cell" id="amountImposed">{{ imposition.amountImposed }}</td>
        <td class="govuk-table__cell" id="amountPaid">{{ imposition.amountPaid }}</td>
        <td class="govuk-table__cell" id="balanceRemaining">{{ imposition.balanceRemaining }}</td>
      </tr>
    </ng-container>
  }
  <ng-container results>
    <th scope="row" class="govuk-table__header" colspan="2"><strong>Totals</strong></th>
    <th scope="row" class="govuk-table__header">{{ impositionsTotalsData.totalAmountImposed }}</th>
    <th scope="row" class="govuk-table__header">{{ impositionsTotalsData.totalAmountPaid }}</th>
    <th scope="row" class="govuk-table__header">{{ impositionsTotalsData.totalBalanceRemaining }}</th>
  </ng-container>
</app-govuk-table>
