.days-in-default-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.days-in-default-inputs {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

.days-in-default-result {
    text-align: left;
    font-weight: bold;
    max-width: 30%;
    flex-shrink: 0
}

.days-in-default-input {
    display: flex; 
    gap: 10px; 
}

.days-in-default-input-item {
    display: inline-flex; 
    margin-right: 10px; 
    margin-bottom: 0;
    align-items: center; 
}