<opal-lib-govuk-details summaryText="Help calculate days in default">
  <opal-lib-moj-ticket-panel componentClasses="govuk-!-width-full">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <h1 class="govuk-fieldset__heading">Calculate days in default</h1>
      </legend>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <div class="govuk-form-group govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
              <opal-lib-govuk-text-input
                labelText="Years"
                inputId="years"
                inputName="years"
                inputClasses="govuk-input--width-2"
                [control]="daysInDefaultCalculatorForm.get('years')"
              ></opal-lib-govuk-text-input>
            </div>
            <div class="govuk-grid-column-one-quarter">
              <opal-lib-govuk-text-input
                labelText="Months"
                inputId="months"
                inputName="months"
                inputClasses="govuk-input--width-2"
                [control]="daysInDefaultCalculatorForm.get('months')"
              ></opal-lib-govuk-text-input>
            </div>
            <div class="govuk-grid-column-one-quarter">
              <opal-lib-govuk-text-input
                labelText="Weeks"
                inputId="weeks"
                inputName="weeks"
                inputClasses="govuk-input--width-2"
                [control]="daysInDefaultCalculatorForm.get('weeks')"
              ></opal-lib-govuk-text-input>
            </div>
            <div class="govuk-grid-column-one-quarter">
              <opal-lib-govuk-text-input
                labelText="Days"
                inputId="days"
                inputName="days"
                inputClasses="govuk-input--width-2"
                [control]="daysInDefaultCalculatorForm.get('days')"
              ></opal-lib-govuk-text-input>
            </div>
          </div>
        </div>
        <div class="govuk-grid-column-one-half">
          @if (date && daysInDefaultCalculated) {
            @let daysText = daysInDefaultCalculated > 1 ? 'days' : 'day';
            <strong>Total time in days</strong>
            <p>{{ daysInDefaultCalculated }} {{ daysText }}</p>
          } @else {
            <strong>Cannot calculate total time in days</strong>
            <p>You must enter a date days in default were imposed</p>
          }
        </div>
      </div>
    </fieldset>
  </opal-lib-moj-ticket-panel>
</opal-lib-govuk-details>
