<app-govuk-checkboxes fieldSetId="daysInDefault" legendText="Days in default" legendClasses="govuk-fieldset__legend--s">
  <app-govuk-checkboxes-item
    labelText="There are days in default"
    inputId="isDaysInDefault"
    inputName="isDaysInDefault"
    [control]="form.controls['isDaysInDefault']"
  ></app-govuk-checkboxes-item>

  @if (form.get('isDaysInDefault')?.value) {
    <div app-govuk-checkboxes-conditional conditionalId="isDaysInDefault">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <app-scotgov-date-picker
            labelText="Date days in default were imposed"
            labelClasses="govuk-label--s"
            inputId="imposedDate"
            inputName="imposedDate"
            inputClasses="govuk-input--width-10"
            [control]="form.controls['imposedDate']"
            hintText="This should be whichever date is most recent - the sentencing date or the date of the suspended committal order."
            (dateChange)="setInputValue($event)"
          ></app-scotgov-date-picker>
          <app-govuk-text-input-prefix-suffix
            labelText="Enter days in default"
            labelClasses="govuk-label--s"
            inputId="daysInDefault"
            inputName="daysInDefault"
            inputClasses="govuk-input--width-5"
            [control]="form.controls['daysInDefault']"
            suffixText="days"
          ></app-govuk-text-input-prefix-suffix>
        </div>
        <div class="govuk-grid-column-full govuk-!-margin-top-5">
          <app-govuk-details summaryText="Help calculate days in default">
            <app-moj-ticket-panel componentClasses="govuk-!-width-full">
              <div class="govuk-fieldset__legend--s">Calculate days in default</div>
              <div class="days-in-default-container">
                <div class="days-in-default-input">
                  <div class="days-in-default-input-item">
                    <app-govuk-text-input
                      labelText="Years"
                      inputId="years"
                      inputName="years"
                      inputClasses="govuk-input--width-2"
                      [control]="form.controls['years']"
                    ></app-govuk-text-input>
                  </div>
                  <div class="days-in-default-input-item">
                    <app-govuk-text-input
                      labelText="Months"
                      inputId="months"
                      inputName="months"
                      inputClasses="govuk-input--width-2"
                      [control]="form.controls['months']"
                    ></app-govuk-text-input>
                  </div>
                  <div class="days-in-default-input-item">
                    <app-govuk-text-input
                      labelText="Weeks"
                      inputId="weeks"
                      inputName="weeks"
                      inputClasses="govuk-input--width-2"
                      [control]="form.controls['weeks']"
                    ></app-govuk-text-input>
                  </div>
                  <div class="days-in-default-input-item">
                    <app-govuk-text-input
                      labelText="Days"
                      inputId="days"
                      inputName="days"
                      inputClasses="govuk-input--width-2"
                      [control]="form.controls['days']"
                    ></app-govuk-text-input>
                  </div>
                </div>
                <div class="days-in-default-results">
                  @if (form.controls['imposedDate'].value && daysInDefault) {
                    @let daysText = daysInDefault > 1 ? 'days' : 'day';
                    <strong> Total time in days</strong>
                    <p>{{ daysInDefault }} {{ daysText }}</p>
                  } @else {
                    <strong> Cannot calculate total time in days</strong>
                    <p>You must enter a date days in default were imposed</p>
                  }
                </div>
              </div>
            </app-moj-ticket-panel>
          </app-govuk-details>
        </div>
      </div>
    </div>
  }
</app-govuk-checkboxes>
