<dt class="govuk-summary-list__key" [id]="summaryListId + _summaryListRowId + 'Key'">
  <ng-content select="[name]"></ng-content>
</dt>

<dd class="govuk-summary-list__value" [id]="summaryListId + _summaryListRowId + 'Value'">
  <ng-content select="[value]"></ng-content>
</dd>
@if (actionEnabled) {
  <dd class="govuk-summary-list__actions" [id]="summaryListId + _summaryListRowId + 'Actions'">
    <a class="govuk-link" href="#" (click)="handleActionClick($event)">
      <ng-content select="[action]"></ng-content>
    </a>
  </dd>
}
