<h1 class="govuk-heading-l">Employer details</h1>
<app-govuk-error-summary [errors]="formErrorSummaryMessage" (errorClick)="scrollTo($event)"></app-govuk-error-summary>
<form (submit)="handleFormSubmit($event)" [formGroup]="form">
  <app-govuk-text-input
    labelText="Employer name"
    [inputId]="employerDetailsEmployerCompanyName.controlName"
    [inputName]="employerDetailsEmployerCompanyName.controlName"
    labelClasses="govuk-label--s"
    [control]="form.controls[employerDetailsEmployerCompanyName.controlName]"
    [errors]="formControlErrorMessages[employerDetailsEmployerCompanyName.controlName]"
  ></app-govuk-text-input>
  <app-govuk-text-input
    labelText="Employee reference"
    [inputId]="employerDetailsEmployerReference.controlName"
    [inputName]="employerDetailsEmployerReference.controlName"
    inputClasses="govuk-input--width-10"
    labelClasses="govuk-label--s"
    hintText="If employee reference not known, add National Insurance number"
    [control]="form.controls[employerDetailsEmployerReference.controlName]"
    [errors]="formControlErrorMessages[employerDetailsEmployerReference.controlName]"
  ></app-govuk-text-input>
  <app-govuk-text-input
    labelText="Employer email address"
    [inputId]="employerDetailsEmailAddress.controlName"
    [inputName]="employerDetailsEmailAddress.controlName"
    labelClasses="govuk-label--s"
    [control]="form.controls[employerDetailsEmailAddress.controlName]"
    [errors]="formControlErrorMessages[employerDetailsEmailAddress.controlName]"
  ></app-govuk-text-input>
  <app-govuk-text-input
    labelText="Employer telephone"
    [inputId]="employerDetailsTelephoneNumber.controlName"
    [inputName]="employerDetailsTelephoneNumber.controlName"
    inputClasses="govuk-input--width-20"
    labelClasses="govuk-label--s"
    [control]="form.controls[employerDetailsTelephoneNumber.controlName]"
    [errors]="formControlErrorMessages[employerDetailsTelephoneNumber.controlName]"
  ></app-govuk-text-input>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Address</legend>
    <app-govuk-text-input
      labelText="Address line 1"
      [inputId]="employerDetailsAddressLineOne.controlName"
      [inputName]="employerDetailsAddressLineOne.controlName"
      [control]="form.controls[employerDetailsAddressLineOne.controlName]"
      [errors]="formControlErrorMessages[employerDetailsAddressLineOne.controlName]"
    ></app-govuk-text-input>
    <app-govuk-text-input
      labelText="Address line 2"
      [inputId]="employerDetailsAddressLineTwo.controlName"
      [inputName]="employerDetailsAddressLineTwo.controlName"
      [control]="form.controls[employerDetailsAddressLineTwo.controlName]"
      [errors]="formControlErrorMessages[employerDetailsAddressLineTwo.controlName]"
    ></app-govuk-text-input>
    <app-govuk-text-input
      labelText="Address line 3"
      [inputId]="employerDetailsAddressLineThree.controlName"
      [inputName]="employerDetailsAddressLineThree.controlName"
      [control]="form.controls[employerDetailsAddressLineThree.controlName]"
      [errors]="formControlErrorMessages[employerDetailsAddressLineThree.controlName]"
    ></app-govuk-text-input>
    <app-govuk-text-input
      labelText="Address line 4"
      [inputId]="employerDetailsAddressLineFour.controlName"
      [inputName]="employerDetailsAddressLineFour.controlName"
      [control]="form.controls[employerDetailsAddressLineFour.controlName]"
      [errors]="formControlErrorMessages[employerDetailsAddressLineFour.controlName]"
    ></app-govuk-text-input>
    <app-govuk-text-input
      labelText="Address line 5"
      [inputId]="employerDetailsAddressLineFive.controlName"
      [inputName]="employerDetailsAddressLineFive.controlName"
      [control]="form.controls[employerDetailsAddressLineFive.controlName]"
      [errors]="formControlErrorMessages[employerDetailsAddressLineFive.controlName]"
    ></app-govuk-text-input>
    <app-govuk-text-input
      labelText="Postcode"
      [inputId]="employerDetailsPostcode.controlName"
      [inputName]="employerDetailsPostcode.controlName"
      inputClasses="govuk-input--width-10"
      [control]="form.controls[employerDetailsPostcode.controlName]"
      [errors]="formControlErrorMessages[employerDetailsPostcode.controlName]"
    ></app-govuk-text-input>
  </fieldset>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <app-govuk-button buttonId="submitForm" type="submit">Return to account details</app-govuk-button>
      @if (defendantType && finesMacNestedRoutes[defendantType].employerDetails) {
        <app-govuk-button
          buttonId="submitForm"
          type="submit"
          buttonClasses="nested-flow govuk-button--secondary govuk-!-margin-left-3"
        >
          {{ finesMacNestedRoutes[defendantType].employerDetails?.buttonText }}
        </app-govuk-button>
      }
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <app-govuk-cancel-link
        (linkClickEvent)="handleRoute(fineMacRoutingPaths.children.accountDetails)"
      ></app-govuk-cancel-link>
    </div>
  </div>
</form>
