<h1 class="govuk-heading-l">Employer details</h1>
<app-govuk-error-summary [errors]="formErrorSummaryMessage" (errorClick)="scrollTo($event)"></app-govuk-error-summary>
<form (submit)="handleFormSubmit($event)" [formGroup]="form">
  <lib-govuk-text-input
    labelText="Employer name"
    inputId="fm_employer_details_employer_company_name"
    inputName="fm_employer_details_employer_company_name"
    labelClasses="govuk-label--s"
    [control]="form.controls['fm_employer_details_employer_company_name']"
    [errors]="formControlErrorMessages['fm_employer_details_employer_company_name']"
  ></lib-govuk-text-input>
  <lib-govuk-text-input
    labelText="Employee reference"
    inputId="fm_employer_details_employer_reference"
    inputName="fm_employer_details_employer_reference"
    inputClasses="govuk-input--width-10"
    labelClasses="govuk-label--s"
    hintText="If employee reference not known, add National Insurance number"
    [control]="form.controls['fm_employer_details_employer_reference']"
    [errors]="formControlErrorMessages['fm_employer_details_employer_reference']"
  ></lib-govuk-text-input>
  <lib-govuk-text-input
    labelText="Employer email address"
    inputId="fm_employer_details_employer_email_address"
    inputName="fm_employer_details_employer_email_address"
    labelClasses="govuk-label--s"
    [control]="form.controls['fm_employer_details_employer_email_address']"
    [errors]="formControlErrorMessages['fm_employer_details_employer_email_address']"
  ></lib-govuk-text-input>
  <lib-govuk-text-input
    labelText="Employer telephone"
    inputId="fm_employer_details_employer_telephone_number"
    inputName="fm_employer_details_employer_telephone_number"
    inputClasses="govuk-input--width-20"
    labelClasses="govuk-label--s"
    [control]="form.controls['fm_employer_details_employer_telephone_number']"
    [errors]="formControlErrorMessages['fm_employer_details_employer_telephone_number']"
  ></lib-govuk-text-input>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Address</legend>
    <lib-govuk-text-input
      labelText="Address line 1"
      inputId="fm_employer_details_employer_address_line_1"
      inputName="fm_employer_details_employer_address_line_1"
      [control]="form.controls['fm_employer_details_employer_address_line_1']"
      [errors]="formControlErrorMessages['fm_employer_details_employer_address_line_1']"
      [errors]="formControlErrorMessages['fm_employer_details_employer_address_line_1']"
    ></lib-govuk-text-input>
    <lib-govuk-text-input
      labelText="Address line 2"
      inputId="fm_employer_details_employer_address_line_2"
      inputName="fm_employer_details_employer_address_line_2"
      [control]="form.controls['fm_employer_details_employer_address_line_2']"
      [errors]="formControlErrorMessages['fm_employer_details_employer_address_line_2']"
    ></lib-govuk-text-input>
    <lib-govuk-text-input
      labelText="Address line 3"
      inputId="fm_employer_details_employer_address_line_3"
      inputName="fm_employer_details_employer_address_line_3"
      [control]="form.controls['fm_employer_details_employer_address_line_3']"
      [errors]="formControlErrorMessages['fm_employer_details_employer_address_line_3']"
    ></lib-govuk-text-input>
    <lib-govuk-text-input
      labelText="Address line 4"
      inputId="fm_employer_details_employer_address_line_4"
      inputName="fm_employer_details_employer_address_line_4"
      [control]="form.controls['fm_employer_details_employer_address_line_4']"
      [errors]="formControlErrorMessages['fm_employer_details_employer_address_line_4']"
    ></lib-govuk-text-input>
    <lib-govuk-text-input
      labelText="Address line 5"
      inputId="fm_employer_details_employer_address_line_5"
      inputName="fm_employer_details_employer_address_line_5"
      [control]="form.controls['fm_employer_details_employer_address_line_5']"
      [errors]="formControlErrorMessages['fm_employer_details_employer_address_line_5']"
    ></lib-govuk-text-input>
    <lib-govuk-text-input
      labelText="Postcode"
      inputId="fm_employer_details_employer_post_code"
      inputName="fm_employer_details_employer_post_code"
      inputClasses="govuk-input--width-10"
      [control]="form.controls['fm_employer_details_employer_post_code']"
      [errors]="formControlErrorMessages['fm_employer_details_employer_post_code']"
    ></lib-govuk-text-input>
  </fieldset>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <lib-govuk-button buttonId="submitForm" type="submit">Return to account details</lib-govuk-button>
      @if (defendantType && finesMacNestedRoutes[defendantType].employerDetails) {
        <lib-govuk-button
          buttonId="submitForm"
          type="submit"
          buttonClasses="nested-flow govuk-button--secondary govuk-!-margin-left-3"
        >
          {{ finesMacNestedRoutes[defendantType].employerDetails?.buttonText }}
        </lib-govuk-button>
      }
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <app-govuk-cancel-link
        (linkClickEvent)="handleRoute(fineMacRoutingPaths.children.accountDetails)"
      ></app-govuk-cancel-link>
    </div>
  </div>
</form>
