<div class="govuk-form-group" [class.govuk-form-group--error]="!!errors">
  <label class="govuk-label {{ labelClasses }}" [for]="selectId"> {{ labelText }} </label>

  @if (selectHint) {
    <div [id]="selectId ? selectId + 'Hint' : ''" class="govuk-hint">
      {{ selectHint }}
    </div>
  }

  @if (errors) {
    <p id="{{ this.selectId }}-error-message" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error: </span> {{ errors }}
    </p>
  }
  <select
    class="govuk-select {{ selectClasses }}"
    [id]="selectId"
    [name]="selectName"
    [attr.describedby]="selectHint ? selectId + 'Hint' : ''"
    [formControl]="getControl"
  >
    <option value="" selected></option>
    @for (option of options; track option.name) {
      <option [value]="option.value">
        {{ option.name }}
      </option>
    }
  </select>
</div>
