<div [class]="componentName">
  <app-govuk-checkboxes fieldSetId="addAliasCheckbox" checkboxClasses="" legendText="">
    <div
      app-govuk-checkboxes-item
      labelText="Add aliases"
      inputId="add_alias"
      inputName="add_alias"
      [control]="form.get('add_alias')"
    ></div>
  </app-govuk-checkboxes>

  @if (form.get('add_alias')?.value === true) {
    <div app-govuk-checkboxes-conditional conditionalId="add_alias" formArrayName="aliases">
      @for (aliasControl of aliasControls; let rowIndex = $index; track rowIndex) {
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Alias {{ rowIndex + 1 }}</legend>
          <app-govuk-text-input
            labelText="First names"
            [inputId]="aliasControls[rowIndex]['alias_forenames'].inputId"
            [inputName]="aliasControls[rowIndex]['alias_forenames'].inputName"
            inputClasses="govuk-input--width-20"
            [control]="form.get(['aliases', rowIndex, aliasControls[rowIndex]['alias_forenames'].controlName])"
            [errors]="formControlErrorMessages[aliasControls[rowIndex]['alias_forenames'].controlName]"
          ></app-govuk-text-input>
          <app-govuk-text-input
            labelText="Last name"
            [inputId]="aliasControls[rowIndex]['alias_surname'].inputId"
            [inputName]="aliasControls[rowIndex]['alias_surname'].inputName"
            inputClasses="govuk-input--width-20"
            [control]="form.get(['aliases', rowIndex, aliasControls[rowIndex]['alias_surname'].controlName])"
            [errors]="formControlErrorMessages[aliasControls[rowIndex]['alias_surname'].controlName]"
          ></app-govuk-text-input>
        </fieldset>
      }

      @if (aliasControls.length > 1) {
        <div class="govuk-!-margin-bottom-3">
          <a
            class="govuk-link govuk-link--no-visited-state"
            (click)="emitAction(aliasControls.length - 1, 'aliases', true)"
            (keyup.enter)="emitAction(aliasControls.length - 1, 'aliases', true)"
            tabindex="0"
          >
            Remove
          </a>
        </div>
      }
      @if (aliasControls.length < 5) {
        <app-govuk-button
          buttonId="addAlias"
          buttonClasses="govuk-button--secondary govuk-!-margin-bottom-0"
          type="button"
          (buttonClickEvent)="emitAction(aliasControls.length, 'aliases')"
          >Add another alias</app-govuk-button
        >
      }
    </div>
  }
</div>
