<div
  class="govuk-form-group"
  [formGroup]="getGroup"
  [class.govuk-form-group--error]="!!errorDay || !!errorMonth || !!errorYear"
>
  <fieldset class="govuk-fieldset" role="group" [id]="fieldSetId">
    <legend
      class="govuk-fieldset__legend {{ legendClasses }}"
      [attr.describedby]="legendHint ? fieldSetId + 'Hint' : ''"
    >
      {{ legendText }}
    </legend>
    @if (legendHint) {
      <div [id]="fieldSetId ? fieldSetId + 'Hint' : ''" class="govuk-hint">
        {{ legendHint }}
      </div>
    }
    @if (errorDay || errorMonth || errorYear) {
      <p id="{{ this.fieldSetId }}-error-message" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error: </span> {{ errorDay || errorMonth || errorYear }}
      </p>
    }
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" [for]="dateInputs.day.inputId">
            {{ dateInputs.day.inputLabel }}
          </label>
          <input
            class="govuk-input govuk-date-input__input {{ dateInputs.day.inputClasses }}"
            [class.govuk-input--error]="errorDay && errorDay !== null"
            [id]="dateInputs.day.inputId"
            [name]="dateInputs.day.inputName"
            type="text"
            inputmode="numeric"
            formControlName="{{ dateInputs.day.inputId }}"
          />
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" [for]="dateInputs.month.inputId">
            {{ dateInputs.month.inputLabel }}
          </label>
          <input
            class="govuk-input govuk-date-input__input {{ dateInputs.month.inputClasses }}"
            [class.govuk-input--error]="errorMonth && errorMonth !== null"
            [id]="dateInputs.month.inputId"
            [name]="dateInputs.month.inputName"
            type="text"
            inputmode="numeric"
            formControlName="{{ dateInputs.month.inputId }}"
          />
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" [for]="dateInputs.year.inputId">
            {{ dateInputs.year.inputLabel }}
          </label>
          <input
            class="govuk-input govuk-date-input__input {{ dateInputs.year.inputClasses }}"
            [class.govuk-input--error]="errorYear && errorYear !== null"
            [id]="dateInputs.year.inputId"
            [name]="dateInputs.year.inputName"
            type="text"
            inputmode="numeric"
            formControlName="{{ dateInputs.year.inputId }}"
          />
        </div>
      </div>
    </div>
  </fieldset>
</div>
