<div class="govuk-grid-column-two-thirds">
  <opal-lib-govuk-heading-with-caption
    [captionText]="`${accountNumber} - ${partyName}`"
    [headingText]="content.headingText"
    headingClasses="govuk-heading-l govuk-!-margin-bottom-30"
  >
  </opal-lib-govuk-heading-with-caption>

  <div class="govuk-button-group govuk-!-padding-top-2">
    <button
      [id]="content.buttonId"
      type="button"
      class="govuk-button govuk-button--primary govuk-!-margin-right-4"
      (click)="handlePaymentHold()"
    >
      {{ content.buttonText }}
    </button>
    <opal-lib-govuk-cancel-link
      (linkClickEvent)="navigateToMinorCreditorDetailsPage()"
      cancelLinkText="No - cancel"
    ></opal-lib-govuk-cancel-link>
  </div>
</div>
