<div class="govuk-!-margin-bottom-4 govuk-!-padding-bottom-2 offence-info border-bottom">
  <app-govuk-heading-with-caption
    [captionText]="offenceCode"
    captionClasses="govuk-caption-m"
    [headingText]="offenceTitle"
    headingClasses="govuk-heading-m govuk-!-margin-bottom-0"
  ></app-govuk-heading-with-caption>
  <app-govuk-summary-list-row-actions>
    <app-govuk-summary-list-row-action-items
      [actions]="['Hide', 'Change', 'Remove']"
      (linkClick)="onActionClick($event)"
    ></app-govuk-summary-list-row-action-items>
  </app-govuk-summary-list-row-actions>
</div>
