<div
  class="govuk-notification-banner govuk-notification-banner--{{ type }}"
  role="alert"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner"
>
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      {{ titleText }}
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      {{ headingText }}
    </h3>
    <p class="govuk-body">
      {{ messageText }}
    </p>
  </div>
</div>
