<div class="govuk-grid-column-two-thirds">
  <app-govuk-heading-with-caption
    captionText="Create account"
    headingText="Account details"
  ></app-govuk-heading-with-caption>
  <app-govuk-summary-list summaryListId="accountDetails">
    <div app-govuk-summary-list-row summaryListId="accountDetails" summaryListRowId="businessUnit">
      <ng-container name>Business unit</ng-container>
      <ng-container value>
        <p class="govuk-body">{{ macStateService.manualAccountCreation.accountDetails.businessUnit }}</p>
      </ng-container>
    </div>
    <div app-govuk-summary-list-row summaryListId="accountDetails" summaryListRowId="defendantType">
      <ng-container name>Defendant type</ng-container>
      <ng-container value>
        <p class="govuk-body">{{ defendantType }}</p>
      </ng-container>
    </div>
  </app-govuk-summary-list>
  <h2 class="govuk-heading-m">Court details</h2>
  <app-govuk-task-list taskListId="courtDetails" taskListClasses="govuk-!-margin-left-0 ">
    <app-govuk-task-list-item
      taskListItemId="courtDetailsItem"
      taskListStatusId="courtDetailsStatus"
      taskListItemClasses="govuk-task-list__item--with-link"
    >
      <ng-container name>
        <a
          class="govuk-link govuk-task-list__link govuk-link--no-visited-state"
          [routerLink]="manualAccountCreationRoutes.courtDetails"
          [routerLink]="manualAccountCreationRoutes.courtDetails"
          [routerLink]="manualAccountCreationRoutes.courtDetails"
          aria-describedby="courtDetailsStatus"
          onclick="return false;"
        >
          Court details
        </a>
      </ng-container>
      <ng-container status>
        <app-govuk-tag tagClasses="govuk-tag--grey" tagId="courtDetailsStatusTag">Not provided</app-govuk-tag>
      </ng-container>
    </app-govuk-task-list-item>
  </app-govuk-task-list>

  @if (defendantType === 'Adult or youth with parent or guardian to pay') {
    <h2 class="govuk-heading-m">Parent or guardian details</h2>
    <app-govuk-task-list taskListId="parentOrGuardianDetails" taskListClasses="govuk-!-margin-left-0 ">
      <app-govuk-task-list-item
        taskListItemId="parentOrGuardianDetailsItem"
        taskListStatusId="parentOrGuardianDetailsStatus"
        taskListItemClasses="govuk-task-list__item--with-link"
      >
        <ng-container name>
          <a
            class="govuk-link govuk-task-list__link govuk-link--no-visited-state"
            [routerLink]="manualAccountCreationRoutes.parentOrGuardianDetails"
            aria-describedby="parentOrGuardianDetailsStatus"
            onclick="return false;"
          >
            Parent or guardian details
          </a>
        </ng-container>
        <ng-container status>
          <app-govuk-tag tagClasses="govuk-tag--grey" tagId="personalDetailsStatusTag">Not provided</app-govuk-tag>
        </ng-container>
      </app-govuk-task-list-item>
      <app-govuk-task-list-item
        taskListItemId="employerDetailsItem"
        taskListStatusId="employerDetailsStatus"
        taskListItemClasses="govuk-task-list__item--with-link border-top__none"
      >
        <ng-container name>
          <a
            class="govuk-link govuk-task-list__link govuk-link--no-visited-state"
            [routerLink]="manualAccountCreationRoutes.employerDetails"
            aria-describedby="employerDetailsStatus"
          >
            Employer details
          </a>
        </ng-container>
        <ng-container status>
          <app-govuk-tag tagClasses="govuk-tag--grey" tagId="employerDetailsStatusTag">Not provided</app-govuk-tag>
        </ng-container>
      </app-govuk-task-list-item>
    </app-govuk-task-list>
  }
  <h2 class="govuk-heading-m">Defendant details</h2>
  <app-govuk-task-list taskListId="defendantDetails" taskListClasses="govuk-!-margin-left-0 ">
    @if (defendantType === 'Company') {
      <app-govuk-task-list-item
        taskListItemId="companyDetailsItem"
        taskListStatusId="companyDetailsStatus"
        taskListItemClasses="govuk-task-list__item--with-link"
      >
        <ng-container name>
          <a
            class="govuk-link govuk-task-list__link govuk-link--no-visited-state"
            [routerLink]="manualAccountCreationRoutes.companyDetails"
            aria-describedby="companyDetailsStatus"
            onclick="return false;"
          >
            Company details
          </a>
        </ng-container>
        <ng-container status>
          <app-govuk-tag tagClasses="govuk-tag--grey" tagId="companyDetailsStatusTag">Not provided</app-govuk-tag>
        </ng-container>
      </app-govuk-task-list-item>
    } @else {
      <app-govuk-task-list-item
        taskListItemId="personalDetailsItem"
        taskListStatusId="personalDetailsStatus"
        taskListItemClasses="govuk-task-list__item--with-link"
      >
        <ng-container name>
          <a
            class="govuk-link govuk-task-list__link govuk-link--no-visited-state"
            [routerLink]="manualAccountCreationRoutes.personalDetails"
            aria-describedby="personalDetailsStatus"
            onclick="return false;"
          >
            Personal details
          </a>
        </ng-container>
        <ng-container status>
          <app-govuk-tag tagClasses="govuk-tag--grey" tagId="personalDetailsStatusTag">Not provided</app-govuk-tag>
        </ng-container>
      </app-govuk-task-list-item>
    }

    <app-govuk-task-list-item
      taskListItemId="contactDetailsItem"
      taskListStatusId="contactDetailsStatus"
      taskListItemClasses="govuk-task-list__item--with-link border-top__none"
    >
      <ng-container name>
        <a
          class="govuk-link govuk-task-list__link govuk-link--no-visited-state"
          [routerLink]="manualAccountCreationRoutes.contactDetails"
          aria-describedby="contactDetailsStatus"
        >
          Contact details
        </a>
      </ng-container>
      <ng-container status>
        <app-govuk-tag tagClasses="govuk-tag--grey" tagId="contactDetailsStatusTag">Not provided</app-govuk-tag>
      </ng-container>
    </app-govuk-task-list-item>

    @if (defendantType === 'Adult or youth only') {
      <app-govuk-task-list-item
        taskListItemId="employerDetailsItem"
        taskListStatusId="employerDetailsStatus"
        taskListItemClasses="govuk-task-list__item--with-link border-top__none"
      >
        <ng-container name>
          <a
            class="govuk-link govuk-task-list__link govuk-link--no-visited-state"
            [routerLink]="manualAccountCreationRoutes.employerDetails"
            aria-describedby="employerDetailsStatus"
          >
            Employer details
          </a>
        </ng-container>
        <ng-container status>
          <app-govuk-tag tagClasses="govuk-tag--grey" tagId="employerDetailsStatusTag">Not provided</app-govuk-tag>
        </ng-container>
      </app-govuk-task-list-item>
    }
  </app-govuk-task-list>
  <h2 class="govuk-heading-m">Offence and imposition details</h2>
  <app-govuk-task-list taskListId="offenceAndImpositionDetails" taskListClasses="govuk-!-margin-left-0 ">
    <app-govuk-task-list-item
      taskListItemId="offenceDetailsItem"
      taskListStatusId="offenceDetailsStatus"
      taskListItemClasses="govuk-task-list__item--with-link"
    >
      <ng-container name>
        <a
          class="govuk-link govuk-task-list__link govuk-link--no-visited-state"
          [routerLink]="manualAccountCreationRoutes.offenceDetails"
          [routerLink]="manualAccountCreationRoutes.offenceDetails"
          [routerLink]="manualAccountCreationRoutes.offenceDetails"
          aria-describedby="offenceDetailsStatus"
          onclick="return false;"
        >
          Offence details
        </a>
      </ng-container>
      <ng-container status>
        <app-govuk-tag tagClasses="govuk-tag--grey" tagId="offenceDetailsStatusTag">Not provided</app-govuk-tag>
      </ng-container>
    </app-govuk-task-list-item>
    <app-govuk-task-list-item
      taskListItemId="paymentTermsItem"
      taskListStatusId="paymentTermsStatus"
      taskListItemClasses="govuk-task-list__item--with-link border-top__none"
    >
      <ng-container name>
        <a
          class="govuk-link govuk-task-list__link govuk-link--no-visited-state"
          [routerLink]="manualAccountCreationRoutes.paymentDetails"
          [routerLink]="manualAccountCreationRoutes.paymentDetails"
          [routerLink]="manualAccountCreationRoutes.paymentDetails"
          aria-describedby="paymentTermsStatus"
          onclick="return false;"
        >
          Payment terms
        </a>
      </ng-container>
      <ng-container status>
        <app-govuk-tag tagClasses="govuk-tag--grey" tagId="paymentTermsStatusTag">Not provided</app-govuk-tag>
      </ng-container>
    </app-govuk-task-list-item>
  </app-govuk-task-list>
  <h2 class="govuk-heading-m">Review and publish</h2>
  <p class="govuk-body">Check that all required fields have been entered before you publish</p>
  <p class="govuk-body">
    <app-govuk-button buttonId="reviewAccountButton"> Review account</app-govuk-button>
  </p>
  <p class="govuk-body">
    <a href="#" class="govuk-link govuk-color__error" (onclick)="handleRoute(routingPaths.dashboard)"
      >Cancel account creation</a
    >
  </p>
</div>
