<div class="govuk-form-group govuk-character-count" [class.govuk-form-group--error]="!!errors">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label {{ labelClasses }}" [for]="inputId">
      {{ labelText }}
    </label>
  </h1>
  @if (hintText) {
    <div id="{{ inputId }}-hint" class="govuk-hint">
      {{ hintText }}
    </div>
  }

  @if (errors) {
    <p id="{{ this.inputId }}-error-message" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error: </span> {{ errors }}
    </p>
  }

  <textarea
    class="govuk-textarea {{ inputClasses }}"
    [id]="inputId"
    [name]="inputName"
    type="text"
    [rows]="rows"
    [formControl]="getControl"
    [inputMode]="inputMode"
    [maxlength]="maxCharacterLimit"
  ></textarea>
  @if (characterCountEnabled) {
    <div [id]="inputId + '-hint'" class="govuk-hint">
      You have {{ remainingCharacterCount }} character{{ remainingCharacterCount === 1 ? '' : 's' }} remaining
    </div>
  }
</div>
