<fieldset class="govuk-fieldset {{ componentName }}">
  @if (nameFieldIds.forenames) {
    <app-govuk-text-input
      labelText="First names"
      inputId="{{ nameFieldIds.forenames }}"
      inputName="{{ nameFieldIds.forenames }}"
      inputClasses="govuk-input--width-20"
      labelClasses="govuk-label--s"
      hintText="Include their middle names"
      [control]="form.controls[nameFieldIds.forenames]"
      [errors]="formControlErrorMessages[nameFieldIds.forenames]"
    ></app-govuk-text-input>
  }
  @if (nameFieldIds.surname) {
    <app-govuk-text-input
      labelText="Last name"
      inputId="{{ nameFieldIds.surname }}"
      inputName="{{ nameFieldIds.surname }}"
      inputClasses="govuk-input--width-20"
      labelClasses="govuk-label--s"
      [control]="form.controls[nameFieldIds.surname]"
      [errors]="formControlErrorMessages[nameFieldIds.surname]"
    ></app-govuk-text-input>
  }
</fieldset>
