<div class="govuk-grid-column-full">
  <div class="govuk-grid-row">
    @if (finesMacOffenceDetailsService.offenceCodeMessage.length > 0) {
      <div class="govuk-grid-column-full">
        <app-moj-banner type="success" [text]="finesMacOffenceDetailsService.offenceCodeMessage"></app-moj-banner>
      </div>
    }
  </div>
  <h1 class="govuk-heading-l">Offences and impositions</h1>
  @if (offencesImpositions.length === 0) {
    <ng-container *ngTemplateOutlet="emptyOffences"></ng-container>
  } @else {
    <ng-container *ngTemplateOutlet="populatedOffences"></ng-container>
  }
</div>

<ng-template #emptyOffences>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>There are no offences.</p>
    </div>
  </div>
  <hr />
  <div class="govuk-grid-row">
    <ng-container *ngTemplateOutlet="offenceTemplate"></ng-container>
  </div>
  <div class="govuk-grid-row">
    <ng-container *ngTemplateOutlet="returnToAccountDetails; context: { $implicit: false }"></ng-container>
  </div>
</ng-template>

<ng-template #populatedOffences>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      @for (offence of offencesImpositions; track offence.formData.fm_offence_details_id) {
        @if (offence.formData.fm_offence_details_date_of_offence && offence.formData.show_date_of_sentence) {
          <app-fines-mac-offence-details-review-summary-date-of-sentence
            [dateOfSentence]="offence.formData.fm_offence_details_date_of_offence"
          ></app-fines-mac-offence-details-review-summary-date-of-sentence>
        }

        <app-fines-mac-offence-details-review-offence
          [offence]="offence"
          [impositionRefData]="impositionRefData"
          [majorCreditorRefData]="majorCreditorRefData"
          [showActions]="true"
          [showDetails]="offencesHidden[offence.formData.fm_offence_details_id]"
          (actionClicked)="offenceAction($event)"
        ></app-fines-mac-offence-details-review-offence>
      }
    </div>
    <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-2" />
    </div>
    <ng-container *ngTemplateOutlet="offenceTemplate"></ng-container>
    <div class="govuk-grid-column-full">
      <div class="border-bottom">
        <h1 class="govuk-heading-m">Totals</h1>
      </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <app-fines-mac-offence-details-review-summary-offences-total
        [offences]="offencesImpositions"
      ></app-fines-mac-offence-details-review-summary-offences-total>
    </div>
    <ng-container *ngTemplateOutlet="returnToAccountDetails; context: { $implicit: true }"></ng-container>
    <div class="govuk-grid-column-full">
      <app-govuk-cancel-link
        (linkClickEvent)="handleRoute(finesMacRoutingPaths.children.accountDetails, true)"
      ></app-govuk-cancel-link>
    </div>
  </div>
</ng-template>

<ng-template #offenceTemplate>
  <div class="govuk-grid-column-full">
    <app-govuk-button
      buttonId="addAnOffence"
      buttonClasses="govuk-button--secondary"
      (buttonClickEvent)="addAnotherOffence()"
    >
      Add another offence
    </app-govuk-button>
  </div>
</ng-template>

<ng-template #returnToAccountDetails let-subNavigationButton>
  <div class="govuk-grid-column-full">
    <app-govuk-button
      buttonId="returnToCreateAccount"
      (buttonClickEvent)="handleRoute(finesMacRoutingPaths.children.accountDetails, true)"
    >
      Return to account details
    </app-govuk-button>
    @if (subNavigationButton && checkSubNavigationButton()) {
      <app-govuk-button
        buttonId="submitForm"
        buttonClasses="nested-flow govuk-button--secondary govuk-!-margin-left-3"
        (buttonClickEvent)="handleRoute(finesMacRoutingPaths.children.paymentTerms, true)"
      >
        Add payment terms
      </app-govuk-button>
    }
  </div>
</ng-template>
