<h1 class="govuk-heading-l">Language preferences</h1>
<p>
  These language preferences are for the defendant, or a parent or guardian if they are paying on behalf of the
  defendant.
</p>
<form (submit)="handleFormSubmit($event)" [formGroup]="form">
  <opal-lib-govuk-radio
    fieldSetId="fm_language_preferences_document_language"
    legendText="Documents"
    legendClasses="govuk-fieldset__legend--s"
  >
    @for (languageOption of languageOptions; track languageOption.key) {
      <div
        opal-lib-govuk-radios-item
        [labelText]="languageOption.value"
        [inputId]="languageOption.key + 'DocumentRadioOption'"
        inputName="fm_language_preferences_document_language"
        [inputValue]="languageOption.key"
        [control]="form.get('fm_language_preferences_document_language')"
      ></div>
    }
  </opal-lib-govuk-radio>

  <opal-lib-govuk-radio
    fieldSetId="fm_language_preferences_hearing_language"
    legendText="Court hearings"
    legendClasses="govuk-fieldset__legend--s"
  >
    @for (languageOption of languageOptions; track languageOption.key) {
      <div
        opal-lib-govuk-radios-item
        [labelText]="languageOption.value"
        [inputId]="languageOption.key + 'CourtHearingRadioOption'"
        inputName="fm_language_preferences_hearing_language"
        [inputValue]="languageOption.key"
        [control]="form.get('fm_language_preferences_hearing_language')"
      ></div>
    }
  </opal-lib-govuk-radio>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <opal-lib-govuk-button buttonId="submitForm" type="submit">Save changes</opal-lib-govuk-button>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <opal-lib-govuk-cancel-link
        (linkClickEvent)="handleRoute(fineMacRoutingPaths.children.accountDetails)"
      ></opal-lib-govuk-cancel-link>
    </div>
  </div>
</form>
