<opal-lib-govuk-summary-card-list [cardTitle]="cardTitle" summaryCardListId="court-details">
  @if (!isReadOnly) {
    <ng-container actions>
      <li
        app-fines-mac-review-account-change-link
        visuallyHiddenTextChange="Court details"
        (emitChange)="changeCourtDetails()"
      ></li>
    </ng-container>
  }
  <ng-container content>
    <opal-lib-govuk-summary-list summaryListId="courtDetails">
      @if (accountType === accountTypesKeys['Fixed Penalty']) {
        <div
          opal-lib-govuk-summary-list-row
          class="govuk-summary-list__row govuk-summary-list__row--no-actions"
          summaryListId="courtDetails"
          summaryListRowId="issuingAuthority"
        >
          <ng-container name>Issuing Authority</ng-container>
          <ng-container value>{{ issuingAuthority }}</ng-container>
        </div>
      } @else {
        <div
          opal-lib-govuk-summary-list-row
          class="govuk-summary-list__row govuk-summary-list__row--no-actions"
          summaryListId="courtDetails"
          summaryListRowId="originatorName"
        >
          <ng-container name>Sending area or Local Justice Area (LJA)</ng-container>
          <ng-container value>{{ sendingCourt }}</ng-container>
        </div>
        <div
          opal-lib-govuk-summary-list-row
          class="govuk-summary-list__row govuk-summary-list__row--no-actions"
          summaryListId="courtDetails"
          summaryListRowId="pcr"
        >
          <ng-container name>Prosecutor Case Reference (PCR)</ng-container>
          <ng-container value>{{ courtDetails.fm_court_details_prosecutor_case_reference }}</ng-container>
        </div>
      }
      <div
        opal-lib-govuk-summary-list-row
        class="govuk-summary-list__row govuk-summary-list__row--no-actions"
        summaryListId="courtDetails"
        summaryListRowId="enforcementCourt"
      >
        <ng-container name>Enforcement court</ng-container>
        <ng-container value>{{ enforcementCourt }}</ng-container>
      </div>
    </opal-lib-govuk-summary-list>
  </ng-container>
</opal-lib-govuk-summary-card-list>
