<div class="page-container">
  <opal-lib-moj-header [headerLinks]="headerLinks">
    <ng-container organisationName>HMCTS</ng-container>
    <ng-container serviceName>Opal</ng-container>
    <opal-lib-moj-header-navigation-item (actionClick)="handleAuthentication()">
      @if (!globalStore.authenticated()) {
        <ng-container linkText>Sign in</ng-container>
      } @else {
        <ng-container linkText>Sign out</ng-container>
      }
    </opal-lib-moj-header-navigation-item>
  </opal-lib-moj-header>

  <div class="content-wrapper">
    <div class="govuk-width-container">
      <main class="govuk-main-wrapper" id="main-content" role="main">
        @if (minutesRemaining$ | async; as minutes) {
          @if (thresholdInMinutes >= minutes && minutes > 0) {
            <div>
              @let minutesText = minutes === 1 ? 'minute' : 'minutes';
              <opal-lib-moj-banner
                text="Warning: Your session will expire in {{ minutes }} {{
                  minutesText
                }}. Please save your work and log out, then log back in to continue."
                type="warning"
              ></opal-lib-moj-banner>
            </div>
          }
        }

        @if (showExpiredWarning) {
          <opal-lib-moj-banner
            text="Warning: Your session has expired. Please log back in."
            type="warning"
          ></opal-lib-moj-banner>
        }

        @if (globalStore.authenticated() && globalStore.error().error) {
          <opal-lib-moj-banner type="warning" [text]="globalStore.error().message"></opal-lib-moj-banner>
        }
        <div class="govuk-grid-row">
          <router-outlet></router-outlet>
        </div>
      </main>
    </div>
  </div>

  <opal-lib-govuk-footer [footerLinks]="footerLinks"></opal-lib-govuk-footer>
</div>
