<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Contact details</legend>
  <opal-lib-govuk-text-input
    labelText="Primary email address"
    inputId="facc_party_add_amend_convert_contact_email_address_1"
    inputName="facc_party_add_amend_convert_contact_email_address_1"
    labelClasses="govuk-label--s"
    [control]="form.get('facc_party_add_amend_convert_contact_email_address_1')"
    [errors]="formControlErrorMessages['facc_party_add_amend_convert_contact_email_address_1']"
  ></opal-lib-govuk-text-input>
  <opal-lib-govuk-text-input
    labelText="Secondary email address"
    inputId="facc_party_add_amend_convert_contact_email_address_2"
    inputName="facc_party_add_amend_convert_contact_email_address_2"
    labelClasses="govuk-label--s"
    [control]="form.get('facc_party_add_amend_convert_contact_email_address_2')"
    [errors]="formControlErrorMessages['facc_party_add_amend_convert_contact_email_address_2']"
  ></opal-lib-govuk-text-input>
  <opal-lib-govuk-text-input
    labelText="Mobile telephone number"
    inputId="facc_party_add_amend_convert_contact_telephone_number_mobile"
    inputName="facc_party_add_amend_convert_contact_telephone_number_mobile"
    labelClasses="govuk-label--s"
    [control]="form.get('facc_party_add_amend_convert_contact_telephone_number_mobile')"
    [errors]="formControlErrorMessages['facc_party_add_amend_convert_contact_telephone_number_mobile']"
  ></opal-lib-govuk-text-input>
  <opal-lib-govuk-text-input
    labelText="Home telephone number"
    inputId="facc_party_add_amend_convert_contact_telephone_number_home"
    inputName="facc_party_add_amend_convert_contact_telephone_number_home"
    labelClasses="govuk-label--s"
    [control]="form.get('facc_party_add_amend_convert_contact_telephone_number_home')"
    [errors]="formControlErrorMessages['facc_party_add_amend_convert_contact_telephone_number_home']"
  ></opal-lib-govuk-text-input>
  <opal-lib-govuk-text-input
    labelText="Work telephone number"
    inputId="facc_party_add_amend_convert_contact_telephone_number_business"
    inputName="facc_party_add_amend_convert_contact_telephone_number_business"
    labelClasses="govuk-label--s"
    [control]="form.get('facc_party_add_amend_convert_contact_telephone_number_business')"
    [errors]="formControlErrorMessages['facc_party_add_amend_convert_contact_telephone_number_business']"
  ></opal-lib-govuk-text-input>
</fieldset>
