<opal-lib-moj-sortable-table>
  @if (abstractTableDataSignal()!.length > this.paginatedTableDataComputed().length) {
    <ng-container caption>
      Showing {{ startIndexComputed() }} - {{ endIndexComputed() }} of {{ abstractTableDataSignal().length }} accounts
    </ng-container>
  }
  <ng-container head>
    @if (isApprovedTab) {
      <th
        opal-lib-moj-sortable-table-header
        columnKey="Account"
        [sortDirection]="sortStateSignal()['Account']"
        (sortChange)="onSortChange($event)"
        [dataIndex]="0"
      >
        Account
      </th>
    }
    <th
      opal-lib-moj-sortable-table-header
      columnKey="Defendant"
      [sortDirection]="sortStateSignal()['Defendant']"
      (sortChange)="onSortChange($event)"
      [dataIndex]="isApprovedTab ? 1 : 0"
    >
      Defendant
    </th>
    <th
      opal-lib-moj-sortable-table-header
      columnKey="Date of birth"
      [sortDirection]="sortStateSignal()['Date of birth']"
      (sortChange)="onSortChange($event)"
      [dataIndex]="isApprovedTab ? 2 : 1"
    >
      Date of birth
    </th>
    <th
      opal-lib-moj-sortable-table-header
      columnKey="CreatedDate"
      [sortDirection]="sortStateSignal()['CreatedDate']"
      (sortChange)="onSortChange($event)"
      [dataIndex]="isApprovedTab ? 3 : 2"
    >
      Created
    </th>
    <th
      opal-lib-moj-sortable-table-header
      columnKey="Account type"
      [sortDirection]="sortStateSignal()['Account type']"
      (sortChange)="onSortChange($event)"
      [dataIndex]="isApprovedTab ? 4 : 3"
    >
      Account type
    </th>
    <th
      opal-lib-moj-sortable-table-header
      columnKey="Business unit"
      [sortDirection]="sortStateSignal()['Business unit']"
      (sortChange)="onSortChange($event)"
      [dataIndex]="isApprovedTab ? 5 : 4"
    >
      Business unit
    </th>
    @if (isChecker) {
      <th
        opal-lib-moj-sortable-table-header
        columnKey="Submitted by"
        [sortDirection]="sortStateSignal()['Submitted by']"
        (sortChange)="onSortChange($event)"
        [dataIndex]="isApprovedTab ? 6 : 5"
      >
        Submitted by
      </th>
    }
  </ng-container>
  <ng-container row>
    @for (row of paginatedTableDataComputed(); track row['Defendant id']) {
      <tr opal-lib-moj-sortable-table-row>
        @if (isApprovedTab) {
          <td opal-lib-moj-sortable-table-row-data id="account">{{ row['Account'] }}</td>
        }
        <td opal-lib-moj-sortable-table-row-data id="defendant">
          <a
            class="govuk-link govuk-link--no-visited-state"
            (click)="onDefendantClick(+row['Defendant id'])"
            (keydown.enter)="onDefendantClick(+row['Defendant id'])"
            tabindex="0"
            >{{ row['Defendant'] }}</a
          >
        </td>
        <td opal-lib-moj-sortable-table-row-data id="dob">
          {{ row['Date of birth'] | dateFormat: DATE_INPUT_FORMAT : DATE_OUTPUT_FORMAT }}
        </td>
        <td opal-lib-moj-sortable-table-row-data id="createdDate">
          {{ row['Created'] | daysAgo }}
        </td>
        <td opal-lib-moj-sortable-table-row-data id="accountType">{{ row['Account type'] }}</td>
        <td opal-lib-moj-sortable-table-row-data id="businessUnit">{{ row['Business unit'] }}</td>
        @if (isChecker) {
          <td opal-lib-moj-sortable-table-row-data id="submittedBy">{{ row['Submitted by'] }}</td>
        }
      </tr>
    }
  </ng-container>
</opal-lib-moj-sortable-table>
<app-fines-shared-sortable-table-footer
  [abstractTableData]="abstractTableDataSignal()"
  [currentPage]="currentPageSignal()"
  [itemsPerPage]="itemsPerPageSignal()"
  (changePage)="onPageChange($event)"
/>
