@if (abstractTableDataSignal()!.length > this.paginatedTableDataComputed().length) {
  <strong
    >Showing {{ startIndexComputed() }} - {{ endIndexComputed() }} of {{ abstractTableDataSignal().length }} accounts
  </strong>
}
<app-moj-sortable-table>
  <ng-container head>
    @if (isApprovedTab) {
      <th
        app-moj-sortable-table-header
        columnKey="account"
        [sortDirection]="sortStateSignal()['account']"
        (sortChange)="onSortChange($event)"
      >
        Account
      </th>
    }
    <th
      app-moj-sortable-table-header
      columnKey="defendant"
      [sortDirection]="sortStateSignal()['defendant']"
      (sortChange)="onSortChange($event)"
    >
      Defendant
    </th>
    <th
      app-moj-sortable-table-header
      columnKey="dob"
      [sortDirection]="sortStateSignal()['dob']"
      (sortChange)="onSortChange($event)"
    >
      Date of birth
    </th>
    <th
      app-moj-sortable-table-header
      columnKey="createdString"
      [sortDirection]="sortStateSignal()['createdString']"
      (sortChange)="onSortChange($event)"
    >
      Created
    </th>
    <th
      app-moj-sortable-table-header
      columnKey="accountType"
      [sortDirection]="sortStateSignal()['accountType']"
      (sortChange)="onSortChange($event)"
    >
      Account type
    </th>
    <th
      app-moj-sortable-table-header
      columnKey="businessUnit"
      [sortDirection]="sortStateSignal()['businessUnit']"
      (sortChange)="onSortChange($event)"
    >
      Business unit
    </th>
  </ng-container>
  <ng-container row>
    @for (row of paginatedTableDataComputed(); track row.defendantId) {
      <tr app-moj-sortable-table-row>
        @if (isApprovedTab) {
          <td app-moj-sortable-table-row-data id="account">{{ row['account'] }}</td>
        }
        <td app-moj-sortable-table-row-data id="defendant">
          <a
            class="govuk-link govuk-link--no-visited-state"
            (click)="onDefendantClick(+row['defendantId'])"
            (keydown.enter)="onDefendantClick(+row['defendantId'])"
            tabindex="0"
            >{{ row['defendant'] }}</a
          >
        </td>
        <td app-moj-sortable-table-row-data id="dob">{{ row['dob'] ? row['dob'] : '—' }}</td>
        <td app-moj-sortable-table-row-data id="created">{{ row['createdString'] }}</td>
        <td app-moj-sortable-table-row-data id="accountType">{{ row['accountType'] }}</td>
        <td app-moj-sortable-table-row-data id="businessUnit">{{ row['businessUnit'] }}</td>
      </tr>
    }
  </ng-container>
</app-moj-sortable-table>
@if (abstractTableDataSignal()!.length > this.paginatedTableDataComputed().length) {
  <app-govuk-pagination
    [currentPage]="currentPageSignal()"
    [limit]="itemsPerPageSignal()"
    [total]="abstractTableDataSignal().length"
    (changePage)="onPageChange($event)"
  ></app-govuk-pagination>
}
