apiVersion: v2
appVersion: '1.0'
description: A Helm chart for opal-frontend
name: opal-frontend
home: https://github.com/hmcts/opal-frontend/
version: 0.0.276
maintainers:
  - name: HMCTS Opal team
dependencies:
  - name: nodejs
    version: 3.2.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
  - name: redis
    version: 23.2.12
    repository: 'oci://registry-1.docker.io/bitnamicharts'
    condition: redis.enabled
  - name: postgresql
    version: 18.1.11
    repository: 'oci://registry-1.docker.io/bitnamicharts'
    condition: postgresql.enabled
  - name: opal-fines-service
    version: 0.0.68
    repository: 'oci://sdshmctspublic.azurecr.io/helm'
    condition: opal-fines-service.enabled

