nodejs:
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  keyVaults:
    opal:
      secrets:
        - app-insights-connection-string
        - launch-darkly-client-id
  environment:
    REDIS_CONNECTION_STRING: redis://${SERVICE_NAME}-redis-master:6379
    OPAL_API_URL: ${DEV_OPAL_FINES_SERVICE_URL}
    OPAL_FINES_SERVICE_API_URL: ${DEV_OPAL_FINES_SERVICE_URL}
    OPAL_USER_SERVICE_API_URL: https://opal-user-service.staging.platform.hmcts.net
    FRONTEND_HOSTNAME: https://${SERVICE_FQDN}
    FEATURES_LAUNCH_DARKLY_ENABLED: false
    FEATURES_SSO_ENABLED: false
    FEATURES_APP_INSIGHTS_ENABLED: false
opal-fines-service:
  enabled: ${DEV_ENABLE_OPAL_FINES_SERVICE}
  java:
    releaseNameOverride: ${SERVICE_NAME}-fines-service
    image: 'sdshmctspublic.azurecr.io/opal/fines-service:${DEV_OPAL_FINES_SERVICE_IMAGE_SUFFIX}'
    ingressHost: "opal-frontend-pr-${CHANGE_ID}-fines-service.dev.platform.hmcts.net"
    imagePullPolicy: Always
    devmemoryRequests: "1Gi"
    devcpuRequests: "250m"
    devmemoryLimits: "2Gi"
    devcpuLimits: "2500m"
    keyVaults:
      opal:
        secrets:
          - name: app-insights-connection-string
            alias: app-insights-connection-string
          - name: AzureADTenantId
            alias: AAD_TENANT_ID
          - name: AzureADClientId
            alias: AAD_CLIENT_ID
          - name: AzureADClientSecret
            alias: AAD_CLIENT_SECRET
          - name: OpalTestUserPassword
            alias: OPAL_TEST_USER_PASSWORD
          - name: opalLegacyJCDEGatewayUsername
            alias: OPAL_LEGACY_GATEWAY_USERNAME
          - name: opalLegacyJCDEGatewayPassword
            alias: OPAL_LEGACY_GATEWAY_PASSWORD
    environment:
      OPAL_FINES_DB_HOST: "{{ .Release.Name }}-postgresql"
      OPAL_FINES_DB_NAME: opal
      OPAL_FINES_DB_USERNAME: opal
      OPAL_FINES_DB_PASSWORD: opal
      OPAL_FINES_DB_OPTIONS: "?stringtype=unspecified"
      OPAL_FINES_DB_PORT: 5432
      RUN_DB_MIGRATION_ON_STARTUP: true
      OPAL_FRONTEND_URL: "https://${SERVICE_FQDN}"
      OPAL_USER_SERVICE_API_URL: https://opal-user-service.staging.platform.hmcts.net
      FLYWAY_LOCATIONS: classpath:db/migration/allEnvs, classpath:db/migration/devOnly
      APPLICATIONINSIGHTS_ROLE_NAME: "opal-frontend-pr-${CHANGE_ID}-fines-service"
      DEFAULT_APP_MODE: ${DEV_DEFAULT_APP_MODE}
      OPAL_LEGACY_GATEWAY_URL: ${DEV_OPAL_LEGACY_GATEWAY_URL}
      OPAL_LEGACY_GATEWAY_USERNAME: ${OPAL_LEGACY_GATEWAY_USERNAME}
      OPAL_LEGACY_GATEWAY_PASSWORD: ${OPAL_LEGACY_GATEWAY_PASSWORD}
postgresql:
  enabled: ${DEV_ENABLE_OPAL_FINES_SERVICE}
  image:
    tag: '17.5.0'
  auth:
    username: opal
    password: opal
    database: opal
  primary:
    persistence:
      enabled: false
    resourcesPreset: small

redis:
  enabled: true
  architecture: standalone
  master:
    persistence:
      enabled: false
  auth:
    enabled: false
