<app-govuk-table>
  <ng-container head>
    <th app-govuk-table-heading>Imposition</th>
    <th app-govuk-table-heading>Creditor</th>
    <th app-govuk-table-heading>Amount imposed</th>
    <th app-govuk-table-heading>Amount paid</th>
    <th app-govuk-table-heading>Balance remaining</th>
  </ng-container>
  <ng-container body>
    @for (imposition of impositionTableData; track imposition.impositionDescription) {
      <tr app-govuk-table-body-row>
        <td app-govuk-table-body-row-data id="imposition">{{ imposition.impositionDescription }}</td>
        <td app-govuk-table-body-row-data id="creditor">{{ imposition.creditor }}</td>
        <td app-govuk-table-body-row-data id="amountImposed">{{ imposition.amountImposed }}</td>
        <td app-govuk-table-body-row-data id="amountPaid">{{ imposition.amountPaid }}</td>
        <td app-govuk-table-body-row-data id="balanceRemaining">{{ imposition.balanceRemaining }}</td>
      </tr>
    }
    <tr app-govuk-table-body-row>
      <th app-govuk-table-body-row-data colspan="2" id="totalsHeading"><strong>Totals</strong></th>
      <th app-govuk-table-body-row-data id="totalAmountImposed">{{ impositionsTotalsData.totalAmountImposed }}</th>
      <th app-govuk-table-body-row-data id="totalAmountPaid">{{ impositionsTotalsData.totalAmountPaid }}</th>
      <th app-govuk-table-body-row-data id="totalBalanceRemaining">
        {{ impositionsTotalsData.totalBalanceRemaining }}
      </th>
    </tr>
  </ng-container>
</app-govuk-table>
