<div class="moj-button-menu">
  <button
    class="govuk-button moj-button-menu__toggle-button govuk-button--secondary moj-button-menu__toggle-button--secondary"
    type="button"
    aria-haspopup="true"
    aria-expanded="false"
    (click)="toggleButtonMenu()"
  >
    {{ menuButtonTitle }}
  </button>
  <div class="moj-button-menu__wrapper" role="menu">
    @for (action of actions; track action.id) {
      <a
        href=""
        role="menuitem"
        draggable="false"
        class="moj-button-menu__item"
        data-module="govuk-button"
        data-secondary="true"
        (click)="onActionClick(action.id, $event)"
      >
        {{ action.title }}
      </a>
    }
  </div>
</div>
