<div class="govuk-form-group" [class.govuk-form-group--error]="!!errors">
  <fieldset class="govuk-fieldset" [id]="fieldSetId" [attr.aria-describedby]="fieldSetId">
    @if (legendText) {
      <legend class="govuk-fieldset__legend {{ legendClasses }}" [attr.describedby]="fieldSetId">
        {{ legendText }}
      </legend>
    }
    @if (legendHint) {
      <div [id]="fieldSetId ? fieldSetId + 'Hint' : ''" class="govuk-hint">
        {{ legendHint }}
      </div>
    }

    @if (errors) {
      <p id="{{ this.fieldSetId }}-error-message" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error: </span> {{ errors }}
      </p>
    }
    <div class="govuk-radios {{ radioClasses }}" data-module="govuk-radios">
      <ng-content></ng-content>
    </div>
  </fieldset>
</div>
