<app-fines-mac-offence-details-review-offence-heading
  [offenceId]="offence.formData.fm_offence_details_id"
  [offenceCode]="offence.formData.fm_offence_details_offence_id!"
  [showActions]="showActions"
  [showDetails]="showDetails"
  (actionClicked)="emitAction($event)"
></app-fines-mac-offence-details-review-offence-heading>

@if (showDetails) {
  <app-fines-mac-offence-details-review-offence-imposition
    [impositionRefData]="impositionRefData"
    [majorCreditorRefData]="majorCreditorRefData"
    [impositions]="offence.formData.fm_offence_details_impositions"
    [offenceIndex]="offence.formData.fm_offence_details_id"
  >
  </app-fines-mac-offence-details-review-offence-imposition>
}
