<div class="govuk-grid-column-full">
  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3 govuk-!-margin-top-2" />

  <opal-lib-custom-summary-metric-bar>
    <opal-lib-custom-summary-metric-bar-item>
      <p opal-lib-custom-summary-metric-bar-item-label>Imposed:</p>
      <p opal-lib-custom-summary-metric-bar-item-value>{{ convertToMonetaryString(accountData.imposed) }}</p>
    </opal-lib-custom-summary-metric-bar-item>
    <opal-lib-custom-summary-metric-bar-item backgroundColour="govuk-lighter-blue-background-colour">
      <p opal-lib-custom-summary-metric-bar-item-label textColour="govuk-dark-blue-text-colour">Arrears:</p>
      <p opal-lib-custom-summary-metric-bar-item-value textColour="govuk-dark-blue-text-colour">
        {{ convertToMonetaryString(accountData.arrears) }}
      </p>
    </opal-lib-custom-summary-metric-bar-item>
    <opal-lib-custom-summary-metric-bar-item backgroundColour="govuk-lighter-blue-background-colour">
      <p opal-lib-custom-summary-metric-bar-item-label textColour="govuk-dark-blue-text-colour">Paid:</p>
      <p opal-lib-custom-summary-metric-bar-item-value textColour="govuk-dark-blue-text-colour">
        {{ convertToMonetaryString(accountData.paid) }}
      </p>
    </opal-lib-custom-summary-metric-bar-item>
    <opal-lib-custom-summary-metric-bar-item backgroundColour="govuk-blue-background-colour">
      <p opal-lib-custom-summary-metric-bar-item-label textColour="govuk-white-text-colour">Account Balance:</p>
      <p opal-lib-custom-summary-metric-bar-item-value textColour="govuk-white-text-colour">
        {{ convertToMonetaryString(accountData.account_balance) }}
      </p>
    </opal-lib-custom-summary-metric-bar-item>
  </opal-lib-custom-summary-metric-bar>
</div>
