<opal-lib-govuk-summary-card-list cardTitle="Account comments and notes" summaryCardListId="account-comments-and-notes">
  @if (!isReadOnly) {
    <ng-container actions>
      <li
        app-fines-mac-review-account-change-link
        visuallyHiddenTextChange="Account comments and notes"
        (emitChange)="changeAccountCommentsAndNotesDetails()"
      ></li>
    </ng-container>
  }
  <ng-container content>
    <opal-lib-govuk-summary-list summaryListId="accountCommentsAndNotes">
      <div
        opal-lib-govuk-summary-list-row
        class="govuk-summary-list__row govuk-summary-list__row--no-actions"
        summaryListId="accountCommentsAndNotes"
        summaryListRowId="accountComment"
      >
        <ng-container name>Comment</ng-container>
        <ng-container value>
          @if (accountCommentsAndNotes.fm_account_comments_notes_comments) {
            {{ accountCommentsAndNotes.fm_account_comments_notes_comments }}
          } @else {
            <app-fines-mac-review-account-not-provided></app-fines-mac-review-account-not-provided>
          }
        </ng-container>
      </div>
      <div
        opal-lib-govuk-summary-list-row
        class="govuk-summary-list__row govuk-summary-list__row--no-actions"
        summaryListId="accountCommentsAndNotes"
        summaryListRowId="accountNote"
      >
        <ng-container name>Account note</ng-container>
        <ng-container value>
          @if (accountCommentsAndNotes.fm_account_comments_notes_notes) {
            {{ accountCommentsAndNotes.fm_account_comments_notes_notes }}
          } @else {
            <app-fines-mac-review-account-not-provided></app-fines-mac-review-account-not-provided>
          }
        </ng-container>
      </div>
    </opal-lib-govuk-summary-list>
  </ng-container>
</opal-lib-govuk-summary-card-list>
