<app-govuk-summary-card-list cardTitle="Offences and impositions" summaryCardListId="offences-and-imposition">
  @if (!isReadOnly) {
    <ng-container actions>
      <app-fines-mac-review-account-change-link
        (emitChange)="changeOffenceDetails()"
      ></app-fines-mac-review-account-change-link>
    </ng-container>
  }
  <ng-container content>
    <app-fines-mac-offence-details-review [isReadOnly]="true"></app-fines-mac-offence-details-review>
  </ng-container>
</app-govuk-summary-card-list>
