<opal-lib-govuk-summary-card-list cardTitle="Offences and impositions" summaryCardListId="offences-and-imposition">
  @if (!isReadOnly) {
    <ng-container actions>
      <li
        app-fines-mac-review-account-change-link
        visuallyHiddenTextChange="Offences and impositions"
        (emitChange)="changeOffenceDetails()"
      ></li>
    </ng-container>
  }
  <ng-container content>
    <app-fines-mac-offence-details-review
      [isReadOnly]="true"
      [results]="results"
      [majorCreditors]="majorCreditors"
    ></app-fines-mac-offence-details-review>
  </ng-container>
</opal-lib-govuk-summary-card-list>
