<div
  [classList]="
    isReadOnly
      ? 'govuk-!-margin-bottom-4 govuk-!-padding-bottom-2 offence-info border-bottom govuk-!-margin-top-3'
      : 'govuk-!-margin-bottom-4 govuk-!-padding-bottom-2 offence-info border-bottom'
  "
>
  <opal-lib-govuk-heading-with-caption
    class="heading-with-caption"
    [captionText]="offenceCode"
    captionClasses="govuk-caption-m"
    [headingText]="offenceTitle"
    headingClasses="govuk-heading-m govuk-!-margin-bottom-0"
  ></opal-lib-govuk-heading-with-caption>
  @if (showActions) {
    <opal-lib-govuk-summary-list-row-actions class="heading-actions">
      <ng-container *ngTemplateOutlet="isReadOnly ? readOnlyActions : actions"></ng-container>
    </opal-lib-govuk-summary-list-row-actions>
  }
</div>

<ng-template #readOnlyActions>
  <li
    opal-lib-govuk-summary-list-row-action-item
    [actionId]="showDetails ? 'hide' : 'show'"
    [actionName]="showDetails ? 'Hide' : 'Show'"
    (linkClick)="onActionClick($event)"
  ></li>
</ng-template>

<ng-template #actions>
  <ng-container *ngTemplateOutlet="readOnlyActions"></ng-container>
  <li
    opal-lib-govuk-summary-list-row-action-item
    actionId="change"
    actionName="Change"
    (linkClick)="onActionClick($event)"
  ></li>
  <li
    opal-lib-govuk-summary-list-row-action-item
    actionId="remove"
    actionName="Remove"
    (linkClick)="onActionClick($event)"
  ></li>
</ng-template>
