.offence-info {
  display: flex;
  align-items: end;
}

.heading-with-caption {
  flex-grow: 1; 
  min-width: 70%; 
}

.heading-actions {
  flex-shrink: 0; 
  display: flex;
  gap: 0.5rem; 
  white-space: nowrap; 
}

.border-bottom {
  border-bottom: 2px solid black;
}
