<h2 class="govuk-heading-l">Create accounts</h2>
<app-moj-sub-navigation subNavId="inputter-tabs" (activeSubNavItemFragment)="handleTabSwitch($event)">
  @for (tabOption of tabOptions; track tabOption.id) {
    <app-moj-sub-navigation-item
      [subNavItemId]="tabOption.id"
      [activeSubNavItemFragment]="tabOption.activeFragment"
      [subNavItemFragment]="tabOption.fragment"
      [subNavItemText]="tabOption.text"
    ></app-moj-sub-navigation-item>
  }
</app-moj-sub-navigation>
<h3 class="govuk-heading-m">{{ activeTabOption.text }}</h3>
@if (draftAccounts$ | async; as draftAccounts) {
  @if (draftAccounts.length) {
    <app-fines-draft-table-wrapper
      [tableData]="draftAccounts"
      [existingSortState]="tableSort"
      [isApprovedTab]="false"
    ></app-fines-draft-table-wrapper>
  } @else {
    @switch (activeTabOption.fragment) {
      @case ('review') {
        <ng-container *ngTemplateOutlet="reviewNoData"></ng-container>
      }
      @case ('rejected') {
        <ng-container *ngTemplateOutlet="rejectedNoData"></ng-container>
      }
      @case ('approved') {
        <ng-container *ngTemplateOutlet="approvedNoData"></ng-container>
      }
      @case ('deleted') {
        <ng-container *ngTemplateOutlet="deletedNoData"></ng-container>
      }
    }
  }
}

<ng-template #reviewNoData>
  <p>You have no accounts in review.</p>
</ng-template>
<ng-template #rejectedNoData>
  <p>You have no rejected accounts.</p>
  <p>To resubmit accounts for other team members, you can <a class="govuk-link">view all rejected accounts</a>.</p>
</ng-template>
<ng-template #approvedNoData>
  <p>No accounts have been approved in the past 7 days.</p>
</ng-template>
<ng-template #deletedNoData>
  <p>No accounts have been deleted in the past 7 days.</p>
</ng-template>
