<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">There is a problem</h1>
  <p class="govuk-body">
    Reference data and account information cannot be entered together when searching for an account. Search using
    either:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>account number, or</li>
    <li>reference or case number, or</li>
    <li>selected tab</li>
  </ul>
  <a class="govuk-link" (click)="goBack()" (keydown.enter)="goBack()" tabindex="0">Go back</a>
</div>
