<div class="govuk-grid-column-full">
  @if (finesDraftStore.bannerMessage().length > 0) {
    <opal-lib-moj-banner [text]="finesDraftStore.bannerMessage()" type="success"></opal-lib-moj-banner>
  }
  <h1 class="govuk-heading-l">Review accounts</h1>
  <opal-lib-moj-sub-navigation subNavId="checker-tabs" (activeSubNavItemFragment)="handleTabSwitch($event)">
    <opal-lib-moj-sub-navigation-item
      subNavItemId="checker-to-review-tab"
      [activeSubNavItemFragment]="activeTab"
      subNavItemFragment="to-review"
      subNavItemText="To review"
    ></opal-lib-moj-sub-navigation-item>
    <opal-lib-moj-sub-navigation-item
      subNavItemId="checker-rejected-tab"
      [activeSubNavItemFragment]="activeTab"
      subNavItemFragment="rejected"
      subNavItemText="Rejected"
    ></opal-lib-moj-sub-navigation-item>
    <opal-lib-moj-sub-navigation-item
      subNavItemId="checker-deleted-tab"
      [activeSubNavItemFragment]="activeTab"
      subNavItemFragment="deleted"
      subNavItemText="Deleted"
    ></opal-lib-moj-sub-navigation-item>
  </opal-lib-moj-sub-navigation>
  @switch (activeTab) {
    @case ('to-review') {
      <h2 class="govuk-heading-m">To review</h2>
      <ng-container *ngTemplateOutlet="tableWrapper"></ng-container>
    }
    @case ('rejected') {
      <h2 class="govuk-heading-m">Rejected</h2>
      <ng-container *ngTemplateOutlet="tableWrapper"></ng-container>
    }
    @case ('deleted') {
      <h2 class="govuk-heading-m">Deleted</h2>
      <ng-container *ngTemplateOutlet="tableWrapper"></ng-container>
    }
  }

  <ng-template #tableWrapper>
    @if (tabData$ | async; as draftAccounts) {
      @if (draftAccounts.length) {
        <app-fines-draft-table-wrapper
          [tableData]="draftAccounts"
          [existingSortState]="tableSort"
          [isApprovedTab]="false"
          [isChecker]="true"
          (linkClicked)="onDefendantClick($event)"
          [activeTab]="activeTab"
        ></app-fines-draft-table-wrapper>
      } @else {
        @switch (activeTab) {
          @case ('to-review') {
            <ng-container *ngTemplateOutlet="reviewNoData"></ng-container>
          }
          @case ('rejected') {
            <ng-container *ngTemplateOutlet="rejectedNoData"></ng-container>
          }
          @case ('deleted') {
            <ng-container *ngTemplateOutlet="deletedNoData"></ng-container>
          }
        }
      }
    }
  </ng-template>
  <ng-template #reviewNoData>
    <p>There are no accounts to review.</p>
  </ng-template>
  <ng-template #rejectedNoData>
    <p>There are no rejected accounts.</p>
  </ng-template>
  <ng-template #deletedNoData>
    <p>No accounts have been deleted in the past 7 days.</p>
  </ng-template>
</div>
