@if (finesMacOffenceDetailsService.minorCreditorAdded) {
  <app-moj-banner type="success" text="Minor creditor added"></app-moj-banner>
}
@if (finesMacOffenceDetailsService.offenceCodeMessage.length > 0) {
  <app-moj-banner type="success" [text]="finesMacOffenceDetailsService.offenceCodeMessage"></app-moj-banner>
}
<h1 class="govuk-heading-l">Add an offence</h1>
<app-govuk-error-summary [errors]="formErrorSummaryMessage" (errorClick)="scrollTo($event)"></app-govuk-error-summary>
<form (submit)="handleAddAnOffenceSubmit($event)" [formGroup]="form">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Offence details</legend>
    <app-moj-date-picker
      labelText="Date of sentence"
      labelClasses="govuk-label--s"
      inputId="fm_offence_details_date_of_offence"
      inputName="fm_offence_details_date_of_offence"
      inputClasses="govuk-input--width-10"
      hintText="For example, 31/01/2023"
      [maxDate]="today"
      [control]="form.controls['fm_offence_details_date_of_offence']"
      [errors]="formControlErrorMessages['fm_offence_details_date_of_offence']"
      (dateChange)="setInputValue($event, 'fm_offence_details_date_of_offence')"
    ></app-moj-date-picker>
    <app-govuk-text-input
      labelText="Offence code"
      labelClasses="govuk-fieldset__legend--s"
      inputId="fm_offence_details_offence_code"
      inputName="fm_offence_details_offence_code"
      inputClasses="govuk-input--width-10"
      [hintHtml]="true"
      [errors]="formControlErrorMessages['fm_offence_details_offence_code']"
      [control]="form.controls['fm_offence_details_offence_code']"
    >
      For example, HY35014. If you don't know the offence code, you can
      <a
        class="govuk-link govuk-task-list_link govuk-link--no-visited-state"
        (click)="goToSearchOffences()"
        (keyup.enter)="goToSearchOffences()"
        tabindex="0"
      >
        search the offence list
      </a></app-govuk-text-input
    >
    @if (offenceCode$ | async; as offenceCode) {
      @if (selectedOffenceConfirmation) {
        @if (offenceCode.count === 1) {
          <ng-container
            *ngTemplateOutlet="
              offenceCodeHint;
              context: { found: true, offenceTitle: offenceCode.refData[0].offence_title }
            "
          ></ng-container>
        } @else {
          <ng-container *ngTemplateOutlet="offenceCodeHint; context: { found: false }"></ng-container>
        }
      }
    }
  </fieldset>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Impositions</legend>
    @for (formArrayControl of formArrayControls; let rowIndex = $index; track rowIndex) {
      <app-moj-ticket-panel>
        <div class="govuk-grid-row govuk-form-group">
          <div class="govuk-grid-column-one-half">
            <app-alphagov-accessible-autocomplete
              [control]="
                form.get([
                  'fm_offence_details_impositions',
                  rowIndex,
                  formArrayControl['fm_offence_details_result_code'].controlName,
                ])
              "
              labelText="Result code"
              labelClasses="govuk-fieldset__legend--s"
              [inputId]="formArrayControl['fm_offence_details_result_code'].inputId"
              [inputName]="formArrayControl['fm_offence_details_result_code'].inputName"
              [autoCompleteItems]="resultCodeItems"
              [errors]="formControlErrorMessages[formArrayControl['fm_offence_details_result_code'].controlName]"
              [showAllValues]="true"
            >
            </app-alphagov-accessible-autocomplete>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <app-govuk-text-input-prefix-suffix
              labelText="Amount imposed"
              labelClasses="govuk-fieldset__legend--s"
              [inputId]="formArrayControl['fm_offence_details_amount_imposed'].inputId"
              [inputName]="formArrayControl['fm_offence_details_amount_imposed'].inputName"
              inputClasses="govuk-input--width-10"
              prefixText="£"
              [forceTwoDecimalPoints]="true"
              [control]="
                form.get([
                  'fm_offence_details_impositions',
                  rowIndex,
                  formArrayControl['fm_offence_details_amount_imposed'].controlName,
                ])
              "
              [errors]="formControlErrorMessages[formArrayControl['fm_offence_details_amount_imposed'].controlName]"
            ></app-govuk-text-input-prefix-suffix>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <app-govuk-text-input-prefix-suffix
              labelText="Amount paid"
              labelClasses="govuk-fieldset__legend--s"
              [inputId]="formArrayControl['fm_offence_details_amount_paid'].inputId"
              [inputName]="formArrayControl['fm_offence_details_amount_paid'].inputName"
              inputClasses="govuk-input--width-10"
              prefixText="£"
              [forceTwoDecimalPoints]="true"
              [control]="
                form.get([
                  'fm_offence_details_impositions',
                  rowIndex,
                  formArrayControl['fm_offence_details_amount_paid'].controlName,
                ])
              "
              [errors]="formControlErrorMessages[formArrayControl['fm_offence_details_amount_paid'].controlName]"
            ></app-govuk-text-input-prefix-suffix>
          </div>
        </div>
        @if (
          form.get([
            'fm_offence_details_impositions',
            rowIndex,
            formArrayControl['fm_offence_details_needs_creditor'].controlName,
          ])!.value === true
        ) {
          <div class="govuk-grid-row govuk-form-group">
            <div class="govuk-grid-column-full">
              @if (minorCreditors[rowIndex]) {
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Minor creditor</legend>
                  <app-fines-mac-offence-details-minor-creditor-information
                    [minorCreditor]="minorCreditors[rowIndex]!"
                    [showActions]="true"
                    [isDetailsHidden]="minorCreditorsHidden[rowIndex]"
                    (actionClicked)="minorCreditorActions($event)"
                  ></app-fines-mac-offence-details-minor-creditor-information>
                </fieldset>
              } @else {
                <app-govuk-radio
                  [fieldSetId]="formArrayControl['fm_offence_details_creditor'].inputId"
                  legendText="Add creditor"
                  legendClasses="govuk-fieldset__legend--s"
                  [errors]="formControlErrorMessages[formArrayControl['fm_offence_details_creditor'].controlName]"
                >
                  @for (creditorOption of creditorOptions; track creditorOption.key) {
                    <div
                      app-govuk-radios-item
                      [labelText]="creditorOption.value"
                      [inputId]="creditorOption.key + '_' + rowIndex"
                      [inputName]="formArrayControl['fm_offence_details_creditor'].controlName"
                      [inputValue]="creditorOption.key"
                      [control]="
                        form.get([
                          'fm_offence_details_impositions',
                          rowIndex,
                          formArrayControl['fm_offence_details_creditor'].controlName,
                        ])
                      "
                    ></div>
                    <div app-govuk-radios-conditional conditionalId="creditor">
                      @if (creditorOption.key === 'major') {
                        @if (
                          form.get([
                            'fm_offence_details_impositions',
                            rowIndex,
                            formArrayControl['fm_offence_details_creditor'].controlName,
                          ])?.value === 'major'
                        ) {
                          <app-alphagov-accessible-autocomplete
                            [control]="
                              form.get([
                                'fm_offence_details_impositions',
                                rowIndex,
                                formArrayControl['fm_offence_details_major_creditor'].controlName,
                              ])
                            "
                            labelText="Search using name or code"
                            labelClasses="govuk-fieldset__legend--s"
                            [inputId]="formArrayControl['fm_offence_details_major_creditor'].inputId"
                            [inputName]="formArrayControl['fm_offence_details_major_creditor'].inputName"
                            inputClasses="govuk-!-width-one-half"
                            [autoCompleteItems]="majorCreditorItems"
                            [errors]="
                              formControlErrorMessages[
                                formArrayControl['fm_offence_details_major_creditor'].controlName
                              ]
                            "
                          >
                          </app-alphagov-accessible-autocomplete>
                        }
                      }
                      @if (creditorOption.key === 'minor') {
                        @if (
                          form.get([
                            'fm_offence_details_impositions',
                            rowIndex,
                            formArrayControl['fm_offence_details_creditor'].controlName,
                          ])?.value === 'minor'
                        ) {
                          <a
                            class="govuk-link govuk-link--no-visited-state"
                            (click)="goToMinorCreditor(rowIndex)"
                            (keyup.enter)="goToMinorCreditor(rowIndex)"
                            tabindex="0"
                          >
                            Add minor creditor details
                          </a>
                        }
                      }
                    </div>
                  }
                </app-govuk-radio>
              }
            </div>
          </div>
        }
        @if (formArrayControls.length > 1) {
          <div class="govuk-!-margin-top-3">
            <a
              class="govuk-link govuk-link--no-visited-state"
              tabindex="0"
              (click)="removeImpositionConfirmation(rowIndex)"
              (keyup.enter)="removeImpositionConfirmation(rowIndex)"
            >
              Remove imposition
            </a>
          </div>
        }
      </app-moj-ticket-panel>
    }
    <app-govuk-button
      buttonId="addImposition"
      buttonClasses="govuk-button--secondary govuk-!-margin-bottom-0"
      type="button"
      (buttonClickEvent)="addControlsToFormArray(formArrayControls.length, 'fm_offence_details_impositions')"
      >Add another imposition</app-govuk-button
    >
  </fieldset>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <app-govuk-button buttonId="submitForm" type="submit"> Review offence </app-govuk-button>
      @if (defendantType && finesMacNestedRoutes[defendantType].addAnotherOffence) {
        <app-govuk-button
          buttonId="submitForm"
          type="submit"
          buttonClasses="nested-flow govuk-button--secondary govuk-!-margin-left-3"
        >
          {{ finesMacNestedRoutes[defendantType].addAnotherOffence?.buttonText }}
        </app-govuk-button>
      }
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <app-govuk-cancel-link (linkClickEvent)="cancelLink()"></app-govuk-cancel-link>
    </div>
  </div>
</form>

<ng-template #offenceCodeHint let-found="found" let-offenceTitle="offenceTitle">
  <app-moj-ticket-panel
    [sectionClasses]="found ? 'moj-ticket-panel__content--blue' : 'moj-ticket-panel__content--orange'"
  >
    @let offenceFound = found ? 'Offence found' : 'Offence not found';
    <strong>{{ offenceFound }}</strong>
    @if (found) {
      <p>{{ offenceTitle }}</p>
    } @else {
      <p>Enter a valid offence code</p>
    }
  </app-moj-ticket-panel>
</ng-template>
