<h1 class="govuk-heading-l">Personal details</h1>
<opal-lib-govuk-error-summary
  [errors]="formErrorSummaryMessage"
  (errorClick)="scrollTo($event)"
></opal-lib-govuk-error-summary>
<form (submit)="handleFormSubmit($event)" [formGroup]="form">
  <opal-lib-govuk-select
    labelText="Title"
    labelClasses="govuk-label--s"
    selectId="fm_personal_details_title"
    selectName="fm_personal_details_title"
    [options]="titleOptions"
    [control]="form.get('fm_personal_details_title')!"
    [errors]="formControlErrorMessages['fm_personal_details_title']"
  ></opal-lib-govuk-select>
  <opal-lib-govuk-text-input
    labelText="First names"
    inputId="fm_personal_details_forenames"
    inputName="fm_personal_details_forenames"
    inputClasses="govuk-input--width-20"
    labelClasses="govuk-label--s"
    hintText="Include their middle names"
    [control]="form.get('fm_personal_details_forenames')"
    [errors]="formControlErrorMessages['fm_personal_details_forenames']"
  ></opal-lib-govuk-text-input>
  <opal-lib-govuk-text-input
    labelText="Last name"
    inputId="fm_personal_details_surname"
    inputName="fm_personal_details_surname"
    inputClasses="govuk-input--width-20"
    labelClasses="govuk-label--s"
    [control]="form.get('fm_personal_details_surname')"
    [errors]="formControlErrorMessages['fm_personal_details_surname']"
    [opalLibCapitaliseAllCharacters]="form.get('fm_personal_details_surname')!"
  ></opal-lib-govuk-text-input>
  <opal-lib-govuk-checkboxes fieldSetId="addAliasCheckbox" checkboxClasses="" legendText="">
    <div
      opal-lib-govuk-checkboxes-item
      labelText="Add aliases"
      inputId="fm_personal_details_add_alias"
      inputName="fm_personal_details_add_alias"
      [control]="form.get('fm_personal_details_add_alias')"
    ></div>
  </opal-lib-govuk-checkboxes>
  @if (form.get('fm_personal_details_add_alias')?.value === true) {
    <span id="personal-details-add-alias-conditional-label" class="govuk-visually-hidden"> Options for Add Alias </span>
    <div
      opal-lib-govuk-checkboxes-conditional
      conditionalId="fm_personal_details_add_alias"
      formArrayName="fm_personal_details_aliases"
    >
      @for (aliasControl of aliasControls; let rowIndex = $index; track rowIndex) {
        <fieldset class="govuk-fieldset">
          <h2 class="govuk-label-wrapper">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Alias {{ rowIndex + 1 }}</legend>
          </h2>
          <opal-lib-govuk-text-input
            labelText="First names"
            [inputId]="aliasControl['fm_personal_details_alias_forenames'].inputId"
            [inputName]="aliasControl['fm_personal_details_alias_forenames'].inputName"
            inputClasses="govuk-input--width-20"
            [control]="
              form.get([
                'fm_personal_details_aliases',
                rowIndex,
                aliasControl['fm_personal_details_alias_forenames'].controlName,
              ])
            "
            [errors]="formControlErrorMessages[aliasControl['fm_personal_details_alias_forenames'].controlName]"
          ></opal-lib-govuk-text-input>
          <opal-lib-govuk-text-input
            labelText="Last name"
            [inputId]="aliasControl['fm_personal_details_alias_surname'].inputId"
            [inputName]="aliasControl['fm_personal_details_alias_surname'].inputName"
            inputClasses="govuk-input--width-20"
            [control]="
              form.get([
                'fm_personal_details_aliases',
                rowIndex,
                aliasControl['fm_personal_details_alias_surname'].controlName,
              ])
            "
            [errors]="formControlErrorMessages[aliasControl['fm_personal_details_alias_surname'].controlName]"
            [opalLibCapitaliseAllCharacters]="
              form.get([
                'fm_personal_details_aliases',
                rowIndex,
                aliasControl['fm_personal_details_alias_surname'].controlName,
              ])!
            "
          ></opal-lib-govuk-text-input>
        </fieldset>
      }

      @if (aliasControls.length > 1) {
        <div class="govuk-!-margin-bottom-3">
          <a
            class="govuk-link govuk-link--no-visited-state"
            (click)="removeAlias(aliasControls.length - 1, 'fm_personal_details_aliases')"
            (keyup.enter)="removeAlias(aliasControls.length - 1, 'fm_personal_details_aliases')"
            [attr.aria-label]="'Remove alias ' + aliasControls.length"
            tabindex="0"
          >
            Remove <span class="govuk-visually-hidden">alias {{ aliasControls.length }}</span>
          </a>
        </div>
      }
      @if (aliasControls.length < 5) {
        <opal-lib-govuk-button
          buttonId="addAlias"
          buttonClasses="govuk-button--secondary govuk-!-margin-bottom-0"
          type="button"
          (buttonClickEvent)="addAlias(aliasControls.length, 'fm_personal_details_aliases')"
          >Add another alias</opal-lib-govuk-button
        >
      }
    </div>
  }
  <opal-lib-moj-date-picker
    labelText="Date of birth"
    labelClasses="govuk-label--s"
    inputId="fm_personal_details_dob"
    inputName="fm_personal_details_dob"
    inputClasses="govuk-input--width-10"
    hintText="For example, 31/01/2023"
    [control]="form.get('fm_personal_details_dob')!"
    [maxDate]="yesterday"
    (dateChange)="setInputValue($event, 'fm_personal_details_dob')"
    [errors]="formControlErrorMessages['fm_personal_details_dob']"
  ></opal-lib-moj-date-picker>
  @if (age && ageLabel) {
    <opal-lib-moj-ticket-panel
      componentClasses="govuk-!-width-one-third"
      sectionClasses="moj-ticket-panel__content--blue"
      [alert]="true"
    >
      <strong>Age: {{ age }}</strong>
      <p>{{ ageLabel }}</p>
    </opal-lib-moj-ticket-panel>
  }
  <opal-lib-govuk-text-input
    labelText="National Insurance number"
    inputId="fm_personal_details_national_insurance_number"
    inputName="fm_personal_details_national_insurance_number"
    inputClasses="govuk-input--width-10"
    labelClasses="govuk-label--s"
    [control]="form.get('fm_personal_details_national_insurance_number')"
    [errors]="formControlErrorMessages['fm_personal_details_national_insurance_number']"
    [opalLibCapitaliseAllCharacters]="form.get('fm_personal_details_national_insurance_number')!"
  ></opal-lib-govuk-text-input>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <fieldset class="govuk-fieldset">
    <h2 class="govuk-label-wrapper">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Address</legend>
    </h2>
    <opal-lib-govuk-text-input
      labelText="Address line 1"
      inputId="fm_personal_details_address_line_1"
      inputName="fm_personal_details_address_line_1"
      [control]="form.get('fm_personal_details_address_line_1')"
      [errors]="formControlErrorMessages['fm_personal_details_address_line_1']"
    ></opal-lib-govuk-text-input>
    <opal-lib-govuk-text-input
      labelText="Address line 2"
      inputId="fm_personal_details_address_line_2"
      inputName="fm_personal_details_address_line_2"
      [control]="form.get('fm_personal_details_address_line_2')"
      [errors]="formControlErrorMessages['fm_personal_details_address_line_2']"
    ></opal-lib-govuk-text-input>
    <opal-lib-govuk-text-input
      labelText="Address line 3"
      inputId="fm_personal_details_address_line_3"
      inputName="fm_personal_details_address_line_3"
      inputClasses="govuk-input--width-20"
      [control]="form.get('fm_personal_details_address_line_3')"
      [errors]="formControlErrorMessages['fm_personal_details_address_line_3']"
    ></opal-lib-govuk-text-input>
    <opal-lib-govuk-text-input
      labelText="Postcode"
      inputId="fm_personal_details_post_code"
      inputName="fm_personal_details_post_code"
      inputClasses="govuk-input--width-10"
      [control]="form.get('fm_personal_details_post_code')"
      [errors]="formControlErrorMessages['fm_personal_details_post_code']"
      [opalLibCapitaliseAllCharacters]="form.get('fm_personal_details_post_code')!"
    ></opal-lib-govuk-text-input>
  </fieldset>
  @if (defendantType === defendantTypesKeys.adultOrYouthOnly) {
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
    <fieldset class="govuk-fieldset">
      <h2 class="govuk-label-wrapper">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Vehicle details</legend>
      </h2>
      <opal-lib-govuk-text-input
        labelText="Make and model"
        inputId="fm_personal_details_vehicle_make"
        inputName="fm_personal_details_vehicle_make"
        inputClasses="govuk-input--width-20"
        labelClasses="govuk-label--s"
        [control]="form.get('fm_personal_details_vehicle_make')"
        [errors]="formControlErrorMessages['fm_personal_details_vehicle_make']"
      ></opal-lib-govuk-text-input>
      <opal-lib-govuk-text-input
        labelText="Registration number"
        inputId="fm_personal_details_vehicle_registration_mark"
        inputName="fm_personal_details_vehicle_registration_mark"
        inputClasses="govuk-input--width-10"
        labelClasses="govuk-label--s"
        [control]="form.get('fm_personal_details_vehicle_registration_mark')"
        [errors]="formControlErrorMessages['fm_personal_details_vehicle_registration_mark']"
        [opalLibCapitaliseAllCharacters]="form.get('fm_personal_details_vehicle_registration_mark')!"
      ></opal-lib-govuk-text-input>
    </fieldset>
  }
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <opal-lib-govuk-button buttonId="submitForm" type="submit"> Return to account details </opal-lib-govuk-button>
      @if (defendantType && finesMacNestedRoutes[defendantType].personalDetails) {
        <opal-lib-govuk-button
          buttonId="submitForm"
          type="submit"
          buttonClasses="nested-flow govuk-button--secondary govuk-!-margin-left-3"
        >
          {{ finesMacNestedRoutes[defendantType].personalDetails?.buttonText }}
        </opal-lib-govuk-button>
      }
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <opal-lib-govuk-cancel-link
        (linkClickEvent)="handleRoute(fineMacRoutingPaths.children.accountDetails)"
      ></opal-lib-govuk-cancel-link>
    </div>
  </div>
</form>
