<h1 class="govuk-heading-l">Defendant details</h1>
<opal-lib-govuk-error-summary
  [errors]="formErrorSummaryMessage"
  (errorClick)="scrollTo($event)"
></opal-lib-govuk-error-summary>
<form (submit)="handleFormSubmit($event)" [formGroup]="form">
  <opal-lib-govuk-select
    labelText="Title"
    labelClasses="govuk-label--s"
    selectId="facc_debtor_add_amend_title"
    selectName="facc_debtor_add_amend_title"
    [options]="titleOptions"
    [control]="form.get('facc_debtor_add_amend_title')!"
    [errors]="formControlErrorMessages['facc_debtor_add_amend_title']"
  ></opal-lib-govuk-select>
  <opal-lib-govuk-text-input
    labelText="First names"
    inputId="facc_debtor_add_amend_forenames"
    inputName="facc_debtor_add_amend_forenames"
    inputClasses="govuk-input--width-20"
    labelClasses="govuk-label--s"
    hintText="Include their middle names"
    [control]="form.get('facc_debtor_add_amend_forenames')"
    [errors]="formControlErrorMessages['facc_debtor_add_amend_forenames']"
  ></opal-lib-govuk-text-input>
  <opal-lib-govuk-text-input
    labelText="Last name"
    inputId="facc_debtor_add_amend_surname"
    inputName="facc_debtor_add_amend_surname"
    inputClasses="govuk-input--width-20"
    labelClasses="govuk-label--s"
    [control]="form.get('facc_debtor_add_amend_surname')"
    [errors]="formControlErrorMessages['facc_debtor_add_amend_surname']"
    [opalLibCapitaliseAllCharacters]="form.get('facc_debtor_add_amend_surname')!"
  ></opal-lib-govuk-text-input>
  <opal-lib-govuk-checkboxes fieldSetId="addAliasCheckbox" checkboxClasses="" legendText="">
    <div
      opal-lib-govuk-checkboxes-item
      labelText="Add aliases"
      inputId="facc_debtor_add_amend_add_alias"
      inputName="facc_debtor_add_amend_add_alias"
      [control]="form.get('facc_debtor_add_amend_add_alias')"
    ></div>
  </opal-lib-govuk-checkboxes>
  @if (form.get('facc_debtor_add_amend_add_alias')?.value === true) {
    <div
      opal-lib-govuk-checkboxes-conditional
      conditionalId="facc_debtor_add_amend_add_alias"
      formArrayName="facc_debtor_add_amend_aliases"
    >
      @for (aliasControl of aliasControls; let rowIndex = $index; track rowIndex) {
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Alias {{ rowIndex + 1 }}</legend>
          <opal-lib-govuk-text-input
            labelText="First names"
            [inputId]="aliasControl['facc_debtor_add_amend_alias_forenames'].inputId"
            [inputName]="aliasControl['facc_debtor_add_amend_alias_forenames'].inputName"
            inputClasses="govuk-input--width-20"
            [control]="
              form.get([
                'facc_debtor_add_amend_aliases',
                rowIndex,
                aliasControl['facc_debtor_add_amend_alias_forenames'].controlName,
              ])
            "
            [errors]="formControlErrorMessages[aliasControl['facc_debtor_add_amend_alias_forenames'].controlName]"
          ></opal-lib-govuk-text-input>
          <opal-lib-govuk-text-input
            labelText="Last name"
            [inputId]="aliasControl['facc_debtor_add_amend_alias_surname'].inputId"
            [inputName]="aliasControl['facc_debtor_add_amend_alias_surname'].inputName"
            inputClasses="govuk-input--width-20"
            [control]="
              form.get([
                'facc_debtor_add_amend_aliases',
                rowIndex,
                aliasControl['facc_debtor_add_amend_alias_surname'].controlName,
              ])
            "
            [errors]="formControlErrorMessages[aliasControl['facc_debtor_add_amend_alias_surname'].controlName]"
            [opalLibCapitaliseAllCharacters]="
              form.get([
                'facc_debtor_add_amend_aliases',
                rowIndex,
                aliasControl['facc_debtor_add_amend_alias_surname'].controlName,
              ])!
            "
          ></opal-lib-govuk-text-input>
        </fieldset>
      }
      @if (aliasControls.length > 1) {
        <div class="govuk-!-margin-bottom-3">
          <a
            class="govuk-link govuk-link--no-visited-state"
            (click)="removeAlias(aliasControls.length - 1, 'facc_debtor_add_amend_aliases')"
            (keyup.enter)="removeAlias(aliasControls.length - 1, 'facc_debtor_add_amend_aliases')"
            tabindex="0"
          >
            Remove
          </a>
        </div>
      }
      @if (aliasControls.length < 5) {
        <opal-lib-govuk-button
          buttonId="addAlias"
          buttonClasses="govuk-button--secondary govuk-!-margin-bottom-0"
          type="button"
          (buttonClickEvent)="addAlias(aliasControls.length, 'facc_debtor_add_amend_aliases')"
          >Add another alias</opal-lib-govuk-button
        >
      }
    </div>
  }
  <opal-lib-moj-date-picker
    labelText="Date of birth"
    labelClasses="govuk-label--s"
    inputId="facc_debtor_add_amend_dob"
    inputName="facc_debtor_add_amend_dob"
    inputClasses="govuk-input--width-10"
    hintText="For example, 31/01/2023"
    [control]="form.get('facc_debtor_add_amend_dob')!"
    [maxDate]="yesterday"
    (dateChange)="setInputValue($event, 'facc_debtor_add_amend_dob')"
    [errors]="formControlErrorMessages['facc_debtor_add_amend_dob']"
  ></opal-lib-moj-date-picker>
  @if (age && ageLabel) {
    <opal-lib-moj-ticket-panel
      componentClasses="govuk-!-width-one-third"
      sectionClasses="moj-ticket-panel__content--blue"
      [alert]="true"
    >
      <strong>Age: {{ age }}</strong>
      <p>{{ ageLabel }}</p>
    </opal-lib-moj-ticket-panel>
  }
  <opal-lib-govuk-text-input
    labelText="National Insurance number"
    inputId="facc_debtor_add_amend_national_insurance_number"
    inputName="facc_debtor_add_amend_national_insurance_number"
    inputClasses="govuk-input--width-10"
    labelClasses="govuk-label--s"
    [control]="form.get('facc_debtor_add_amend_national_insurance_number')"
    [errors]="formControlErrorMessages['facc_debtor_add_amend_national_insurance_number']"
    [opalLibCapitaliseAllCharacters]="form.get('facc_debtor_add_amend_national_insurance_number')!"
  ></opal-lib-govuk-text-input>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Address</legend>
    <opal-lib-govuk-text-input
      labelText="Address line 1"
      inputId="facc_debtor_add_amend_address_line_1"
      inputName="facc_debtor_add_amend_address_line_1"
      [control]="form.get('facc_debtor_add_amend_address_line_1')"
      [errors]="formControlErrorMessages['facc_debtor_add_amend_address_line_1']"
    ></opal-lib-govuk-text-input>
    <opal-lib-govuk-text-input
      labelText="Address line 2"
      inputId="facc_debtor_add_amend_address_line_2"
      inputName="facc_debtor_add_amend_address_line_2"
      [control]="form.get('facc_debtor_add_amend_address_line_2')"
      [errors]="formControlErrorMessages['facc_debtor_add_amend_address_line_2']"
    ></opal-lib-govuk-text-input>
    <opal-lib-govuk-text-input
      labelText="Address line 3"
      inputId="facc_debtor_add_amend_address_line_3"
      inputName="facc_debtor_add_amend_address_line_3"
      inputClasses="govuk-input--width-20"
      [control]="form.get('facc_debtor_add_amend_address_line_3')"
      [errors]="formControlErrorMessages['facc_debtor_add_amend_address_line_3']"
    ></opal-lib-govuk-text-input>
    <opal-lib-govuk-text-input
      labelText="Postcode"
      inputId="facc_debtor_add_amend_post_code"
      inputName="facc_debtor_add_amend_post_code"
      inputClasses="govuk-input--width-10"
      [control]="form.get('facc_debtor_add_amend_post_code')"
      [errors]="formControlErrorMessages['facc_debtor_add_amend_post_code']"
      [opalLibCapitaliseAllCharacters]="form.get('facc_debtor_add_amend_post_code')!"
    ></opal-lib-govuk-text-input>
  </fieldset>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Contact details</legend>
    <opal-lib-govuk-text-input
      labelText="Primary email address"
      inputId="facc_debtor_add_amend_contact_email_address_1"
      inputName="facc_debtor_add_amend_contact_email_address_1"
      labelClasses="govuk-label--s"
      [control]="form.get('facc_debtor_add_amend_contact_email_address_1')"
      [errors]="formControlErrorMessages['facc_debtor_add_amend_contact_email_address_1']"
    ></opal-lib-govuk-text-input>
    <opal-lib-govuk-text-input
      labelText="Secondary email address"
      inputId="facc_debtor_add_amend_contact_email_address_2"
      inputName="facc_debtor_add_amend_contact_email_address_2"
      labelClasses="govuk-label--s"
      [control]="form.get('facc_debtor_add_amend_contact_email_address_2')"
      [errors]="formControlErrorMessages['facc_debtor_add_amend_contact_email_address_2']"
    ></opal-lib-govuk-text-input>
    <opal-lib-govuk-text-input
      labelText="Mobile telephone number"
      inputId="facc_debtor_add_amend_contact_telephone_number_mobile"
      inputName="facc_debtor_add_amend_contact_telephone_number_mobile"
      labelClasses="govuk-label--s"
      [control]="form.get('facc_debtor_add_amend_contact_telephone_number_mobile')"
      [errors]="formControlErrorMessages['facc_debtor_add_amend_contact_telephone_number_mobile']"
    ></opal-lib-govuk-text-input>
    <opal-lib-govuk-text-input
      labelText="Home telephone number"
      inputId="facc_debtor_add_amend_contact_telephone_number_home"
      inputName="facc_debtor_add_amend_contact_telephone_number_home"
      labelClasses="govuk-label--s"
      [control]="form.get('facc_debtor_add_amend_contact_telephone_number_home')"
      [errors]="formControlErrorMessages['facc_debtor_add_amend_contact_telephone_number_home']"
    ></opal-lib-govuk-text-input>
    <opal-lib-govuk-text-input
      labelText="Work telephone number"
      inputId="facc_debtor_add_amend_contact_telephone_number_business"
      inputName="facc_debtor_add_amend_contact_telephone_number_business"
      labelClasses="govuk-label--s"
      [control]="form.get('facc_debtor_add_amend_contact_telephone_number_business')"
      [errors]="formControlErrorMessages['facc_debtor_add_amend_contact_telephone_number_business']"
    ></opal-lib-govuk-text-input>
  </fieldset>

  @if (showLanguagePreferences()) {
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Language preferences</legend>
      <opal-lib-govuk-radio
        fieldSetId="facc_debtor_add_amend_language_preferences_document_language"
        legendText="Documents"
        legendClasses="govuk-fieldset__legend--s"
      >
        @for (languageOption of languageOptions; track languageOption.key) {
          <div
            opal-lib-govuk-radios-item
            [labelText]="languageOption.value"
            [inputId]="languageOption.key + 'DocumentRadioOption'"
            inputName="facc_debtor_add_amend_language_preferences_document_language"
            [inputValue]="languageOption.key"
            [control]="form.get('facc_debtor_add_amend_language_preferences_document_language')"
          ></div>
        }
      </opal-lib-govuk-radio>

      <opal-lib-govuk-radio
        fieldSetId="facc_debtor_add_amend_language_preferences_hearing_language"
        legendText="Court hearings"
        legendClasses="govuk-fieldset__legend--s"
      >
        @for (languageOption of languageOptions; track languageOption.key) {
          <div
            opal-lib-govuk-radios-item
            [labelText]="languageOption.value"
            [inputId]="languageOption.key + 'CourtHearingRadioOption'"
            inputName="facc_debtor_add_amend_language_preferences_hearing_language"
            [inputValue]="languageOption.key"
            [control]="form.get('facc_debtor_add_amend_language_preferences_hearing_language')"
          ></div>
        }
      </opal-lib-govuk-radio>
    </fieldset>
  }

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Vehicle details</legend>
    <opal-lib-govuk-text-input
      labelText="Make and model"
      inputId="facc_debtor_add_amend_vehicle_make"
      inputName="facc_debtor_add_amend_vehicle_make"
      inputClasses="govuk-input--width-20"
      labelClasses="govuk-label--s"
      [control]="form.get('facc_debtor_add_amend_vehicle_make')"
      [errors]="formControlErrorMessages['facc_debtor_add_amend_vehicle_make']"
    ></opal-lib-govuk-text-input>
    <opal-lib-govuk-text-input
      labelText="Registration number"
      inputId="facc_debtor_add_amend_vehicle_registration_mark"
      inputName="facc_debtor_add_amend_vehicle_registration_mark"
      inputClasses="govuk-input--width-10"
      labelClasses="govuk-label--s"
      [control]="form.get('facc_debtor_add_amend_vehicle_registration_mark')"
      [errors]="formControlErrorMessages['facc_debtor_add_amend_vehicle_registration_mark']"
      [opalLibCapitaliseAllCharacters]="form.get('facc_debtor_add_amend_vehicle_registration_mark')!"
    ></opal-lib-govuk-text-input>
  </fieldset>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Employer details</legend>
    <opal-lib-govuk-text-input
      labelText="Employer name"
      inputId="facc_debtor_add_amend_employer_details_employer_company_name"
      inputName="facc_debtor_add_amend_employer_details_employer_company_name"
      labelClasses="govuk-label--s"
      [control]="form.get('facc_debtor_add_amend_employer_details_employer_company_name')"
      [errors]="formControlErrorMessages['facc_debtor_add_amend_employer_details_employer_company_name']"
    ></opal-lib-govuk-text-input>
    <opal-lib-govuk-text-input
      labelText="Employee reference"
      inputId="facc_debtor_add_amend_employer_details_employer_reference"
      inputName="facc_debtor_add_amend_employer_details_employer_reference"
      inputClasses="govuk-input--width-10"
      labelClasses="govuk-label--s"
      hintText="If employee reference not known, add National Insurance number"
      [control]="form.get('facc_debtor_add_amend_employer_details_employer_reference')"
      [errors]="formControlErrorMessages['facc_debtor_add_amend_employer_details_employer_reference']"
      [opalLibCapitaliseAllCharacters]="form.get('facc_debtor_add_amend_employer_details_employer_reference')!"
    ></opal-lib-govuk-text-input>
    <opal-lib-govuk-text-input
      labelText="Employer email address"
      inputId="facc_debtor_add_amend_employer_details_employer_email_address"
      inputName="facc_debtor_add_amend_employer_details_employer_email_address"
      labelClasses="govuk-label--s"
      [control]="form.get('facc_debtor_add_amend_employer_details_employer_email_address')"
      [errors]="formControlErrorMessages['facc_debtor_add_amend_employer_details_employer_email_address']"
    ></opal-lib-govuk-text-input>
    <opal-lib-govuk-text-input
      labelText="Employer telephone"
      inputId="facc_debtor_add_amend_employer_details_employer_telephone_number"
      inputName="facc_debtor_add_amend_employer_details_employer_telephone_number"
      inputClasses="govuk-input--width-20"
      labelClasses="govuk-label--s"
      [control]="form.get('facc_debtor_add_amend_employer_details_employer_telephone_number')"
      [errors]="formControlErrorMessages['facc_debtor_add_amend_employer_details_employer_telephone_number']"
    ></opal-lib-govuk-text-input>
  </fieldset>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Employer address</legend>
    <opal-lib-govuk-text-input
      labelText="Address line 1"
      inputId="facc_debtor_add_amend_employer_details_employer_address_line_1"
      inputName="facc_debtor_add_amend_employer_details_employer_address_line_1"
      [control]="form.get('facc_debtor_add_amend_employer_details_employer_address_line_1')"
      [errors]="formControlErrorMessages['facc_debtor_add_amend_employer_details_employer_address_line_1']"
    ></opal-lib-govuk-text-input>
    <opal-lib-govuk-text-input
      labelText="Address line 2"
      inputId="facc_debtor_add_amend_employer_details_employer_address_line_2"
      inputName="facc_debtor_add_amend_employer_details_employer_address_line_2"
      [control]="form.get('facc_debtor_add_amend_employer_details_employer_address_line_2')"
      [errors]="formControlErrorMessages['facc_debtor_add_amend_employer_details_employer_address_line_2']"
    ></opal-lib-govuk-text-input>
    <opal-lib-govuk-text-input
      labelText="Address line 3"
      inputId="facc_debtor_add_amend_employer_details_employer_address_line_3"
      inputName="facc_debtor_add_amend_employer_details_employer_address_line_3"
      [control]="form.get('facc_debtor_add_amend_employer_details_employer_address_line_3')"
      [errors]="formControlErrorMessages['facc_debtor_add_amend_employer_details_employer_address_line_3']"
    ></opal-lib-govuk-text-input>
    <opal-lib-govuk-text-input
      labelText="Address line 4"
      inputId="facc_debtor_add_amend_employer_details_employer_address_line_4"
      inputName="facc_debtor_add_amend_employer_details_employer_address_line_4"
      [control]="form.get('facc_debtor_add_amend_employer_details_employer_address_line_4')"
      [errors]="formControlErrorMessages['facc_debtor_add_amend_employer_details_employer_address_line_4']"
    ></opal-lib-govuk-text-input>
    <opal-lib-govuk-text-input
      labelText="Address line 5"
      inputId="facc_debtor_add_amend_employer_details_employer_address_line_5"
      inputName="facc_debtor_add_amend_employer_details_employer_address_line_5"
      [control]="form.get('facc_debtor_add_amend_employer_details_employer_address_line_5')"
      [errors]="formControlErrorMessages['facc_debtor_add_amend_employer_details_employer_address_line_5']"
    ></opal-lib-govuk-text-input>
    <opal-lib-govuk-text-input
      labelText="Postcode"
      inputId="facc_debtor_add_amend_employer_details_employer_post_code"
      inputName="facc_debtor_add_amend_employer_details_employer_post_code"
      inputClasses="govuk-input--width-10"
      [control]="form.get('facc_debtor_add_amend_employer_details_employer_post_code')"
      [errors]="formControlErrorMessages['facc_debtor_add_amend_employer_details_employer_post_code']"
      [opalLibCapitaliseAllCharacters]="form.get('facc_debtor_add_amend_employer_details_employer_post_code')!"
    ></opal-lib-govuk-text-input>
  </fieldset>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <opal-lib-govuk-button buttonId="submitForm" type="submit">Save changes</opal-lib-govuk-button>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <opal-lib-govuk-cancel-link
        (linkClickEvent)="handleRoute(finesAccRoutingPaths.children.details)"
      ></opal-lib-govuk-cancel-link>
    </div>
  </div>
</form>
