<div class="govuk-form-group" [class.govuk-form-group--error]="!!errors">
  <label class="govuk-label {{ labelClasses }}" [for]="autoCompleteId"> {{ labelText }} </label>
  @if (hintText) {
    <div id="{{ inputId }}-hint" class="govuk-hint">
      {{ hintText }}
    </div>
  }

  @if (errors) {
    <p id="{{ this.autoCompleteId }}-error-message" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error: </span> {{ errors }}
    </p>
  }

  <div #autocomplete id="{{ autoCompleteId }}-container" class="{{ inputClasses }}"></div>
  <input [id]="inputId" [name]="inputName" type="hidden" [formControl]="getControl" />
</div>
