:host ::ng-deep {
  .autocomplete__option {
    font-family: 'GDS Transport', arial, sans-serif;
  }

  .govuk-input--error input {
    border-color: #d4351c;
  }

  .autocomplete__input {
    background-color: #fff;
  }
}
