<app-govuk-heading-with-caption captionText="Create account" headingText="Business unit and defendant type">
</app-govuk-heading-with-caption>
<app-govuk-error-summary [errors]="formErrorSummaryMessage" (errorClick)="scrollTo($event)"></app-govuk-error-summary>
<form (submit)="handleFormSubmit($event)">
  @if (autoCompleteItems.length === 1) {
    <p>The account will be created in {{ autoCompleteItems[0].name }}</p>
  } @else {
    <app-alphagov-accessible-autocomplete
      [control]="form.controls['fm_create_account_business_unit_id']"
      labelText="Business unit"
      labelClasses="govuk-fieldset__legend--m"
      inputId="fm_create_account_business_unit_id"
      inputName="fm_create_account_business_unit_id"
      label="Search for a user"
      hintText="Enter area where the account is to be created"
      [autoCompleteItems]="autoCompleteItems"
      [errors]="formControlErrorMessages['fm_create_account_business_unit_id']"
    ></app-alphagov-accessible-autocomplete>
  }

  <app-govuk-radio
    fieldSetId="fm_create_account_account_type"
    legendText="Account type"
    legendClasses="govuk-fieldset__legend--m"
    [errors]="formControlErrorMessages['fm_create_account_account_type']"
  >
    @for (accountType of accountTypes; track accountType.key) {
      <div
        app-govuk-radios-item
        [labelText]="accountType.value"
        [inputId]="accountType.key"
        inputName="fm_create_account_account_type"
        [inputValue]="accountType.key"
        [control]="form.get('fm_create_account_account_type')"
        [inputValueHint]="accountType.key === 'conditionalCaution' ? 'Adult or youth only' : ''"
      ></div>

      @switch (accountType.key) {
        @case ('fine') {
          @if (form.get('fm_create_account_account_type')?.value === 'fine') {
            <ng-container
              *ngTemplateOutlet="
                defendantTypesRadioOptions;
                context: { defendantTypes: fineDefendantTypes, isFine: true }
              "
            ></ng-container>
          }
        }
        @case ('fixedPenalty') {
          @if (form.get('fm_create_account_account_type')?.value === 'fixedPenalty') {
            <ng-container
              *ngTemplateOutlet="
                defendantTypesRadioOptions;
                context: { defendantTypes: fixedPenaltyDefendantTypes, isFine: false }
              "
            ></ng-container>
          }
        }
      }
    }
  </app-govuk-radio>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <lib-govuk-button buttonId="submitForm" type="submit">Continue</lib-govuk-button>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <app-govuk-cancel-link
        (linkClickEvent)="handleRoute(routingPath.children.dashboard, true)"
      ></app-govuk-cancel-link>
    </div>
  </div>
</form>

<ng-template #defendantTypesRadioOptions let-defendantTypes="defendantTypes" let-isFine="isFine">
  <div app-govuk-radios-conditional conditionalId="radio">
    <app-govuk-radio
      [fieldSetId]="isFine ? 'fm_create_account_fine_defendant_type' : 'fm_create_account_fixed_penalty_defendant_type'"
      legendText="Defendant type"
      legendClasses="govuk-fieldset__legend--m"
      legendHint="If sole trader, choose 'Adult or youth only'"
      [errors]="
        isFine
          ? formControlErrorMessages['fm_create_account_fine_defendant_type']
          : formControlErrorMessages['fm_create_account_fixed_penalty_defendant_type']
      "
    >
      @for (defendantType of defendantTypes; track defendantType.key) {
        <div
          app-govuk-radios-item
          [labelText]="defendantType.value"
          [inputId]="defendantType.key"
          [inputName]="
            isFine ? 'fm_create_account_fine_defendant_type' : 'fm_create_account_fixed_penalty_defendant_type'
          "
          [inputValue]="defendantType.key"
          [control]="
            isFine
              ? form.get('fm_create_account_fine_defendant_type')
              : form.get('fm_create_account_fixed_penalty_defendant_type')
          "
        ></div>
      }
    </app-govuk-radio>
  </div>
</ng-template>
