<opal-lib-govuk-heading-with-caption captionText="Create account" headingText="Business unit and defendant type">
</opal-lib-govuk-heading-with-caption>
<opal-lib-govuk-error-summary
  [errors]="formErrorSummaryMessage"
  (errorClick)="scrollTo($event)"
></opal-lib-govuk-error-summary>
<form (submit)="handleFormSubmit($event)">
  @if (autoCompleteItems.length === 1) {
    <p>The account will be created in {{ autoCompleteItems[0].name }}</p>
  } @else {
    <opal-lib-alphagov-accessible-autocomplete
      [control]="form.get('fm_create_account_business_unit_id')"
      labelText="Business unit"
      labelClasses="govuk-fieldset__legend--m"
      inputId="fm_create_account_business_unit_id"
      inputName="fm_create_account_business_unit_id"
      label="Search for a user"
      hintText="Enter area where the account is to be created"
      [autoCompleteItems]="autoCompleteItems"
      [errors]="formControlErrorMessages['fm_create_account_business_unit_id']"
      [tabIndex]="0"
    ></opal-lib-alphagov-accessible-autocomplete>
  }

  <opal-lib-govuk-radio
    fieldSetId="fm_create_account_account_type"
    legendText="Account type"
    legendClasses="govuk-fieldset__legend--m"
    [errors]="formControlErrorMessages['fm_create_account_account_type']"
  >
    @for (accountType of accountTypes; track accountType.key) {
      <div
        opal-lib-govuk-radios-item
        [labelText]="accountType.value"
        [inputId]="accountType.key"
        inputName="fm_create_account_account_type"
        [inputValue]="accountType.value"
        [control]="form.get('fm_create_account_account_type')"
        [inputValueHint]="accountType.value === accountTypesKeys['Conditional Caution'] ? 'Adult or youth only' : ''"
      ></div>

      @switch (accountType.value) {
        @case (accountTypesKeys.Fine) {
          @if (form.get('fm_create_account_account_type')?.value === accountTypesKeys.Fine) {
            <div aria-live="polite" aria-labelledby="fine-conditional-label">
              <span id="fine-conditional-label" class="govuk-visually-hidden">
                Defendant type options for Fine account
              </span>
              <ng-container
                *ngTemplateOutlet="
                  defendantTypesRadioOptions;
                  context: { defendantTypes: fineDefendantTypes, isFine: true }
                "
              ></ng-container>
            </div>
          }
        }
        @case (accountTypesKeys['Fixed Penalty']) {
          @if (form.get('fm_create_account_account_type')?.value === accountTypesKeys['Fixed Penalty']) {
            <div aria-live="polite" aria-labelledby="fixed-penalty-conditional-label">
              <span id="fixed-penalty-conditional-label" class="govuk-visually-hidden">
                Defendant type options for Fixed Penalty account
              </span>
              <ng-container
                *ngTemplateOutlet="
                  defendantTypesRadioOptions;
                  context: { defendantTypes: fixedPenaltyDefendantTypes, isFine: false }
                "
              ></ng-container>
            </div>
          }
        }
      }
    }
  </opal-lib-govuk-radio>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <opal-lib-govuk-button buttonId="submitForm" type="submit">Continue</opal-lib-govuk-button>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <opal-lib-govuk-cancel-link
        (linkClickEvent)="handleRoute(routingPath.children.dashboard, true)"
      ></opal-lib-govuk-cancel-link>
    </div>
  </div>
</form>

<ng-template #defendantTypesRadioOptions let-defendantTypes="defendantTypes" let-isFine="isFine">
  <div opal-lib-govuk-radios-conditional conditionalId="radio">
    <opal-lib-govuk-radio
      [fieldSetId]="isFine ? 'fm_create_account_fine_defendant_type' : 'fm_create_account_fixed_penalty_defendant_type'"
      legendText="Defendant type"
      legendClasses="govuk-fieldset__legend--m"
      legendHint="If sole trader, choose 'Adult or youth only'"
      [errors]="
        isFine
          ? formControlErrorMessages['fm_create_account_fine_defendant_type']
          : formControlErrorMessages['fm_create_account_fixed_penalty_defendant_type']
      "
    >
      @for (defendantType of defendantTypes; track defendantType.key) {
        <div
          opal-lib-govuk-radios-item
          [labelText]="defendantType.value"
          [inputId]="defendantType.key"
          [inputName]="
            isFine ? 'fm_create_account_fine_defendant_type' : 'fm_create_account_fixed_penalty_defendant_type'
          "
          [inputValue]="defendantType.key"
          [control]="
            isFine
              ? form.get('fm_create_account_fine_defendant_type')
              : form.get('fm_create_account_fixed_penalty_defendant_type')
          "
        ></div>
      }
    </opal-lib-govuk-radio>
  </div>
</ng-template>
