<div class="govuk-grid-column-full">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <app-fines-acc-details-account-data-block></app-fines-acc-details-account-data-block>
    </div>
    <opal-lib-custom-action-links id="actionLinks">
      <h2 class="govuk-heading-s" heading>Actions</h2>
      <opal-lib-govuk-list links>
        <opal-lib-govuk-list-link
          linkText="Add enforcement action"
          (linkClickEvent)="handleLinkClick()"
        ></opal-lib-govuk-list-link>
        <opal-lib-govuk-list-link
          linkText="Perform hmrc check"
          (linkClickEvent)="handleLinkClick()"
        ></opal-lib-govuk-list-link>
        <opal-lib-govuk-list-link
          linkText="Remove enforcement action"
          (linkClickEvent)="handleLinkClick()"
        ></opal-lib-govuk-list-link>
      </opal-lib-govuk-list>
    </opal-lib-custom-action-links>
  </div>
</div>
