<h1 class="govuk-heading-l">Search for an account</h1>
<opal-lib-govuk-error-summary
  [errors]="formErrorSummaryMessage"
  (errorClick)="scrollTo($event)"
></opal-lib-govuk-error-summary>
<p class="govuk-hint">
  Use quick search to search by either account number, or reference or case number, or National Insurance number, or use
  advanced search.
</p>
<form (submit)="handleFormSubmit($event)">
  <opal-lib-govuk-summary-list summaryListId="accountDetails">
    <div
      opal-lib-govuk-summary-list-row
      class="govuk-summary-list__row"
      summaryListId="accountDetails"
      summaryListRowId="languagePreferences"
      [actionEnabled]="true"
      (actionClick)="goToFilterBusinessUnits()"
    >
      <ng-container name>Filter by business unit</ng-container>
      <ng-container value>{{ businessUnitText }} </ng-container>
      <ng-container action>Change</ng-container>
    </div>
  </opal-lib-govuk-summary-list>
  <h2 class="govuk-heading-m govuk-!-margin-bottom-5">Quick search</h2>
  <opal-lib-govuk-text-input
    labelText="Account number"
    labelClasses="govuk-label--s"
    hintText="For example, 12345678 or 12345678A"
    inputId="fsa_search_account_number"
    inputName="fsa_search_account_number"
    inputClasses="govuk-input--width-10"
    [control]="form.get('fsa_search_account_number')"
    [errors]="formControlErrorMessages['fsa_search_account_number']"
  ></opal-lib-govuk-text-input>
  <opal-lib-govuk-text-input
    labelText="Reference or case number"
    labelClasses="govuk-label--s"
    inputId="fsa_search_account_reference_case_number"
    inputName="fsa_search_account_reference_case_number"
    inputClasses="govuk-input--width-10"
    [control]="form.get('fsa_search_account_reference_case_number')"
    [errors]="formControlErrorMessages['fsa_search_account_reference_case_number']"
  ></opal-lib-govuk-text-input>
  <opal-lib-govuk-text-input
    labelText="National Insurance number"
    inputId="fsa_search_account_individuals_national_insurance_number"
    inputName="fsa_search_account_individuals_national_insurance_number"
    hintText="For example, QQ123456C"
    inputClasses="govuk-input--width-10"
    labelClasses="govuk-label--s"
    [control]="
      form.get(
        'fsa_search_account_individuals_search_criteria.fsa_search_account_individuals_national_insurance_number'
      )
    "
    [errors]="formControlErrorMessages['fsa_search_account_individuals_national_insurance_number']"
  ></opal-lib-govuk-text-input>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-m govuk-!-margin-bottom-6">Advanced search</h2>
  <opal-lib-govuk-tabs tabId="defendantTabs">
    <ng-container tab-list-items>
      <li
        opal-lib-govuk-tabs-list-item
        tabItemFragment="individuals"
        [activeTabItemFragment]="finesSaStore.activeTab()"
        tabItemId="tab-individuals"
      >
        <ng-content [linkText]>Individuals</ng-content>
      </li>
      <li
        opal-lib-govuk-tabs-list-item
        tabItemFragment="companies"
        [activeTabItemFragment]="finesSaStore.activeTab()"
        tabItemId="tab-companies"
      >
        <ng-content [linkText]>Companies</ng-content>
      </li>
      <li
        opal-lib-govuk-tabs-list-item
        tabItemFragment="minorCreditors"
        [activeTabItemFragment]="finesSaStore.activeTab()"
        tabItemId="tab-minor-creditors"
      >
        <ng-content [linkText]>Minor creditors</ng-content>
      </li>
      <li
        opal-lib-govuk-tabs-list-item
        tabItemFragment="majorCreditors"
        [activeTabItemFragment]="finesSaStore.activeTab()"
        tabItemId="tab-major-creditors"
      >
        <ng-content [linkText]>Major creditors</ng-content>
      </li>
    </ng-container>
    <ng-container tab-panels>
      @switch (finesSaStore.activeTab()) {
        @case ('individuals') {
          <opal-lib-govuk-tabs-panel id="individuals">
            <app-fines-sa-search-account-form-individuals
              [form]="searchCriteriaForm"
              [formControlErrorMessages]="formControlErrorMessages"
            >
            </app-fines-sa-search-account-form-individuals>
          </opal-lib-govuk-tabs-panel>
        }
        @case ('companies') {
          <opal-lib-govuk-tabs-panel id="companies">
            <app-fines-sa-search-account-form-companies
              [form]="searchCriteriaForm"
              [formControlErrorMessages]="formControlErrorMessages"
            ></app-fines-sa-search-account-form-companies>
          </opal-lib-govuk-tabs-panel>
        }
        @case ('minorCreditors') {
          <opal-lib-govuk-tabs-panel id="minorCreditors">
            <app-fines-sa-search-account-form-minor-creditors
              [form]="searchCriteriaForm"
              [formControlErrorMessages]="formControlErrorMessages"
              (formErrorSummaryMessagesChange)="updateFormErrorSummaryMessages($event)"
            ></app-fines-sa-search-account-form-minor-creditors>
          </opal-lib-govuk-tabs-panel>
        }
        @case ('majorCreditors') {
          <opal-lib-govuk-tabs-panel id="majorCreditors">
            <app-fines-sa-search-account-form-major-creditors
              [form]="searchCriteriaForm"
              [formControlErrorMessages]="formControlErrorMessages"
              [majorCreditorsAutoCompleteItems]="majorCreditors()"
              (formErrorSummaryMessagesChange)="updateFormErrorSummaryMessages($event)"
              (filterBusinessUnitClicked)="goToFilterBusinessUnits()"
            ></app-fines-sa-search-account-form-major-creditors>
          </opal-lib-govuk-tabs-panel>
        }
      }
    </ng-container>
  </opal-lib-govuk-tabs>
  <opal-lib-govuk-checkboxes fieldSetId="activeAccountsOnly" checkboxClasses="" legendText="">
    <div
      opal-lib-govuk-checkboxes-item
      labelText="Active accounts only"
      inputId="fsa_search_account_active_accounts_only"
      inputName="fsa_search_account_active_accounts_only"
      class="govuk-checkboxes--small"
      [control]="form.get('fsa_search_account_active_accounts_only')"
    ></div>
  </opal-lib-govuk-checkboxes>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <opal-lib-govuk-button buttonId="submitForm" type="submit">Search</opal-lib-govuk-button>
    </div>
  </div>
</form>
