<div class="govuk-grid-column-full">
  <opal-lib-govuk-back-link (clickEvent)="navigateBack()"></opal-lib-govuk-back-link>
  <h1 class="govuk-heading-l">All rejected accounts</h1>
  @if (rejectedAccounts.length > 0) {
    <app-fines-draft-table-wrapper
      [tableData]="rejectedAccounts"
      [existingSortState]="tableSort"
      activeTab="rejected"
      (linkClicked)="onDefendantClick($event)"
    ></app-fines-draft-table-wrapper>
  } @else {
    <p>There are no rejected accounts.</p>
  }
</div>
