<opal-lib-govuk-heading-with-caption
  [captionText]="accountStore.account_number()! + ' - ' + accountStore.party_name()!"
  headingText="Payment terms"
></opal-lib-govuk-heading-with-caption>

<opal-lib-govuk-error-summary
  [errors]="formErrorSummaryMessage"
  (errorClick)="scrollTo($event)"
></opal-lib-govuk-error-summary>
<form (submit)="handleFormSubmit($event)" [formGroup]="form">
  <opal-lib-govuk-radio
    fieldSetId="facc_payment_terms_payment_terms"
    legendText="Select payment terms"
    legendClasses="govuk-fieldset__legend--s"
    [errors]="formControlErrorMessages['facc_payment_terms_payment_terms']"
  >
    @for (paymentTerm of paymentTerms; track paymentTerm.key) {
      <div
        opal-lib-govuk-radios-item
        [labelText]="paymentTerm.value"
        [inputId]="paymentTerm.key"
        [inputName]="'facc_payment_terms_payment_terms'"
        [inputValue]="paymentTerm.key"
        [control]="form.get('facc_payment_terms_payment_terms')"
      ></div>

      @switch (paymentTerm.key) {
        @case ('payInFull') {
          @if (form.get('facc_payment_terms_payment_terms')!.value === paymentTerm.key) {
            <span id="payment-term-pay-in-full-conditional-label" class="govuk-visually-hidden">
              Options for Pay In Full
            </span>
            <div opal-lib-govuk-radios-conditional conditionalId="facc_payment_terms_payment_terms">
              <div class="govuk-form-group">
                <opal-lib-moj-date-picker
                  labelText="Enter pay by date"
                  labelClasses="govuk-label--s"
                  inputId="facc_payment_terms_pay_by_date"
                  inputName="facc_payment_terms_pay_by_date"
                  inputClasses="govuk-input--width-10"
                  hintText="For example, 31/01/2023"
                  [control]="form.get('facc_payment_terms_pay_by_date')!"
                  [errors]="formControlErrorMessages['facc_payment_terms_pay_by_date']"
                  (dateChange)="setInputValue($event, 'facc_payment_terms_pay_by_date')"
                ></opal-lib-moj-date-picker>
                @if (payByDateInPast) {
                  <ng-container
                    *ngTemplateOutlet="dateInPastTemplate; context: { $implicit: 'Pay by date' }"
                  ></ng-container>
                }
                @if (payByDateInFuture) {
                  <ng-container
                    *ngTemplateOutlet="dateInFutureTemplate; context: { $implicit: 'Pay by date' }"
                  ></ng-container>
                }
              </div>
            </div>
          }
        }
        @case ('instalmentsOnly') {
          @if (form.get('facc_payment_terms_payment_terms')!.value === paymentTerm.key) {
            <span id="payment-term-instalments-only-conditional-label" class="govuk-visually-hidden">
              Options for Instalments Only
            </span>
            <div opal-lib-govuk-radios-conditional conditionalId="facc_payment_terms_payment_terms">
              <ng-container *ngTemplateOutlet="instalmentsFrequencyStartDate"></ng-container>
            </div>
          }
        }
        @case ('lumpSumPlusInstalments') {
          @if (form.get('facc_payment_terms_payment_terms')!.value === paymentTerm.key) {
            <span id="payment-term-lump-sum-plus-instalments-conditional-label" class="govuk-visually-hidden">
              Options for Lump Sum Plus Instalments
            </span>
            <div opal-lib-govuk-radios-conditional conditionalId="facc_payment_terms_payment_terms">
              <div class="govuk-form-group">
                <opal-lib-govuk-text-input-prefix-suffix
                  labelText="Lump sum"
                  labelClasses="govuk-label--s"
                  inputId="facc_payment_terms_lump_sum_amount"
                  inputName="facc_payment_terms_lump_sum_amount"
                  inputClasses="govuk-input--width-5"
                  prefixText="£"
                  [control]="form.get('facc_payment_terms_lump_sum_amount')"
                  [errors]="formControlErrorMessages['facc_payment_terms_lump_sum_amount']"
                  [forceTwoDecimalPoints]="true"
                >
                </opal-lib-govuk-text-input-prefix-suffix>
              </div>
              <ng-container *ngTemplateOutlet="instalmentsFrequencyStartDate"></ng-container>
            </div>
          }
        }
      }
    }
  </opal-lib-govuk-radio>

  <hr [class]="FINES_ACC_SECTION_BREAK" />
  @if (!isYouth) {
    <opal-lib-govuk-checkboxes
      fieldSetId="daysInDefaultCheckbox"
      legendText="Days in default"
      legendClasses="govuk-fieldset__legend--s"
    >
      <div
        opal-lib-govuk-checkboxes-item
        labelText="There are days in default"
        inputId="facc_payment_terms_has_days_in_default"
        inputName="facc_payment_terms_has_days_in_default"
        [control]="form.get('facc_payment_terms_has_days_in_default')"
      ></div>

      @if (form.get('facc_payment_terms_has_days_in_default')?.value) {
        <span id="has-days-in-default-conditional-label" class="govuk-visually-hidden">
          Options for Has days in default
        </span>
        <div opal-lib-govuk-checkboxes-conditional conditionalId="facc_payment_terms_has_days_in_default">
          <div class="govuk-form-group">
            <opal-lib-moj-date-picker
              labelText="Date days in default were imposed"
              labelClasses="govuk-label--s"
              inputId="facc_payment_terms_suspended_committal_date"
              inputName="facc_payment_terms_suspended_committal_date"
              inputClasses="govuk-input--width-10"
              hintText="This should be whichever date is most recent - the sentencing date or the date of the suspended committal order."
              [control]="form.get('facc_payment_terms_suspended_committal_date')!"
              [errors]="formControlErrorMessages['facc_payment_terms_suspended_committal_date']"
              (dateChange)="setInputValue($event, 'facc_payment_terms_suspended_committal_date')"
            ></opal-lib-moj-date-picker>
          </div>
          <div class="govuk-form-group">
            <opal-lib-govuk-text-input-prefix-suffix
              labelText="Enter days in default"
              labelClasses="govuk-label--s"
              inputId="facc_payment_terms_default_days_in_jail"
              inputName="facc_payment_terms_default_days_in_jail"
              inputClasses="govuk-input--width-5"
              suffixText="days"
              [control]="form.get('facc_payment_terms_default_days_in_jail')"
              [errors]="formControlErrorMessages['facc_payment_terms_default_days_in_jail']"
            ></opal-lib-govuk-text-input-prefix-suffix>
          </div>
          <div class="govuk-form-group">
            <app-fines-mac-default-days
              [date]="form.get('facc_payment_terms_suspended_committal_date')?.value"
            ></app-fines-mac-default-days>
          </div>
        </div>
      }
    </opal-lib-govuk-checkboxes>

    <hr [class]="FINES_ACC_SECTION_BREAK" />
  }

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <opal-lib-govuk-text-area
        labelText="Reason for change"
        labelClasses="govuk-label--s"
        inputId="facc_payment_terms_reason_for_change"
        inputName="facc_payment_terms_reason_for_change"
        [control]="form.get('facc_payment_terms_reason_for_change')"
        [rows]="5"
        [errors]="formControlErrorMessages['facc_payment_terms_reason_for_change']"
        [characterCountEnabled]="true"
        [maxCharacterLimit]="250"
      ></opal-lib-govuk-text-area>
    </div>
  </div>

  <hr [class]="FINES_ACC_SECTION_BREAK" />

  @if (preventPaymentCard()) {
    <ng-container
      *ngTemplateOutlet="paymentCardTemplate; context: { $implicit: 'Payment card request blocked' }"
    ></ng-container>
  } @else {
    <opal-lib-govuk-checkboxes
      fieldSetId="ffacc_payment_terms_payment_card_request"
      legendText="Payment card"
      legendClasses="govuk-fieldset__legend--s"
      [errors]="formControlErrorMessages['facc_payment_terms_payment_card_request']"
    >
      <div
        opal-lib-govuk-checkboxes-item
        labelText="Request payment card"
        inputId="facc_payment_terms_payment_card_request"
        inputName="facc_payment_terms_payment_card_request"
        [control]="form.get('facc_payment_terms_payment_card_request')"
      ></div>
    </opal-lib-govuk-checkboxes>
  }

  <div class="govuk-!-margin-top-4">
    <opal-lib-govuk-checkboxes
      fieldSetId="facc_payment_terms_change_letter"
      legendText="Change letter"
      legendClasses="govuk-fieldset__legend--s"
      [errors]="formControlErrorMessages['facc_payment_terms_change_letter']"
    >
      <div
        opal-lib-govuk-checkboxes-item
        labelText="Generate payment terms change letter"
        inputId="facc_payment_terms_change_letter"
        inputName="facc_payment_terms_change_letter"
        [control]="form.get('facc_payment_terms_change_letter')"
      ></div>
    </opal-lib-govuk-checkboxes>
  </div>

  <hr [class]="FINES_ACC_SECTION_BREAK" />

  <!-- Form Actions -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <opal-lib-govuk-button buttonId="submitForm" type="submit">Save changes</opal-lib-govuk-button>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <opal-lib-govuk-cancel-link
        (linkClickEvent)="handleRoute(finesAccRoutingPaths.children.details)"
      ></opal-lib-govuk-cancel-link>
    </div>
  </div>
</form>

<!-- Template for Instalments Frequency and Start Date -->
<ng-template #instalmentsFrequencyStartDate>
  <div class="govuk-form-group">
    <opal-lib-govuk-text-input-prefix-suffix
      labelText="Instalment"
      labelClasses="govuk-label--s"
      inputId="facc_payment_terms_instalment_amount"
      inputName="facc_payment_terms_instalment_amount"
      inputClasses="govuk-input--width-5"
      prefixText="£"
      [control]="form.get('facc_payment_terms_instalment_amount')"
      [errors]="formControlErrorMessages['facc_payment_terms_instalment_amount']"
      [forceTwoDecimalPoints]="true"
    >
    </opal-lib-govuk-text-input-prefix-suffix>
  </div>
  <div class="govuk-form-group">
    <opal-lib-govuk-radio
      fieldSetId="facc_payment_terms_instalment_period"
      legendText="Frequency"
      legendClasses="govuk-fieldset__legend--s"
      [errors]="formControlErrorMessages['facc_payment_terms_instalment_period']"
    >
      @for (frequency of frequencyOptions; track frequency.key) {
        <div
          opal-lib-govuk-radios-item
          [labelText]="frequency.value"
          [inputId]="frequency.key"
          inputName="facc_payment_terms_instalment_period"
          [inputValue]="frequency.key"
          [control]="form.get('facc_payment_terms_instalment_period')"
        ></div>
      }
    </opal-lib-govuk-radio>
  </div>
  <div class="govuk-form-group">
    <opal-lib-moj-date-picker
      labelText="Start date"
      labelClasses="govuk-label--s"
      inputId="facc_payment_terms_start_date"
      inputName="facc_payment_terms_start_date"
      inputClasses="govuk-input--width-10"
      hintText="For example, 31/01/2023"
      [control]="form.get('facc_payment_terms_start_date')!"
      [errors]="formControlErrorMessages['facc_payment_terms_start_date']"
      (dateChange)="setInputValue($event, 'facc_payment_terms_start_date')"
    ></opal-lib-moj-date-picker>
    @if (startDateInPast) {
      <ng-container *ngTemplateOutlet="dateInPastTemplate; context: { $implicit: 'Start date' }"></ng-container>
    }
    @if (startDateInFuture) {
      <ng-container *ngTemplateOutlet="dateInFutureTemplate; context: { $implicit: 'Start date' }"></ng-container>
    }
  </div>
</ng-template>

<!-- Date validation templates -->
<ng-template #dateInPastTemplate let-fieldName>
  <opal-lib-moj-ticket-panel sectionClasses="moj-ticket-panel__content--orange" [alert]="true">
    <strong>{{ fieldName }} is in the past</strong>
    <p>You can continue with date in the past or change</p>
  </opal-lib-moj-ticket-panel>
</ng-template>

<ng-template #dateInFutureTemplate let-fieldName>
  <opal-lib-moj-ticket-panel sectionClasses="moj-ticket-panel__content--orange" [alert]="true">
    <strong>{{ fieldName }} is more than 6 months in the future</strong>
    <p>You can continue with date in the future or change</p>
  </opal-lib-moj-ticket-panel>
</ng-template>

<ng-template #paymentCardTemplate let-fieldName>
  <opal-lib-moj-ticket-panel sectionClasses="moj-ticket-panel__content--blue" [alert]="true">
    <strong>{{ fieldName }}</strong>
    <p class="govuk-!-margin-bottom-1">You cannot request a payment card. This may be because:</p>
    <ul>
      <li>a card has already been requested and is being processed</li>
      <li>the current enforcement action does not allow it</li>
      <li>your business unit does not allow payment card requests</li>
    </ul>
  </opal-lib-moj-ticket-panel>
</ng-template>
