@if (tabData.defendant_account_party; as party) {
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        @if (party.party_details.organisation_flag) {
          <h2 [class]="style.heading">Company Details</h2>
        } @else {
          <h2 [class]="style.heading">Defendant Details</h2>
        }
      </div>
      @if (hasAccountMaintenencePermission) {
        <div class="govuk-grid-column-one-third govuk-!-text-align-right govuk-!-margin-top-3">
          <a
            tabindex="0"
            [class]="style.changeLink"
            (click)="handleChangeDefendantDetails()"
            (keyup.enter)="handleChangeDefendantDetails()"
            >Change</a
          >
        </div>
      }
    </div>
    <hr [class]="style.hr" />

    <app-fines-acc-party-details
      [party]="party"
      cardTitle="Defendant details"
      summaryCardListId="defendant"
      summaryListId="defendantDetails"
    ></app-fines-acc-party-details>
  </div>
  <div class="govuk-grid-column-one-third">
    <hr [class]="style.hr" />
    <h2 [class]="style.heading">Actions</h2>
    <p>
      <a tabindex="0" (click)="handleConvertAccount()" (keyup.enter)="handleConvertAccount()"
        >Convert to {{ party.party_details.organisation_flag ? 'an individual' : 'a company' }} account</a
      >
    </p>
  </div>
}
