@if (tabData.defendant_account_party; as party) {
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        @if (party.party_details.organisation_flag) {
          <h2 [class]="style.heading">Company Details</h2>
        } @else {
          <h2 [class]="style.heading">Defendant Details</h2>
        }
      </div>
      @if (hasAccountMaintenencePermission) {
        <div class="govuk-grid-column-one-third govuk-!-text-align-right govuk-!-margin-top-3">
          <a
            tabindex="0"
            [class]="style.changeLink"
            (click)="handleChangeDefendantDetails()"
            (keyup.enter)="handleChangeDefendantDetails()"
            >Change</a
          >
        </div>
      }
    </div>
    <hr [class]="style.hr" />

    <app-fines-acc-party-details
      [party]="party"
      cardTitle="Defendant details"
      summaryCardListId="defendant"
      summaryListId="defendantDetails"
    ></app-fines-acc-party-details>
  </div>
  @if (convertAction) {
    <div class="govuk-grid-column-one-third">
      <hr [class]="style.hr" />
      <h2 [class]="style.heading">Actions</h2>
      <p>
        @if (convertAction.interactive) {
          <a
            tabindex="0"
            class="govuk-link govuk-link--no-visited-state"
            (click)="handleConvertAccount()"
            (keyup.enter)="handleConvertAccount()"
            >{{ convertAction.label }}</a
          >
        } @else {
          <span>{{ convertAction.label }}</span>
        }
      </p>
    </div>
  }
}
