<h1 class="govuk-heading-l">
  {{ defendantName }}
</h1>
<opal-lib-govuk-tag
  [tagClasses]="
    accountStatus === 'Deleted' || accountStatus === 'Failed' || isRejected ? 'govuk-tag govuk-tag--red' : 'govuk-tag'
  "
  tagId="status"
  >{{ accountStatus }}</opal-lib-govuk-tag
>
<h3 class="govuk-heading-m govuk-!-margin-top-4">Review history</h3>
<opal-lib-moj-timeline>
  @for (timelineItem of timelineData; track $index) {
    <opal-lib-moj-timeline-item>
      <span title>{{ timelineItem.status }}</span>
      <span user>{{ timelineItem.username }}</span>
      <span date>{{ dateService.getFromFormatToFormat(timelineItem.status_date, 'yyyy-MM-dd', 'dd MMMM yyyy') }}</span>
      @if (timelineItem.reason_text) {
        <span description>{{ timelineItem.reason_text }}</span>
      }
    </opal-lib-moj-timeline-item>
  }
</opal-lib-moj-timeline>
