<h1 class="govuk-heading-l">
  {{ defendantName }}
</h1>
<app-govuk-tag tagClasses="govuk-tag govuk-tag--red" tagId="status">{{ accountStatus }}</app-govuk-tag>
<h3 class="govuk-heading-m govuk-!-margin-top-4">Review history</h3>
<app-moj-timeline>
  @for (timelineItem of timelineData; track timelineItem.status_date) {
    <app-moj-timeline-item>
      <span title>{{ timelineItem.status }}</span>
      <span user>{{ timelineItem.username }}</span>
      <span date>{{ dateService.getFromFormatToFormat(timelineItem.status_date, 'yyyy-MM-dd', 'dd MMMM yyyy') }}</span>
      @if (timelineItem.reason_text) {
        <span description>{{ timelineItem.reason_text }}</span>
      }
    </app-moj-timeline-item>
  }
</app-moj-timeline>
