/* You can add global styles to this file, and also import other style files */
@import 'govuk-frontend/dist/govuk/helpers/colour';
@import 'govuk-frontend/dist/govuk/settings/colours-applied';
@import 'govuk-frontend/dist/govuk/objects/_width-container.scss';
@import 'govuk-frontend/dist/govuk/helpers/_spacing.scss';
@import 'home-office-kit/sass/_loadingSpinner.scss';

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'GDS Transport', arial, sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the page container takes the full height of the viewport */
}

.content-wrapper {
  flex: 1; /* This makes the main content area grow to take up the available space */
}

.govuk-width-container {
  height: 100%;
}

.govuk-width-container,
.moj-header__container {
  @include govuk-width-container(1028px);
}

.govuk-main-wrapper {
  padding-bottom: 1rem; /* Add some padding to the bottom if necessary */
}

opal-lib-govuk-footer {
  margin-top: auto; /* Push the footer to the bottom of the page */
}

.border-top {
  &__none {
    border-top: none !important;
  }
}

.govuk-color {
  &__error {
    color: govuk-colour('red') !important;
  }
}

.govuk-error-colour {
  color: $govuk-error-colour;
}

.govuk-link-colour {
  color: $govuk-link-colour;
}

.govuk-light-grey-background-color {
  background-color: govuk-colour('light-grey');
}

.govuk-blue-background-white-text {
  background-color: govuk-colour('blue');
  color: govuk-colour('white');
}

.govuk-white-background {
  background-color: govuk-colour('white');
}
