/* You can add global styles to this file, and also import other style files */
@import 'govuk-frontend/dist/govuk/helpers/colour';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'GDS Transport', arial, sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.border-top {
  &__none {
    border-top: none !important;
  }
}

.govuk-color {
  &__error {
    color: govuk-colour('red') !important;
  }
}
