<h1 class="govuk-heading-l">Individuals</h1>
<div class="no-margin-bottom">
  <opal-lib-govuk-text-input
    labelText="Last name"
    labelClasses="govuk-label--s"
    inputId="fsa_search_account_individuals_last_name"
    inputName="fsa_search_account_individuals_last_name"
    inputClasses="govuk-input--width-20"
    [control]="form.controls['fsa_search_account_individuals_last_name']"
    [errors]="formControlErrorMessages['fsa_search_account_individuals_last_name']"
  ></opal-lib-govuk-text-input>
</div>
<opal-lib-govuk-checkboxes fieldSetId="lastNameExactMatch" checkboxClasses="" legendText="">
  <div
    opal-lib-govuk-checkboxes-item
    labelText="Search exact match"
    inputId="fsa_search_account_individuals_last_name_exact_match"
    inputName="fsa_search_account_individuals_last_name_exact_match"
    class="govuk-checkboxes--small"
    [control]="form.get('fsa_search_account_individuals_last_name_exact_match')"
  ></div>
</opal-lib-govuk-checkboxes>
<div class="no-margin-bottom">
  <opal-lib-govuk-text-input
    labelText="First names"
    labelClasses="govuk-label--s"
    inputId="fsa_search_account_individuals_first_names"
    inputName="fsa_search_account_individuals_first_names"
    inputClasses="govuk-input--width-20"
    [control]="form.controls['fsa_search_account_individuals_first_names']"
    [errors]="formControlErrorMessages['fsa_search_account_individuals_first_names']"
  ></opal-lib-govuk-text-input>
</div>
<opal-lib-govuk-checkboxes fieldSetId="firstNamesExactMatch" checkboxClasses="" legendText="">
  <div
    opal-lib-govuk-checkboxes-item
    labelText="Search exact match"
    inputId="fsa_search_account_individuals_first_names_exact_match"
    inputName="fsa_search_account_individuals_first_names_exact_match"
    class="govuk-checkboxes--small"
    [control]="form.get('fsa_search_account_individuals_first_names_exact_match')"
  ></div>
</opal-lib-govuk-checkboxes>
<opal-lib-govuk-checkboxes fieldSetId="includeAliases" checkboxClasses="" legendText="">
  <div
    opal-lib-govuk-checkboxes-item
    labelText="Include aliases"
    inputId="fsa_search_account_individuals_include_aliases"
    inputName="fsa_search_account_individuals_include_aliases"
    class="govuk-checkboxes--small"
    [control]="form.get('fsa_search_account_individuals_include_aliases')"
  ></div>
</opal-lib-govuk-checkboxes>
<opal-lib-moj-date-picker
  labelText="Date of birth"
  labelClasses="govuk-label--s"
  inputId="fsa_search_account_individuals_date_of_birth"
  inputName="fsa_search_account_individuals_date_of_birth"
  inputClasses="govuk-input--width-10"
  hintText="For example, 31/01/2023"
  [control]="form.controls['fsa_search_account_individuals_date_of_birth']"
  [maxDate]="yesterday"
  [errors]="formControlErrorMessages['fsa_search_account_individuals_date_of_birth']"
></opal-lib-moj-date-picker>
<opal-lib-govuk-text-input
  labelText="National Insurance number"
  inputId="fsa_search_account_individuals_national_insurance_number"
  inputName="fsa_search_account_individuals_national_insurance_number"
  hintText="For example, QQ123456C"
  inputClasses="govuk-input--width-10"
  labelClasses="govuk-label--s"
  [control]="form.controls['fsa_search_account_individuals_national_insurance_number']"
  [errors]="formControlErrorMessages['fsa_search_account_individuals_national_insurance_number']"
></opal-lib-govuk-text-input>
<opal-lib-govuk-text-input
  labelText="Address line 1"
  labelClasses="govuk-label--s"
  inputId="fsa_search_account_individuals_address_line_1"
  inputName="fsa_search_account_individuals_address_line_1"
  inputClasses="govuk-!-width-three-quarters"
  [control]="form.controls['fsa_search_account_individuals_address_line_1']"
  [errors]="formControlErrorMessages['fsa_search_account_individuals_address_line_1']"
></opal-lib-govuk-text-input>
<opal-lib-govuk-text-input
  labelText="Postcode"
  labelClasses="govuk-label--s"
  inputId="fsa_search_account_individuals_post_code"
  inputName="fsa_search_account_individuals_post_code"
  inputClasses="govuk-input--width-10"
  [control]="form.controls['fsa_search_account_individuals_post_code']"
  [errors]="formControlErrorMessages['fsa_search_account_individuals_post_code']"
></opal-lib-govuk-text-input>
