<h1 class="govuk-heading-l">Search offences</h1>
<opal-lib-govuk-error-summary
  [errors]="formErrorSummaryMessage"
  (errorClick)="scrollTo($event)"
></opal-lib-govuk-error-summary>
<form (submit)="handleFormSubmit($event)">
  <opal-lib-govuk-text-input
    labelText="Offence code"
    labelClasses="govuk-fieldset__legend--s"
    inputId="fm_offence_details_search_offences_code"
    inputName="fm_offence_details_search_offences_code"
    [control]="form.controls['fm_offence_details_search_offences_code']"
    [errors]="formControlErrorMessages['fm_offence_details_search_offences_code']"
    inputClasses="govuk-input--width-10"
  ></opal-lib-govuk-text-input>
  <opal-lib-govuk-text-input
    labelText="Short title"
    labelClasses="govuk-fieldset__legend--s"
    inputId="fm_offence_details_search_offences_short_title"
    inputName="fm_offence_details_search_offences_short_title"
    [control]="form.controls['fm_offence_details_search_offences_short_title']"
    [errors]="formControlErrorMessages['fm_offence_details_search_offences_short_title']"
  ></opal-lib-govuk-text-input>
  <opal-lib-govuk-text-area
    labelText="Act and section"
    labelClasses="govuk-label--s"
    inputId="fm_offence_details_search_offences_act_section"
    inputName="fm_offence_details_search_offences_act_section"
    [control]="form.controls['fm_offence_details_search_offences_act_section']"
    [errors]="formControlErrorMessages['fm_offence_details_search_offences_act_section']"
    [rows]="4"
    [maxCharacterLimit]="4001"
  ></opal-lib-govuk-text-area>
  <opal-lib-govuk-checkboxes-item
    labelText="Include inactive offence codes"
    inputId="fm_offence_details_search_offences_inactive"
    inputName="fm_offence_details_search_offences_inactive"
    class="govuk-checkboxes--small"
    [control]="form.controls['fm_offence_details_search_offences_inactive']"
  >
  </opal-lib-govuk-checkboxes-item>
  <div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
      <opal-lib-govuk-button buttonId="submitForm" type="submit">Search</opal-lib-govuk-button>
    </div>
  </div>
</form>
