<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-m">Dashboard</h1>
  <ul class="govuk-list">
    <li>
      <span>{{ globalStateService.userState().userName }}</span>
    </li>
    <li>
      <a class="govuk-link" [routerLink]="accountEnquiryRoutes.accountEnquiry" id="accountEnquiryLink"
        >Account Enquiry</a
      >
    </li>
    <li>
      <a class="govuk-link" [routerLink]="manualAccountCreationRoutes.createAccount" id="manualAccountCreationLink"
        >Manually Create Account</a
      >
    </li>
  </ul>
</div>
