<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-m">Dashboard</h1>
  <ul class="govuk-list">
    <li>
      <span>{{ globalStore.userState().username }}</span>
    </li>
    <li>
      <a
        class="govuk-link"
        [routerLink]="
          '/' +
          finesRoutingPaths.root +
          '/' +
          finesRoutingPaths.children.mac.root +
          '/' +
          finesRoutingPaths.children.mac.children['createAccount']
        "
        id="finesMacLink"
        >Manual Account Creation</a
      >
    </li>
    @if (permissionIds.includes(dashboardPermissions['check-and-validate-draft-accounts'])) {
      <li>
        <a
          class="govuk-link"
          [routerLink]="
            '/' +
            finesRoutingPaths.root +
            '/' +
            finesRoutingPaths.children.draft.root +
            '/' +
            finesRoutingPaths.children.draft.children['checkAndValidate'] +
            '/' +
            finesDraftCheckAndValidateRoutingPaths.children.tabs
          "
          fragment="to-review"
          id="finesCavCheckerLink"
          >Check and Validate Draft Accounts</a
        >
      </li>
    }
    @if (permissionIds.includes(dashboardPermissions['create-and-manage-draft-accounts'])) {
      <li>
        <a
          class="govuk-link"
          [routerLink]="
            '/' +
            finesRoutingPaths.root +
            '/' +
            finesRoutingPaths.children.draft.root +
            '/' +
            finesRoutingPaths.children.draft.children['createAndManage'] +
            '/' +
            finesDraftCreateAndManageRoutingPaths.children.tabs
          "
          fragment="review"
          id="finesCavInputterLink"
          >Create and Manage Draft Accounts</a
        >
      </li>
    }
    @if (permissionIds.includes(dashboardPermissions['search-and-view-accounts'])) {
      <li>
        <a
          class="govuk-link"
          [routerLink]="
            '/' +
            finesRoutingPaths.root +
            '/' +
            finesRoutingPaths.children.sa.root +
            '/' +
            finesRoutingPaths.children.sa.children['search']
          "
          fragment="individuals"
          id="finesSaSearchLink"
          >Search for an account</a
        >
      </li>
    }
  </ul>
</div>
