<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-m">Dashboard</h1>
  <ul class="govuk-list">
    <li>
      <span>{{ globalStateService.userState().userName }}</span>
    </li>
    <li>
      <a
        class="govuk-link"
        [routerLink]="
          '/' +
          finesRoutingPaths.root +
          '/' +
          finesRoutingPaths.children.mac.root +
          '/' +
          finesRoutingPaths.children.mac.children['createAccount']
        "
        id="finesMacLink"
        >Manual Account Creation</a
      >
    </li>
  </ul>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<app-moj-primary-navigation primaryNavigationId="primaryNavigation" (activeItemFragment)="active = $event">
  <app-moj-primary-navigation-item
    primaryNavigationItemId="nav1"
    primaryNavigationItemFragment="nav1"
    primaryNavigationItemText="Nav item 1"
    [activeItemFragment]="active"
  ></app-moj-primary-navigation-item>
  <app-moj-primary-navigation-item
    primaryNavigationItemId="nav2"
    primaryNavigationItemFragment="nav2"
    primaryNavigationItemText="Nav item 2"
    [activeItemFragment]="active"
  ></app-moj-primary-navigation-item>
  <app-moj-primary-navigation-item
    primaryNavigationItemId="nav3"
    primaryNavigationItemFragment="nav3"
    primaryNavigationItemText="Nav item 3"
    [activeItemFragment]="active"
    [isLastItem]="true"
  ></app-moj-primary-navigation-item>
</app-moj-primary-navigation>
