<opal-lib-govuk-summary-card-list cardTitle="Company details" summaryCardListId="company-details">
  <ng-container actions>
    <app-fines-mac-review-account-change-link
      (emitChange)="changeCompanyDetails()"
    ></app-fines-mac-review-account-change-link>
  </ng-container>
  <ng-container content>
    <opal-lib-govuk-summary-list summaryListId="companyDetails">
      <div
        opal-lib-govuk-summary-list-row
        class="govuk-summary-list__row govuk-summary-list__row--no-actions"
        summaryListId="companyDetails"
        summaryListRowId="companyName"
      >
        <ng-container name>Company name</ng-container>
        <ng-container value>{{ companyDetails.fm_company_details_company_name }}</ng-container>
      </div>

      <div
        opal-lib-govuk-summary-list-row
        class="govuk-summary-list__row govuk-summary-list__row--no-actions"
        summaryListId="companyDetails"
        summaryListRowId="aliases"
      >
        <ng-container name>Aliases</ng-container>
        <ng-container value>
          @if (aliases.length > 0) {
            @for (alias of aliases; track alias) {
              {{ alias }}
              <br />
            }
          } @else {
            <app-fines-mac-review-account-not-provided></app-fines-mac-review-account-not-provided>
          }
        </ng-container>
      </div>
      <div
        opal-lib-govuk-summary-list-row
        class="govuk-summary-list__row govuk-summary-list__row--no-actions"
        summaryListId="companyDetails"
        summaryListRowId="address"
      >
        <ng-container name>Address</ng-container>
        <ng-container value>
          @for (addressLine of address; track addressLine) {
            {{ addressLine }}
            <br />
          }
        </ng-container>
      </div>
    </opal-lib-govuk-summary-list>
  </ng-container>
</opal-lib-govuk-summary-card-list>
