@if (showOffenceDetailsForm) {
  <div class="govuk-grid-column-full">
    <app-fines-mac-offence-details-add-an-offence-form
      [defendantType]="defendantType"
      [offenceIndex]="offenceIndex"
      [resultCodeItems]="resultsCodeData"
      [fcostMajorCreditorItems]="fcostMajorCreditorData"
      [fcompMajorCreditorItems]="fcompMajorCreditorData"
      (formSubmit)="handleOffenceDetailsSubmit($event)"
      (unsavedChanges)="handleUnsavedChanges($event)"
    >
    </app-fines-mac-offence-details-add-an-offence-form>
  </div>
}
