<div class="govuk-grid-column-full">
  <h1 class="govuk-heading-l">Automatic Cash Input</h1>
  <opal-lib-govuk-error-summary
    [errors]="formErrorSummaryMessage"
    (errorClick)="scrollTo($event)"
  ></opal-lib-govuk-error-summary>

  <div class="govuk-form-group" [class.govuk-form-group--error]="hasBusinessUnitSelectionError">
    <fieldset
      class="govuk-fieldset"
      [attr.aria-describedby]="hasBusinessUnitSelectionError ? 'fines-api-select-business-units-error' : null"
    >
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Select business units</legend>

      @if (hasBusinessUnitSelectionError) {
        <p id="fines-api-select-business-units-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ formErrorSummaryMessage[0].message }}
        </p>
      }

      <opal-lib-govuk-table
        caption="Business units available for Automatic Cash Input"
        captionClasses="govuk-visually-hidden"
      >
        <ng-container head>
          <th opal-lib-govuk-table-heading id="fines-api-select-business-units-header-select">
            <span class="govuk-visually-hidden">Select business units</span>
            <opal-lib-govuk-checkboxes
              fieldSetId="fines-api-select-business-units-group"
              checkboxClasses=""
              legendText=""
              legendClasses="govuk-!-margin-0"
            >
              <div
                class="govuk-checkboxes--small"
                opal-lib-govuk-checkboxes-item
                opalLibMojMultiSelectHead
                [control]="selectAllControl"
                inputId="fines-api-select-business-units"
                inputName="fines-api-select-business-units"
                labelText=""
                labelClasses="govuk-!-padding-0"
                ariaLabel="Select all business units"
                [selectAllIndeterminate]="someBusinessUnitsSelected"
                (toggleAll)="toggleAllBusinessUnits($event)"
              ></div>
            </opal-lib-govuk-checkboxes>
          </th>
          <th opal-lib-govuk-table-heading id="fines-api-select-business-units-header">Business unit</th>
          <th opal-lib-govuk-table-heading class="govuk-table__header--numeric">Files to process</th>
          <th opal-lib-govuk-table-heading class="govuk-table__header--numeric">Tills to allocate</th>
        </ng-container>

        <ng-container body>
          @for (businessUnit of businessUnits; track businessUnit.business_unit_id) {
            <tr
              opal-lib-govuk-table-body-row
              [bodyRowClasses]="
                isBusinessUnitSelected(businessUnit.business_unit_id) ? 'govuk-table__row--selected' : ''
              "
            >
              <td opal-lib-govuk-table-body-row-data id="fines-api-business-unit-select">
                <opal-lib-govuk-checkboxes
                  [fieldSetId]="'fines-api-business-unit-' + businessUnit.business_unit_id + '-group'"
                  checkboxClasses=""
                  [legendText]="'Select ' + businessUnit.business_unit_name"
                  legendClasses="govuk-!-margin-0 govuk-visually-hidden"
                >
                  <div
                    class="govuk-checkboxes--small"
                    opal-lib-govuk-checkboxes-item
                    opalLibMojMultiSelectBody
                    [control]="getBusinessUnitControl(businessUnit)"
                    [inputId]="'fines-api-business-unit-' + businessUnit.business_unit_id"
                    [inputName]="'fines-api-business-unit-' + businessUnit.business_unit_id"
                    labelText=""
                    labelClasses="govuk-!-padding-0"
                    [rowId]="businessUnit.business_unit_id"
                    [ariaLabel]="'Select ' + businessUnit.business_unit_name"
                    (selectionChange)="toggleBusinessUnit($event)"
                  ></div>
                </opal-lib-govuk-checkboxes>
              </td>
              <td opal-lib-govuk-table-body-row-data id="fines-api-business-unit-name">
                {{ businessUnit.business_unit_name }}
              </td>
              <td
                opal-lib-govuk-table-body-row-data
                id="fines-api-business-unit-file-count"
                class="govuk-table__cell--numeric"
              >
                {{ businessUnit.file_count }}
              </td>
              <td
                opal-lib-govuk-table-body-row-data
                id="fines-api-business-unit-till-count"
                class="govuk-table__cell--numeric"
              >
                {{ businessUnit.till_count }}
              </td>
            </tr>
          }
        </ng-container>
      </opal-lib-govuk-table>
    </fieldset>
  </div>
</div>

<div class="govuk-grid-column-two-thirds">
  <div class="govuk-button-group">
    <button
      class="govuk-button govuk-!-margin-right-4"
      (click)="continue()"
      id="fines-api-select-business-units-continue"
    >
      Continue
    </button>
    <opal-lib-govuk-cancel-link (linkClickEvent)="cancel()"></opal-lib-govuk-cancel-link>
  </div>
</div>
